{
  "openapi" : "3.1.0",
  "info" : {
    "contact" : {
      "email" : "helpdesk@europace2.de",
      "name" : "Europace AG",
      "url" : "www.europace2.de"
    },
    "description" : "Mit dieser API können die Vorgänge aus der Europace Plattform ausgelesen werden.",
    "title" : "Vorgänge API",
    "version" : "3.0"
  },
  "servers" : [ {
    "url" : "https://baufinanzierung.api.europace.de"
  } ],
  "security" : [ {
    "oauth2" : [ ]
  } ],
  "tags" : [ {
    "description" : "Dieser Endpunkt repräsentiert die Vertriebssicht.",
    "name" : "Vorgaenge"
  } ],
  "paths" : {
    "/v1/vorgaenge" : {
      "get" : {
        "operationId" : "getVorgaenge",
        "parameters" : [ {
          "description" : "Datenkontext",
          "in" : "query",
          "name" : "datenKontext",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ECHT_GESCHAEFT", "TEST_MODUS" ]
          }
        }, {
          "description" : "Der 'aenderungSeit' Parameter hat das 'ISO 8601' Format. Beispiele: '2020-07-10', '2020-07-10T13:00Z'",
          "in" : "query",
          "name" : "aenderungSeit",
          "required" : false,
          "schema" : {
            "type" : "string",
            "pattern" : "^([\\+-]?\\d{4}(?!\\d{2}\\b))((-?)((0[1-9]|1[0-2])(\\3([12]\\d|0[1-9]|3[01]))?|W([0-4]\\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\\d|[12]\\d{2}|3([0-5]\\d|6[1-6])))([T\\s]((([01]\\d|2[0-3])((:?)[0-5]\\d)?|24\\:?00)([\\.,]\\d+(?!:))?)?(\\17[0-5]\\d([\\.,]\\d+)?)?([zZ]|([\\+-])([01]\\d|2[0-3]):?([0-5]\\d)?)?)?)?$"
          }
        }, {
          "description" : "Sortierung der Vorgänge, aufsteigend oder absteigend",
          "in" : "query",
          "name" : "sort",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "absteigend"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "empty" : {
                      "type" : "boolean"
                    }
                  }
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "summary" : "alle sichtbaren Vorgänge",
        "tags" : [ "Vorgaenge" ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}" : {
      "get" : {
        "description" : "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId" : "getVorgang",
        "parameters" : [ {
          "description" : "Nummer des Vorgangs",
          "example" : "AB1234",
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[A-Z0-9]{6}"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "empty" : {
                      "type" : "boolean"
                    }
                  }
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "summary" : "einen Vorgang abrufen",
        "tags" : [ "Vorgaenge" ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/antraege" : {
      "get" : {
        "operationId" : "getAllVorgangsAntraege",
        "parameters" : [ {
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[A-Z0-9]{6}"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "empty" : {
                      "type" : "boolean"
                    }
                  }
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "summary" : "Alle Anträge zum Vorgang",
        "tags" : [ "Vorgaenge" ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}" : {
      "get" : {
        "operationId" : "getVorgangsAntraege",
        "parameters" : [ {
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[A-Z0-9]{6}"
          }
        }, {
          "in" : "path",
          "name" : "antragsNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "empty" : {
                      "type" : "boolean"
                    }
                  }
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "summary" : "Anträge zum Vorgang",
        "tags" : [ "Vorgaenge" ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}" : {
      "get" : {
        "operationId" : "getAntrag",
        "parameters" : [ {
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[A-Z0-9]{6}"
          }
        }, {
          "in" : "path",
          "name" : "antragsNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "in" : "path",
          "name" : "teilantragsNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "empty" : {
                      "type" : "boolean"
                    }
                  }
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "summary" : "Ein spezifischer Antrag des Vorgangs",
        "tags" : [ "Vorgaenge" ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}/status" : {
      "post" : {
        "operationId" : "setAntragsStatus",
        "parameters" : [ {
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[A-Z0-9]{6}"
          }
        }, {
          "in" : "path",
          "name" : "antragsNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "in" : "path",
          "name" : "teilantragsNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StatusDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "summary" : "Zum Setzen des Antragsstatus",
        "tags" : [ "Vorgaenge" ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/kundenBetreuer" : {
      "get" : {
        "description" : "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId" : "getKundenbetreuer",
        "parameters" : [ {
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[A-Z0-9]{6}"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "empty" : {
                      "type" : "boolean"
                    }
                  }
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "summary" : "Den Kundenbetreuer des Vorgangs abrufen",
        "tags" : [ "Vorgaenge" ]
      },
      "put" : {
        "operationId" : "updateKundenBetreuer",
        "parameters" : [ {
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[A-Z0-9]{6}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PartnerDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "tags" : [ "Vorgaenge" ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/vorgangsBearbeiter" : {
      "get" : {
        "description" : "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId" : "getVorgangsBearbeiter",
        "parameters" : [ {
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[A-Z0-9]{6}"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "object"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "summary" : "Den Vorgangsbearbeiter des Vorgangs abrufen",
        "tags" : [ "Vorgaenge" ]
      },
      "put" : {
        "operationId" : "putVorgangsBearbeiterId",
        "parameters" : [ {
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string",
            "pattern" : "^[A-Z0-9]{6}"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PartnerDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "tags" : [ "Vorgaenge" ]
      }
    }
  },
  "components" : {
    "headers" : {
      "Authorization" : {
        "description" : "Your authorization token. See https://docs.api.europace.de/common/authentifizierung/authorization-api/",
        "schema" : {
          "type" : "string"
        }
      },
      "X-Authentication" : {
        "description" : "Deprecated. Please use https://docs.api.europace.de/common/authentifizierung/authorization-api/",
        "schema" : {
          "type" : "string"
        }
      },
      "X-TraceId" : {
        "description" : "Your request ID. See https://docs.api.europace.de/common/tracing/",
        "schema" : {
          "type" : "string"
        }
      }
    },
    "schemas" : {
      "CharSequence" : { },
      "Email" : {
        "format" : "email"
      },
      "Error" : {
        "description" : "Kommuniziert einen Fehler in der Antwort der API",
        "example" : "{\n  \"message\": \"string\",\n  \"statusCode\": 0,\n  \"statusMessage\": \"string\",\n  \"timestamp\": \"string\",\n  \"traceId\": \"string\"\n}",
        "properties" : {
          "message" : { },
          "statusCode" : {
            "format" : "int32"
          },
          "statusMessage" : { },
          "timestamp" : {
            "format" : "date-time"
          },
          "traceId" : { }
        },
        "title" : "Error"
      },
      "Euro" : {
        "format" : "bigdecimal"
      },
      "Flaeche" : {
        "format" : "bigdecimal"
      },
      "IsoCountryCode" : { },
      "Jahreszahl" : { },
      "LocalDate" : {
        "format" : "date"
      },
      "MediaType" : { },
      "PartnerDTO" : {
        "type" : "object",
        "properties" : {
          "partnerId" : {
            "type" : "string",
            "pattern" : "^[A-Z]{3}[0-9]{2}"
          }
        }
      },
      "PartnerId" : { },
      "Prozent" : {
        "format" : "bigdecimal"
      },
      "StatusDTO" : {
        "type" : "object",
        "properties" : {
          "antragsteller" : {
            "type" : "string",
            "enum" : [ "BEANTRAGT", "UNTERSCHRIEBEN", "NICHT_ANGENOMMEN", "WIDERRUFEN" ]
          },
          "antragstellerAblehnungsgrund" : {
            "type" : "string",
            "enum" : [ "ANGEBOT_WETTBEWERBER", "KONDITIONEN_UNPASSEND", "KUNDE_NICHT_ERREICHBAR", "OBJEKT_NICHT_INTERESSANT", "OBJEKT_NICHT_VERFUEGBAR", "FINANZIERUNG_WIRD_ANGEPASST", "ANDERES_ANGEBOT_ANGENOMMEN", "ANDERER_GRUND", "BEARBEITUNGSZEIT" ]
          },
          "kommentar" : {
            "type" : "string"
          },
          "produktAnbieter" : {
            "type" : "string",
            "enum" : [ "NICHT_BEARBEITET", "UNTERSCHRIEBEN", "ABGELEHNT", "ZURUECKGESTELLT" ]
          },
          "produktanbieterAblehnungsgrund" : {
            "type" : "string",
            "enum" : [ "FINANZIELLE_SITUATION", "NEGATIV_MERKMAL", "WERTERMITTLUNG", "KRITERIEN", "UNTERLAGEN_UNVOLLSTAENDIG", "GEGENANGEBOT", "KEINE_ANGABE" ]
          }
        },
        "required" : [ "antragsteller", "produktAnbieter" ]
      },
      "URI" : {
        "format" : "uri"
      },
      "ZonedDateTime" : {
        "format" : "date-time"
      }
    },
    "securitySchemes" : {
      "oauth2" : {
        "flows" : {
          "clientCredentials" : {
            "scopes" : {
              "baufinanzierung:echtgeschaeft" : "Erlaubt das Anlegen von Vorgängen im Echtgeschäft",
              "baufinanzierung:vorgang:lesen" : "Erlaubt das Lesen von Vorgängen",
              "baufinanzierung:vorgang:schreiben" : "Erlaubt das Schreiben von Vorgängen"
            },
            "tokenUrl" : "https://api.europace.de/auth/access-token"
          }
        },
        "type" : "oauth2"
      }
    }
  }
}