---
swagger: "2.0"
info:
  description: "Mit dieser API können die Vorgänge aus der Europace Plattform ausgelesen\
    \ werden."
  version: "2.9"
  title: "Vorgänge API"
  contact:
    name: "Europace AG"
    url: "www.europace2.de"
    email: "helpdesk@europace2.de"
host: "baufismart.api.europace.de"
basePath: "/"
tags:
- name: "Vorgänge"
  description: "Dieser Endpunkt repräsentiert die Vertriebssicht."
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json;charset=UTF-8"
paths:
  /v2/vorgaenge:
    get:
      tags:
      - "Vorgänge"
      summary: "alle sichtbaren Vorgänge"
      operationId: "getVorgaenge"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "datenKontext"
        in: "query"
        description: "Datenkontext"
        required: false
        type: "string"
        default: "ECHT_GESCHAEFT"
        enum:
        - "ECHT_GESCHAEFT"
        - "TEST_MODUS"
      - name: "aenderungSeit"
        in: "query"
        description: "aenderungSeit"
        required: false
        type: "string"
      - name: "aenderungBis"
        in: "query"
        description: "aenderungBis"
        required: false
        type: "string"
      - name: "sort"
        in: "query"
        description: "Sortierung der Vorgänge, aufsteigend oder absteigend"
        required: false
        type: "string"
        default: "absteigend"
      - name: "page"
        in: "query"
        description: "page"
        required: false
        type: "integer"
        default: 0
        format: "int32"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Vorgaenge"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/vorgaenge/{vorgangsNummer}:
    get:
      tags:
      - "Vorgänge"
      summary: "einen Vorgang abrufen"
      description: "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart\
        \ erzeugt wurde."
      operationId: "getVorgang"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "Nummer des Vorgangs"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Vorgang"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
    patch:
      tags:
      - "Vorgänge"
      summary: "Änderung von Metadaten an einem bestehenden Vorgang"
      operationId: "updateVorgang"
      consumes:
      - "application/json-patch+json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      - in: "body"
        name: "patchOperations"
        description: "patchOperations"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Vorgang"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
      security:
      - oauth2:
        - "API"
  /v2/vorgaenge/{vorgangsNummer}/antraege:
    get:
      tags:
      - "Vorgänge"
      summary: "Alle Anträge zum Vorgang"
      operationId: "getAllVorgangsAntraege"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Antraege"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}:
    get:
      tags:
      - "Vorgänge"
      summary: "Anträge zum Vorgang"
      operationId: "getVorgangsAntraege"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      - name: "antragsNummer"
        in: "path"
        description: "antragsNummer"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Antraege"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}:
    get:
      tags:
      - "Vorgänge"
      summary: "Ein spezifischer Antrag des Vorgangs"
      operationId: "getAntrag"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      - name: "antragsNummer"
        in: "path"
        description: "antragsNummer"
        required: true
        type: "integer"
        format: "int32"
      - name: "teilantragsNummer"
        in: "path"
        description: "teilantragsNummer"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Antrag"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}/status:
    post:
      tags:
      - "Vorgänge"
      summary: "Zum Setzen des Antragsstatus"
      operationId: "setAntragsStatus"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      - name: "antragsNummer"
        in: "path"
        description: "antragsNummer"
        required: true
        type: "integer"
        format: "int32"
      - name: "teilantragsNummer"
        in: "path"
        description: "teilantragsNummer"
        required: true
        type: "integer"
        format: "int32"
      - in: "body"
        name: "statusDTO"
        description: "statusDTO"
        required: true
        schema:
          $ref: "#/definitions/StatusDTO"
      responses:
        200:
          description: "OK"
        202:
          description: "Accepted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/vorgaenge/{vorgangsNummer}/kundenBetreuer:
    get:
      tags:
      - "Vorgänge"
      summary: "Den Kundenbetreuer des Vorgangs abrufen"
      description: "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart\
        \ erzeugt wurde."
      operationId: "getKundenbetreuer"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Partner"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
    put:
      tags:
      - "Vorgänge"
      summary: "Den Kundenbetreuer ändern"
      operationId: "updateKundenBetreuerUsingPUT"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      - in: "body"
        name: "partnerDTO"
        description: "partnerDTO"
        required: true
        schema:
          $ref: "#/definitions/PartnerDTO"
      responses:
        201:
          description: "Created"
        204:
          description: "No Content"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - oauth2:
        - "API"
  /v2/vorgaenge/{vorgangsNummer}/vorgangsBearbeiter:
    get:
      tags:
      - "Vorgänge"
      summary: "Den Vorgangsbearbeiter des Vorgangs abrufen"
      description: "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart\
        \ erzeugt wurde."
      operationId: "getVorgangsBearbeiter"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Partner"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
    put:
      tags:
      - "Vorgänge"
      summary: "putVorgangsBearbeiterId"
      operationId: "putVorgangsBearbeiterIdUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      - in: "body"
        name: "partnerDTO"
        description: "partnerDTO"
        required: true
        schema:
          $ref: "#/definitions/PartnerDTO"
      responses:
        200:
          description: "OK"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - oauth2:
        - "API"
securityDefinitions:
  oauth2:
    type: "oauth2"
    tokenUrl: "https://api.europace.de/login"
    flow: "password"
    scopes:
      API: "Authorisation Scope für die gesamte API."
definitions:
  Absicherung:
    type: "object"
    properties:
      abgesicherteRisiken:
        type: "array"
        items:
          $ref: "#/definitions/RisikoAbsicherung"
      gesamtPraemie:
        type: "number"
      praemienZahlungsweise:
        type: "string"
        enum:
        - "EINMALIG"
        - "MONATLICH"
        - "VIERTELJAEHRLICH"
        - "HALBJAEHRLICH"
        - "JAEHRLICH"
      tarifBezeichnung:
        type: "string"
      tarifKennung:
        type: "string"
      versichertePersonId:
        type: "string"
      versicherungsArt:
        type: "string"
      versicherungsNummer:
        type: "string"
      versicherungsZeitraum:
        $ref: "#/definitions/VersicherungsZeitraum"
    title: "Absicherung"
  Absicherungswunsch:
    type: "object"
    properties:
      id:
        type: "string"
      versicherungsWuensche:
        type: "array"
        items:
          $ref: "#/definitions/VersicherungsWunsch"
    title: "Absicherungswunsch"
  Angebot:
    type: "object"
    properties:
      absicherungen:
        type: "array"
        items:
          $ref: "#/definitions/Absicherung"
      bausparvertraege:
        type: "array"
        items:
          $ref: "#/definitions/Bausparvertrag"
      beleihungsRechnung:
        $ref: "#/definitions/BeleihungsRechnung"
      bewertungDesAngebots:
        type: "string"
        enum:
        - "ANGEBOT_ENTSPRICHT_DER_EMPFEHLUNG_DES_KUNDENBETREUERS"
        - "ANGEBOT_ENTSPRICHT_DEM_WUNSCH_DES_KUNDEN"
      darlehen:
        type: "array"
        items:
          $ref: "#/definitions/Darlehen"
      erzeugtAm:
        type: "string"
        format: "date-time"
        description: "Erzeugungsdatum des Angebots"
      kennung:
        type: "string"
      machbarkeitsStatus:
        type: "string"
        enum:
        - "MACHBAR"
        - "UNTER_VORBEHALT_PRODUZENT"
        - "NICHT_MACHBAR"
      meldungen:
        type: "array"
        items:
          $ref: "#/definitions/Meldung"
      pruefungsErgebnisse:
        type: "array"
        items:
          $ref: "#/definitions/AngebotsPruefungsErgebnis"
      _links:
        $ref: "#/definitions/Links"
    title: "Angebot"
  AngebotsPruefungsErgebnis:
    type: "object"
    properties:
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      weitereAngaben:
        type: "string"
        description: "Vom Produktanbieter bei der Angebotsprüfung ergänzte Daten.\
          \ Das Format entspricht der Definition des Produktanbieters."
    title: "AngebotsPruefungsErgebnis"
  AnnuitaetenDarlehensWunsch:
    type: "object"
    properties:
      bereitstellungsZinsFreieZeitInMonaten:
        type: "integer"
        format: "int32"
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      sondertilgungOptionalJaehrlich:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
    title: "AnnuitaetenDarlehensWunsch"
  Antraege:
    type: "object"
    properties:
      antraege:
        type: "array"
        items:
          $ref: "#/definitions/Antrag"
      _links:
        $ref: "#/definitions/PaginationLinks"
    title: "Antraege"
  Antrag:
    type: "object"
    properties:
      angebot:
        description: "Das angenommene Angebot, auf dem dieser Antrag basiert"
        $ref: "#/definitions/Angebot"
      ansprechpartner:
        $ref: "#/definitions/Partner"
      antragsNummer:
        type: "string"
        description: "Nummer des Antrags auf der Europace Plattform"
      beratung:
        description: "Informationen zum Geschäftsabschluss"
        $ref: "#/definitions/Beratung"
      datenKontext:
        type: "string"
        description: "Gibt an, ob es sich um einen Antrag aus dem Testmodus oder Echtgeschä\
          ft handelt"
        enum:
        - "TEST_MODUS"
        - "ECHT_GESCHAEFT"
      dokumente:
        type: "array"
        description: "Enthält alle Plattformdokumente, freigegebene Dokumente des\
          \ Vertriebs, sowie die hochgeladenen Dokumente des Produktanbieters. **Aktuell\
          \ sind nur Selbstauskunft und Kreditentscheidungsinformation enthalten.**"
        items:
          $ref: "#/definitions/Dokument"
      kreditSachbearbeiter:
        $ref: "#/definitions/Partner"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      status:
        description: "Bearbeitungsfortschritt des Antrags"
        $ref: "#/definitions/AntragsStatus"
      vermittler:
        $ref: "#/definitions/Partner"
      zeitpunktDerAnnahme:
        type: "string"
        format: "date-time"
        description: "Zeitpunkt, zu dem der Antrag im System erstellt wurde."
      zugrundeliegendeDaten:
        $ref: "#/definitions/ZugrundeliegendeDaten"
      _links:
        $ref: "#/definitions/Links"
    title: "Antrag"
    description: "Diese Resource repräsentiert einen Antrag in Baufi Smart."
  AntragsStatus:
    type: "object"
    properties:
      ablehnungsgrund:
        type: "string"
        description: "Ablehnungsgrund des Produktanbieters"
        enum:
        - "FINANZIELLE_SITUATION"
        - "NEGATIV_MERKMAL"
        - "WERTERMITTLUNG"
        - "KRITERIEN"
        - "UNTERLAGEN_UNVOLLSTAENDIG"
        - "GEGENANGEBOT"
        - "KEINE_ANGABE"
      antragsteller:
        type: "string"
        description: "Willenserklärung des Antragstellers"
        enum:
        - "BEANTRAGT"
        - "UNTERSCHRIEBEN"
        - "NICHT_ANGENOMMEN"
        - "WIDERRUFEN"
      bearbeitungsFortschritt:
        type: "string"
        description: "Bearbeitungsfortschritt des Antrags nach beidseitiger Unterzeichnung"
        enum:
        - "NICHT_VON_PRODUKTANBIETER_BESTAETIGT"
        - "VON_PRODUKTANBIETER_BESTAETIGT"
        - "FREIGEGEBEN_FUER_SAMMELFORDERUNG"
        - "PROVISION_IN_BEARBEITUNG"
        - "PROVISON_AN_KUNDENBETREUER_VOLLSTAENDIG_AUSGEZAHLT"
      produktAnbieter:
        type: "string"
        description: "Willenserklärung des Produktanbieters"
        enum:
        - "NICHT_BEARBEITET"
        - "UNTERSCHRIEBEN"
        - "ABGELEHNT"
        - "ZURUECKGESTELLT"
    title: "AntragsStatus"
  Antragsteller:
    type: "object"
    properties:
      anrede:
        type: "string"
        enum:
        - "FRAU"
        - "HERR"
      anschrift:
        $ref: "#/definitions/Postadresse"
      arbeitserlaubnis:
        type: "boolean"
        example: false
        description: "wenn keine deutsche Staatsangehörigkeit"
      arbeitserlaubnisBefristetBis:
        type: "string"
        format: "date"
        description: "wenn Arbeitserlaubnis befristet"
      aufenthaltsTitel:
        type: "string"
        description: "wenn keine deutsche Staatsangehörigkeit"
        enum:
        - "VISUM"
        - "AUFENTHALTS_ERLAUBNIS"
        - "NIEDERLASSUNGS_ERLAUBNIS"
        - "DAUERAUFENTHALT_EU"
      aufenthaltsTitelBefristetBis:
        type: "string"
        format: "date"
        description: "wenn Aufenthaltstitel befristet"
      beschaeftigung:
        $ref: "#/definitions/Beschaeftigung"
      bruttoVorjahresEinkommen:
        type: "number"
      email:
        type: "string"
        example: "max.mustermann@test.de"
        description: "Eine valide Emailadresse"
      externeAntragstellerId:
        type: "string"
      familienstand:
        type: "string"
        enum:
        - "GESCHIEDEN"
        - "GETRENNT_LEBEND"
        - "LEBENSPARTNERSCHAFT"
        - "LEDIG"
        - "VERHEIRATET"
        - "VERWITWET"
      geburtsdatum:
        type: "string"
        format: "date"
      geburtsort:
        type: "string"
      guetertrennungVereinbartWennVerheiratet:
        type: "boolean"
        example: false
        description: "nur wenn verheiratet"
      id:
        type: "string"
      inDeutschlandSeit:
        type: "string"
        format: "date"
        description: "wenn keine deutsche Staatsangehörigkeit"
      legitimationsDaten:
        $ref: "#/definitions/LegitimationsDaten"
      nachname:
        type: "string"
      schufaErgebnis:
        $ref: "#/definitions/SchufaErgebnis"
      staatsangehoerigkeit:
        $ref: "#/definitions/Staat"
      steuerId:
        type: "string"
      telefonnummer:
        type: "string"
      telefonnummerVorwahl:
        type: "string"
      titel:
        type: "array"
        items:
          type: "string"
          enum:
          - "DOKTOR"
          - "PROFESSOR"
      titelDoktor:
        type: "boolean"
      titelProfessor:
        type: "boolean"
      vorAnschrift:
        $ref: "#/definitions/Postadresse"
      vorname:
        type: "string"
      weitereKontaktMoeglichkeiten:
        type: "string"
      wohnhaftSeit:
        type: "string"
        format: "date"
    title: "Antragsteller"
  Archivierung:
    type: "object"
    properties:
      grund:
        type: "string"
        enum:
        - "VORGANG_ERFOLGREICH_ABGESCHLOSSEN"
        - "KUNDE_IST_NICHT_MEHR_INTERESSIERT"
        - "DAS_OBJEKT_IST_WEG"
        - "OBJEKT_IST_NICHT_MEHR_VERFUEGBAR"
        - "KUNDE_HAT_EIN_ANDERES_ANGEBOT"
        - "SCHLECHTER_LEAD_NICHT_ZU_ERREICHEN"
        - "FINANZIERUNG_IST_NICHT_MACHBAR"
      kommentar:
        type: "string"
    title: "Archivierung"
  AusgabenMonatlich:
    type: "object"
    properties:
      ausgabenMonatlich:
        type: "number"
      berechnungsHilfeVermoegen:
        $ref: "#/definitions/BerechnungsHilfeBetrag"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
    title: "AusgabenMonatlich"
  Autostellplatz:
    type: "object"
    properties:
      mieteinnahmenMonatlich:
        type: "number"
      typ:
        type: "string"
        enum:
        - "STELLPLATZ"
        - "CARPORT"
        - "GARAGE"
        - "DOPPEL_GARAGE"
        - "KELLER_GARAGE"
        - "TIEFGARAGEN_STELLPLATZ"
    title: "Autostellplatz"
  BankUndSparguthaben:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
      zinsertragJaehrlich:
        type: "number"
      zukuenftigeEinnahmen:
        type: "number"
    title: "BankUndSparguthaben"
  Bankverbindung:
    type: "object"
    properties:
      bic:
        type: "string"
      iban:
        type: "string"
      id:
        type: "string"
      kontoinhaberIds:
        type: "array"
        items:
          type: "string"
      kontoinhaberName:
        type: "string"
      kreditinstitut:
        type: "string"
    title: "Bankverbindung"
  BausparAngebot:
    type: "object"
    properties:
      abschlussGebuehr:
        type: "number"
      angebotsHinweisFuerAntragsteller:
        type: "string"
        description: "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
      bausparSumme:
        type: "number"
      einmalzahlung:
        type: "number"
      id:
        type: "string"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      sonderZahlungen:
        type: "array"
        items:
          $ref: "#/definitions/SonderZahlung"
      sparPhase:
        $ref: "#/definitions/SparPhase"
      tarif:
        type: "string"
      tilgungsPhase:
        $ref: "#/definitions/TilgungsPhase"
      typ:
        type: "string"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zuteilungsDatum:
        type: "string"
        format: "date"
    title: "BausparAngebot"
  BausparTarif:
    type: "object"
    properties:
      id:
        type: "string"
      kurzName:
        type: "string"
      langName:
        type: "string"
      produktAnbieter:
        type: "string"
      riesterFoerderung:
        type: "boolean"
      status:
        type: "string"
        enum:
        - "AKTIV"
        - "IN_ENTWICKLUNG"
        - "DEAKTIVIERT"
    title: "BausparTarif"
  BausparWunsch:
    type: "object"
    properties:
      abschlussGebuehrenVerrechnung:
        type: "string"
        enum:
        - "SOFORTZAHLUNG"
        - "VERRECHNUNG"
      bausparSummeAbsolut:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      bausparSummeRelativ:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      bausparTarif:
        type: "array"
        description: "siehe weitere Beschreibung unter Weitere Informationen -> Bezeichnung\
          \ Bauspartarife"
        items:
          $ref: "#/definitions/BausparTarif"
      bausparTarife:
        type: "array"
        description: "Deprecated, Zukünftig sind die Informationen zum gewünschen\
          \ Tarif unter bausparTarif zu finden."
        items:
          type: "string"
      id:
        type: "string"
      sonderZahlungEinmalig:
        type: "number"
      sonderZahlungen:
        type: "array"
        items:
          $ref: "#/definitions/SonderZahlung"
      sparBeitragMonatlichAbsolut:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      sparBeitragMonatlichRelativ:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      tilgungsBeitragMonatlich:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      vertragsPartnerIds:
        type: "array"
        items:
          type: "string"
      verwendung:
        type: "string"
        enum:
        - "ZINS_ABSICHERUNG"
        - "TILGUNGS_AUSGESETZT"
      zuteilungsDatum:
        type: "string"
        format: "date"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
    title: "BausparWunsch"
  Bausparvertrag:
    type: "object"
    properties:
      abschlussGebuehr:
        type: "number"
      angebotsHinweisFuerAntragsteller:
        type: "string"
        description: "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
      bausparSumme:
        type: "number"
      einmalzahlung:
        type: "number"
      gesamtLaufzeitInJahren:
        type: "integer"
        format: "int32"
      id:
        type: "string"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      sonderZahlungen:
        type: "array"
        items:
          $ref: "#/definitions/SonderZahlung"
      sparPhase:
        $ref: "#/definitions/SparPhase"
      tarif:
        type: "string"
      tilgungsPhase:
        $ref: "#/definitions/TilgungsPhase"
      typ:
        type: "string"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zuteilungsDatum:
        type: "string"
        format: "date"
    title: "Bausparvertrag"
  BeleihungsRechnung:
    type: "object"
    properties:
      beleihungsAuslauf:
        type: "number"
        description: "Der Beleihungsauslauf aus Sicht des Produktanbieters. Berechnet\
          \ sich aus dem Verhältnis anerkannter Darlehen zur Summe der anerkannten\
          \ Beleihungswerte."
      beleihungsWerte:
        type: "array"
        description: "Enthält die vom Produktanbieter anerkannten Beleihungswerte"
        items:
          $ref: "#/definitions/BeleihungsWert"
      beleihungsWerteSumme:
        type: "number"
        description: "Berechnungshilfe: Die Summe aller vom Produktanbieter anerkannten\
          \ Beleihungswerte"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
    title: "BeleihungsRechnung"
  BeleihungsWert:
    type: "object"
    properties:
      beleihungsWert:
        type: "number"
      immobilie:
        $ref: "#/definitions/ImmobilieVerknuepfung"
    title: "BeleihungsWert"
  Beratung:
    type: "object"
    properties:
      art:
        type: "string"
        enum:
        - "PRAESENZ_GESCHAEFT"
        - "FERN_ABSATZ_GESCHAEFT"
        - "AUSSER_GESCHAEFTSRAUM_VERTRAG"
      hinweisFuerProduktAnbieter:
        type: "string"
      istKundenBetreuerVerkaeuferOderMaklerDerImmobilie:
        type: "boolean"
        example: false
        description: "Mit diesem Wert wird ausgedrückt, ob der Kundenbetreuer auch\
          \ der Immobilienmakler ist."
    title: "Beratung"
  BerechnungsHilfeBetrag:
    type: "object"
    properties:
      betragNachFinanzierung:
        type: "number"
      betragVorFinanzierung:
        type: "number"
    title: "BerechnungsHilfeBetrag"
  Bereitstellung:
    type: "object"
    properties:
      bereitstellungsZins:
        type: "number"
      bereitstellungsZinsFreieZeitInMonaten:
        type: "integer"
        format: "int32"
    title: "Bereitstellung"
  BereitstellungsZinsFreieZeitPraeferenz:
    type: "object"
    properties:
      darlehenBenoetigtInMonaten:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl == IN_MONATEN"
      praeferenzAuswahl:
        type: "string"
        enum:
        - "MIT_DER_ERSTEN_AUSZAHLUNG"
        - "IN_MONATEN"
        - "NOCH_NICHT_FESTGELEGT"
        - "EGAL"
      zusatzlicheKommentare:
        type: "string"
    title: "BereitstellungsZinsFreieZeitPraeferenz"
  Beschaeftigung:
    type: "object"
    properties:
      anzahlGehaelterProJahr:
        type: "number"
        format: "double"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeber:
        type: "string"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeberInDeutschlandAnsaessig:
        type: "boolean"
        example: false
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeberLand:
        description: "nur bei arbeitgeberInDeutschlandAnsaessig==false"
        $ref: "#/definitions/Staat"
      art:
        type: "string"
        enum:
        - "ANGESTELLTER"
        - "ARBEITER"
        - "BEAMTER"
        - "FREIBERUFLER"
        - "SELBSTAENDIGER"
        - "RENTNER"
        - "HAUSFRAU"
        - "ARBEITSLOSER"
      befristungsStatus:
        type: "string"
        description: "nur bei art==ANGESTELLTER,ARBEITER"
        enum:
        - "BEFRISTET"
        - "UNBEFRISTET"
      beruf:
        type: "string"
        description: "nur bei art!=RENTNER"
      beschaeftigtSeit:
        type: "string"
        format: "date"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTAENDIGER"
      branche:
        type: "string"
        description: "Berufsgruppe des Antragstellers."
        enum:
        - "LANDWIRTSCHAFT_FORSTWIRTSCHAFT_FISCHEREI"
        - "BERGBAU_GEWINNUNG_VON_STEINEN_UND_ERDEN"
        - "VERARBEITENDES_GEWERBE"
        - "WASSERVERSORGUNG"
        - "ENERGIEVERSORGUNG"
        - "BAUGEWERBE"
        - "HANDEL_INSTANDHALTUNG_VON_KRAFTFAHRZEUGEN"
        - "VERKEHR_LOGISTIK"
        - "GASTGEWERBE"
        - "INFORMATION_KOMMUNIKATION"
        - "FINANZ_UND_VERSICHERUNGSDIENSTLEISTUNGEN"
        - "GRUNDSTÜCKS_UND_WOHNUNGSWESEN"
        - "FREIBERUFLICHE_WISSENSCHAFTLICHE_UND_TECHNISCHE_DIENSTLEISTUNGEN"
        - "SONSTIGE_WIRTSCHAFTLICHE_DIENSTLEISTUNGEN"
        - "OEFFENTLICHE_VERWALTUNG_VERTEIDIGUNG_SOZIALVERSICHERUNG"
        - "ERZIEHUNG_UNTERRICHT"
        - "GESUNDHEIT_UND_SOZIALWESEN"
        - "KUNST_UNTERHALTUNG_ERHOLUNG"
        - "SONSTIGE_DIENSTLEISTUNGEN"
        - "PRIVATE_HAUSHALTE"
      einkommenNettoJaehrlich:
        type: "number"
        description: "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
      einkommenNettoMonatlich:
        type: "number"
        description: "nur bei art!=FREIBERUFLER,SELBSTAENDIGER"
      firma:
        type: "string"
        description: "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
      inProbezeit:
        type: "boolean"
        example: false
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      situationNachRenteneintritt:
        description: "nur bei art!=RENTNER"
        $ref: "#/definitions/SituationNachRenteneintritt"
      taetigkeit:
        type: "string"
        description: "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
        enum:
        - "ALTENPFLEGER"
        - "AMBULANTER_KRANKENPFLEGER"
        - "ANWALT"
        - "APOTHEKER"
        - "ARCHITEKT"
        - "ARZT"
        - "BESTATTER"
        - "DATENSCHUTZBEAUFTRAGTER"
        - "DEKORATEUR"
        - "DIAETASSISTENT"
        - "DOLMETSCHER"
        - "EDV_BERATER"
        - "ERGOTHERAPEUT"
        - "ERNAEHRUNGSBERATER"
        - "FOTOGRAF"
        - "GEOGRAF"
        - "GRAFIKDESIGNER"
        - "GRAFIKER"
        - "HEBAMME"
        - "HEILMASSEUR"
        - "HEILPRAKTIKER"
        - "HISTORIKER"
        - "INFORMATIKER"
        - "INGENIEUR"
        - "INSOLVENZVERWALTER"
        - "JOURNALIST"
        - "KLASSISCHER_KONZERTMUSIKER"
        - "KONSTRUKTEUR"
        - "KRANKENGYMNAST"
        - "KRANKENPFLEGER"
        - "KRANKENSCHWESTER"
        - "LOGOPAEDE"
        - "MEDIZINISCH_TECHN_ASSISTENT"
        - "NOTAR"
        - "OPERNSAENGER"
        - "PERSONALBERATER"
        - "PHYSIOTHERAPEUT"
        - "PSYCHOLOGE"
        - "RAUMAUSSTATTER"
        - "RUNDFUNKSPRECHER"
        - "SACHVERSTAENDIGER"
        - "STADTPLANER"
        - "STATIKER"
        - "STEUERBERATER"
        - "TIERARZT"
        - "UNTERNEHMENSBERATER"
        - "VERMITTLER"
        - "WIRTSCH_BUCHPRUEFER_REVISOR"
        - "ZAHNARZT"
        - "ZAHNTECHNIKER"
        - "SONSTIGES"
    title: "Beschaeftigung"
  BestandteileDerFinanzierungPraeferenz:
    type: "object"
    properties:
      praeferenzAuswahl:
        type: "string"
        enum:
        - "UNKOMPLIZIERTE_FINANZIERUNG"
        - "WEITERE_PRODUKTE"
        - "KONKRETE_VORSTELLUNGEN"
        - "EGAL"
      zusatzlicheKommentare:
        type: "string"
    title: "BestandteileDerFinanzierungPraeferenz"
  BestehendeImmobilie:
    type: "object"
    properties:
      adresse:
        $ref: "#/definitions/Postadresse"
      autostellplaetze:
        type: "array"
        items:
          $ref: "#/definitions/Autostellplatz"
      bestehendeDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/BestehendesDarlehen"
      bewirtschaftungsKostenJaehrlich:
        type: "number"
      bodenRichtwert:
        type: "number"
      bundesland:
        type: "string"
        enum:
        - "BADEN_WUERTTEMBERG"
        - "BAYERN"
        - "BERLIN"
        - "BRANDENBURG"
        - "BREMEN"
        - "HAMBURG"
        - "HESSEN"
        - "MECKLENBURG_VORPOMMERN"
        - "NIEDERSACHSEN"
        - "NORDRHEIN_WESTFALEN"
        - "RHEINLAND_PFALZ"
        - "SAARLAND"
        - "SACHSEN"
        - "SACHSEN_ANHALT"
        - "SCHLESWIG_HOLSTEIN"
        - "THUERINGEN"
      effektivZinsErhoehendeKosten:
        $ref: "#/definitions/EffektivZinsErhoehendeKosten"
      erbbaurecht:
        $ref: "#/definitions/Erbbaurecht"
      gebaeude:
        $ref: "#/definitions/Gebaeude"
      grundbuchAngabe:
        $ref: "#/definitions/GrundbuchAngabe"
      grundstueck:
        $ref: "#/definitions/Grundstueck"
      id:
        type: "string"
      immobilienEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "VERKAUFEN"
        - "ALS_ZUSATZSICHERHEIT"
      keinBaulandFlaecheInQm:
        type: "number"
      keineBestehendenDarlehenVorhanden:
        type: "boolean"
      marktueblicherKaufpreisProQm:
        type: "number"
      marktwert:
        type: "number"
        description: "Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung\
          \ und Kapitalbeschaffung."
      maximalEinzusetzenderBetragWennVerkauf:
        type: "number"
      objektArt:
        type: "string"
        enum:
        - "GRUNDSTUECK"
        - "EIGENTUMSWOHNUNG"
        - "HAUS"
      vergleichsmieteFuerGewerbeflaecheProQm:
        type: "number"
      vergleichsmieteFuerWohnflaecheProQm:
        type: "number"
      verkehrswert:
        type: "number"
        description: "Hat den selben Inhalt wie das Feld marktwert. (Wird in v3 nicht\
          \ mehr enthalten sein)"
      vorlaeufigerVerkehrswert:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      wohnlage:
        type: "string"
        enum:
        - "GEHOBEN"
        - "MITTEL"
        - "EINFACH"
    title: "BestehendeImmobilie"
  BestehenderBausparvertrag:
    type: "object"
    properties:
      abschlussGebuehr:
        type: "number"
      aktuellerWert:
        type: "number"
      bausparSumme:
        type: "number"
      einmalzahlung:
        type: "number"
      ertrag:
        type: "number"
      id:
        type: "string"
      maximalAufzuloesenderBetrag:
        type: "number"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      sonderZahlungen:
        type: "array"
        items:
          $ref: "#/definitions/SonderZahlung"
      sparBeitragMonatlich:
        type: "number"
      tarif:
        type: "string"
      typ:
        type: "string"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
      zukuenftigeEinnahmen:
        type: "number"
      zuteilungsDatum:
        type: "string"
        format: "date"
    title: "BestehenderBausparvertrag"
  BestehendesDarlehen:
    type: "object"
    properties:
      abzuloesendeRestschuld:
        type: "number"
      aktuelleRestschuldWennNichtAbzuloesen:
        type: "number"
      darlehensArt:
        type: "string"
        description: "Neue Ausprägungen können kurzfristig hinzukommen. Der Client\
          \ muss daher mit unbekannten Werten umgehen können."
        enum:
        - "BAUSPARDARLEHEN"
        - "FOERDERDARLEHEN"
        - "IMMOBILIENDARLEHEN"
        - "PRIVATDARLEHEN"
        - "SONSTIGES_DARLEHEN"
      darlehensBetrag:
        type: "number"
      darlehensGeber:
        $ref: "#/definitions/ProduktAnbieter"
      darlehensKontonummer:
        type: "string"
      eingetrageneGrundschuld:
        type: "number"
      grundschuldArt:
        type: "string"
        enum:
        - "BRIEF_GRUNDSCHULD"
        - "BUCH_GRUNDSCHULD"
      id:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
      rateMonatlich:
        type: "number"
      sollZins:
        type: "number"
      sondertilgungZumZinsBindungsEnde:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      zinsBindungEndetAm:
        type: "string"
        format: "date"
    title: "BestehendesDarlehen"
  BestehendesDarlehenDesFinanzierungsObjekts:
    type: "object"
    properties:
      abzuloesendeRestschuld:
        type: "number"
      aktuelleRestschuldWennNichtAbzuloesen:
        type: "number"
      darlehensArt:
        type: "string"
        description: "Neue Ausprägungen können kurzfristig hinzukommen. Der Client\
          \ muss daher mit unbekannten Werten umgehen können."
        enum:
        - "BAUSPARDARLEHEN"
        - "FOERDERDARLEHEN"
        - "IMMOBILIENDARLEHEN"
        - "PRIVATDARLEHEN"
        - "SONSTIGES_DARLEHEN"
      darlehensBetrag:
        type: "number"
      darlehensGeber:
        $ref: "#/definitions/ProduktAnbieter"
      darlehensKontonummer:
        type: "string"
      eingetrageneGrundschuld:
        type: "number"
      grundschuldArt:
        type: "string"
        enum:
        - "BRIEF_GRUNDSCHULD"
        - "BUCH_GRUNDSCHULD"
      id:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
      rateMonatlich:
        type: "number"
      sollZins:
        type: "number"
      sondertilgungZumZinsBindungsEnde:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      verwendenAls:
        type: "string"
        description: "Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben,\
          \ behandelt werden soll."
        enum:
        - "ABLOESEN"
        - "TRITT_IM_RANG_ZURUECK"
        - "TRITT_NICHT_IM_RANG_ZURUECK"
      zinsBindungEndetAm:
        type: "string"
        format: "date"
    title: "BestehendesDarlehenDesFinanzierungsObjekts"
  CharSequence:
    type: "object"
    title: "CharSequence"
  Darlehen:
    type: "object"
    properties:
      auszahlungsBetrag:
        type: "number"
      auszahlungsDatum:
        type: "string"
        format: "date"
        description: "nur bei darlehensArt==FORWARD_DARLEHEN"
      auszahlungsKurs:
        type: "number"
      bereitstellung:
        description: "nicht bei darlehensArt==PRIVAT_DARLEHEN"
        $ref: "#/definitions/Bereitstellung"
      darlehensBetrag:
        type: "number"
      darlehensTyp:
        type: "string"
        enum:
        - "ANNUITAETEN_DARLEHEN"
        - "FORWARD_DARLEHEN"
        - "KFW_DARLEHEN"
        - "PRIVAT_DARLEHEN"
        - "ZWISCHEN_FINANZIERUNG"
        - "VARIABLES_DARLEHEN"
      detailsZurVerwendung:
        type: "string"
        description: "nur bei darlehensArt==ZWISCHEN_FINANZIERUNG"
      effektivZins:
        type: "number"
      effektivZinsRelevanteKosten:
        $ref: "#/definitions/EffektivZinsKosten"
      forwardPeriodeInMonaten:
        type: "integer"
        format: "int32"
        description: "nur bei darlehensArt==FORWARD_DARLEHEN"
      kfwEnergieEffizienzStandard:
        type: "string"
        description: "nur bei darlehensArt==KFW_DARLEHEN. Nur bei KfW-Programm 153\
          \ relevant. Bei neuen Energieeffizienzstandards können auch weitere Werte\
          \ zulässig werden."
        enum:
        - "STANDARD_40_PLUS"
        - "STANDARD_40"
        - "STANDARD_55"
        - "STANDARD_70"
      kfwProgramm:
        type: "string"
        description: "Bei neu aufgelegten KfW-Programmen können auch weitere Werte\
          \ zulässig werden."
        enum:
        - "PROGRAMM_124"
        - "PROGRAMM_141"
        - "PROGRAMM_151"
        - "PROGRAMM_152"
        - "PROGRAMM_153"
        - "PROGRAMM_155"
        - "PROGRAMM_159"
        - "PROGRAMM_167"
      konditionWurdeManuellAngepasst:
        type: "boolean"
      konditionsAnpassungsBegruendung:
        type: "string"
        description: "Begründung, wenn die Kondition angepasst wurde"
      laufZeitInJahren:
        type: "integer"
        format: "int32"
      laufzeitInMonaten:
        type: "integer"
        format: "int32"
        description: "nur bei darlehensArt==PRIVAT_DARLEHEN"
      maximaleLaufzeitInMonaten:
        type: "integer"
        format: "int32"
        description: "nur bei darlehensArt==ZWISCHEN_FINANZIERUNG"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      rateMonatlich:
        type: "number"
        example: 123.34
        description: "Die monatliche Rate in Euro"
      rateMonatlichInDerTilgungsfreienAnlaufzeit:
        type: "number"
        description: "nur bei darlehensArt==KFW_DARLEHEN"
      sollZins:
        type: "number"
        example: 2.05
        description: "Der Sollzinssatz in Prozent"
      tilgung:
        description: "nicht bei darlehensArt==ZWISCHEN_FINANZIERUNG"
        $ref: "#/definitions/Tilgung"
      tilgungsFreieAnlaufJahre:
        type: "integer"
        format: "int32"
        description: "nur bei darlehensArt==KFW_DARLEHEN"
      verwendungszweck:
        type: "string"
        description: "nur bei darlehensArt==ZWISCHEN_FINANZIERUNG"
        enum:
        - "VORFINANZIERUNG_OEFFENTLICHER_MITTEL"
        - "VERKAUF_EINES_ANDEREN_OBJEKTS"
        - "SONSTIGE_VERWENDUNG"
      zinsBindung:
        description: "nicht bei darlehensArt IN [VARIABLES_DARLEHEN,ZWISCHEN_FINANZIERUNG]"
        $ref: "#/definitions/ZinsBindung"
      zinsZahlungsBeginnAm:
        type: "string"
        format: "date"
    title: "Darlehen"
  DarlehensWunsch:
    type: "object"
    properties:
      annuitaetenDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/AnnuitaetenDarlehensWunsch"
      forwardDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/ForwardDarlehensWunsch"
      id:
        type: "string"
      kfwDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/KfwDarlehensWunsch"
      privatDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/PrivatDarlehensWunsch"
      variablesDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/VariablesDarlehensWunsch"
      zwischenFinanzierung:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/ZwischenFinanzierungsWunsch"
    title: "DarlehensWunsch"
  Dokument:
    type: "object"
    properties:
      art:
        type: "string"
        description: "ist nicht immer vorhanden"
      href:
        type: "string"
      name:
        type: "string"
      titel:
        type: "string"
        description: "Name des Dokuments"
      type:
        type: "string"
    title: "Dokument"
  EffektivZinsErhoehendeKosten:
    type: "object"
    properties:
      anpassen:
        type: "boolean"
      grundbuchEintragungsKostenEinmalig:
        type: "number"
      sonstigeKostenBezeichnung:
        type: "string"
      sonstigeKostenEinmalig:
        type: "number"
      wohnGebaeudeVersicherungsKostenJaehrlich:
        type: "number"
    title: "EffektivZinsErhoehendeKosten"
  EffektivZinsKosten:
    type: "object"
    properties:
      beratungsHonorar:
        type: "number"
      grundbuchKosten:
        type: "number"
      sonstigeKosten:
        type: "number"
      tilgungsErsatzProduktKosten:
        type: "number"
      wohnGebaeudeVersicherungsKosten:
        type: "number"
      zinsabsicherungsKosten:
        type: "number"
      zusatzSicherheitsKosten:
        type: "number"
    title: "EffektivZinsKosten"
  EinkuenfteAusNebentaetigkeit:
    type: "object"
    properties:
      beginnDerNebentaetigkeit:
        type: "string"
        format: "date"
      einnahmenMonatlich:
        type: "number"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
    title: "EinkuenfteAusNebentaetigkeit"
  EinnahmenMonatlich:
    type: "object"
    properties:
      einnahmenMonatlich:
        type: "number"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
    title: "EinnahmenMonatlich"
  Erbbaurecht:
    type: "object"
    properties:
      erbbaurecht:
        type: "boolean"
      erbbauzinsJaehrlich:
        type: "number"
      grundstuecksEigentuemer:
        type: "string"
        enum:
        - "ANDERE"
        - "OEFFENTLICH_KIRCHLICH"
      laufzeitBisJahr:
        type: "string"
    title: "Erbbaurecht"
  Error:
    type: "object"
    properties:
      message:
        type: "string"
      statusCode:
        type: "integer"
        format: "int32"
      statusMessage:
        type: "string"
      timestamp:
        type: "string"
      traceId:
        type: "string"
    title: "Error"
  Finanzbedarf:
    type: "object"
    properties:
      anzahlTeilzahlungen:
        type: "integer"
        format: "int32"
        description: "Anzahl Teilzahlungen bei Neubau, Kauf vom Bauträger sowie Modernisierung"
      aussenAnlagen:
        type: "number"
      bauNebenkosten:
        type: "number"
      beratungsHonorar:
        type: "number"
      bereitsBeglichen:
        type: "number"
      erschliessung:
        type: "number"
      grunderwerbsteuer:
        type: "number"
        description: "Nebenkosten"
      grundstueckBereitsBezahlt:
        type: "boolean"
      grundstuecksKaufpreis:
        type: "number"
      herstellung:
        type: "number"
        description: "inklusive Eigenleistungen"
      kapitalBeschaffung:
        type: "number"
      kapitalWirdBeschafft:
        type: "boolean"
      kaufpreis:
        type: "number"
        description: "inklusive Eigenleistungen"
      maklergebuehr:
        type: "number"
        description: "Nebenkosten"
      mobiliar:
        type: "number"
      modernisieren:
        type: "boolean"
      modernisierung:
        type: "number"
        description: "inklusive Eigenleistungen"
      notargebuehr:
        type: "number"
        description: "Nebenkosten"
      renovierung:
        type: "number"
      sonstigeKosten:
        type: "number"
      zusaetzlichesKapital:
        type: "number"
    title: "Finanzbedarf"
  FinanzierungsObjekt:
    type: "object"
    properties:
      adresse:
        $ref: "#/definitions/Postadresse"
      autostellplaetze:
        type: "array"
        items:
          $ref: "#/definitions/Autostellplatz"
      bestehendeDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/BestehendesDarlehenDesFinanzierungsObjekts"
      bewirtschaftungsKostenJaehrlich:
        type: "number"
      bodenRichtwert:
        type: "number"
      bundesland:
        type: "string"
        enum:
        - "BADEN_WUERTTEMBERG"
        - "BAYERN"
        - "BERLIN"
        - "BRANDENBURG"
        - "BREMEN"
        - "HAMBURG"
        - "HESSEN"
        - "MECKLENBURG_VORPOMMERN"
        - "NIEDERSACHSEN"
        - "NORDRHEIN_WESTFALEN"
        - "RHEINLAND_PFALZ"
        - "SAARLAND"
        - "SACHSEN"
        - "SACHSEN_ANHALT"
        - "SCHLESWIG_HOLSTEIN"
        - "THUERINGEN"
      effektivZinsErhoehendeKosten:
        $ref: "#/definitions/EffektivZinsErhoehendeKosten"
      erbbaurecht:
        $ref: "#/definitions/Erbbaurecht"
      gebaeude:
        $ref: "#/definitions/Gebaeude"
      grundbuchAngabe:
        $ref: "#/definitions/GrundbuchAngabe"
      grundstueck:
        $ref: "#/definitions/Grundstueck"
      id:
        type: "string"
      keinBaulandFlaecheInQm:
        type: "number"
      marktueblicherKaufpreisProQm:
        type: "number"
      marktwert:
        type: "number"
        description: "Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung\
          \ und Kapitalbeschaffung."
      objektArt:
        type: "string"
        enum:
        - "GRUNDSTUECK"
        - "EIGENTUMSWOHNUNG"
        - "HAUS"
      vergleichsmieteFuerGewerbeflaecheProQm:
        type: "number"
      vergleichsmieteFuerWohnflaecheProQm:
        type: "number"
      verkehrswert:
        type: "number"
        description: "Hat den selben Inhalt wie das Feld marktwert. (Wird in v3 nicht\
          \ mehr enthalten sein)"
      vorlaeufigerVerkehrswert:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      wohnlage:
        type: "string"
        enum:
        - "GEHOBEN"
        - "MITTEL"
        - "EINFACH"
    title: "FinanzierungsObjekt"
  Finanzierungswunsch:
    type: "object"
    properties:
      bausparWuensche:
        type: "array"
        items:
          $ref: "#/definitions/BausparWunsch"
      darlehensWuensche:
        type: "array"
        items:
          $ref: "#/definitions/DarlehensWunsch"
      id:
        type: "string"
    title: "Finanzierungswunsch"
  Flurstueck:
    type: "object"
    properties:
      anteil:
        $ref: "#/definitions/MiteigentumsAnteil"
      flur:
        type: "string"
      flurstuecksNummer:
        type: "string"
      groesse:
        type: "number"
    title: "Flurstueck"
  ForwardDarlehensWunsch:
    type: "object"
    properties:
      auszahlungsDatum:
        type: "string"
        format: "date"
      bereitstellungsZinsFreieZeitInMonaten:
        type: "integer"
        format: "int32"
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      sondertilgungOptionalJaehrlich:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
    title: "ForwardDarlehensWunsch"
  Gebaeude:
    type: "object"
    properties:
      anzahlDerGewerbeeinheiten:
        type: "integer"
        format: "int32"
      anzahlDerWohneinheitenImGebaeude:
        type: "integer"
        format: "int32"
      anzahlVollgeschosse:
        type: "integer"
        format: "int32"
      aufbauFinanzierung:
        type: "boolean"
      aufzugVorhanden:
        type: "boolean"
      ausstattung:
        type: "string"
        enum:
        - "EINFACH"
        - "MITTEL"
        - "GEHOBEN"
        - "STARK_GEHOBEN"
      baujahr:
        type: "string"
        example: "2016"
        description: "Baujahr des Gebäudes. Bei Verwendungszweck != NEUBAU 2016"
      bauweise:
        type: "string"
        enum:
        - "FACHWERK_MIT_STROH_LEHM"
        - "FACHWERK_MIT_ZIEGELN"
        - "GLAS_STAHL"
        - "HOLZ"
        - "MASSIV"
      bezeichnungWohneinheit:
        type: "string"
      dachgeschossAusbau:
        type: "string"
        enum:
        - "FLACHDACH"
        - "NICHT_AUSGEBAUT"
        - "TEILWEISE_AUSGEBAUT"
        - "VOLL_AUSGEBAUT"
      einliegerwohnungVorhanden:
        type: "boolean"
      geschossLage:
        type: "string"
        enum:
        - "UNTERGESCHOSS"
        - "ERDGESCHOSS"
        - "ERSTES_OBERGESCHOSS"
        - "ZWEITES_OBERGESCHOSS"
        - "DRITTES_BIS_FUENFTES_OBERGESCHOSS"
        - "AB_SECHSTES_OBERGESCHOSS"
        - "UNBEKANNT"
      gewerbeflaeche:
        $ref: "#/definitions/GebaeudeFlaeche"
      hausAnordnung:
        type: "string"
        enum:
        - "FREISTEHEND"
        - "KOPFHAUS"
        - "MITTELHAUS"
      hausTyp:
        type: "string"
        enum:
        - "DOPPELHAUSHAELFTE"
        - "EINFAMILIENHAUS"
        - "MEHRFAMILIENHAUS"
        - "REIHENHAUS"
        - "ZWEIFAMILIENHAUS"
      istFertighaus:
        type: "boolean"
      kellerausbau:
        type: "string"
        enum:
        - "AUSGEBAUT"
        - "TEILWEISE_AUSGEBAUT"
        - "VORHANDEN"
      kubatur:
        type: "number"
      miteigentumsAnteil:
        $ref: "#/definitions/MiteigentumsAnteil"
      modernisierungsAngaben:
        $ref: "#/definitions/ModernisierungsAngaben"
      unterkellerung:
        type: "string"
        enum:
        - "NICHT_UNTERKELLERT"
        - "TEILWEISE_UNTERKELLERT"
        - "UNTERKELLERT"
      wohnflaeche:
        $ref: "#/definitions/GebaeudeFlaeche"
      zustand:
        type: "string"
        enum:
        - "SEHR_GUT"
        - "GUT"
        - "MITTEL"
        - "MAESSIG"
        - "SCHLECHT"
    title: "Gebaeude"
  GebaeudeFlaeche:
    type: "object"
    properties:
      gesamtGroesse:
        type: "number"
      vermietungsInformationen:
        $ref: "#/definitions/VermietungsInformationen"
    title: "GebaeudeFlaeche"
  GrundbuchAngabe:
    type: "object"
    properties:
      anmerkungen:
        type: "string"
      bandUndBlatt:
        type: "string"
        description: "Angabe von Band und Blatt"
      flurstuecke:
        type: "array"
        items:
          $ref: "#/definitions/Flurstueck"
      ort:
        type: "string"
        description: "Ort des als Grundbuchamt zuständigen Amtsgerichtes"
      rechteInAbteilung2:
        description: "Belastungen und Beschränkungen in der Nutzbarkeit des Grundstü\
          cks. Leitungsrechte, Verzichte auf Abstandsflächen, Wegerechte, Insolvenzvermerke."
        $ref: "#/definitions/RechteAbteilung2"
    title: "GrundbuchAngabe"
  Grundstueck:
    type: "object"
    properties:
      groesse:
        type: "number"
      grundstuecksArt:
        type: "string"
        enum:
        - "UNBEBAUTES_WOHNGRUNDSTUECK"
        - "UNBEBAUTES_MISCHGRUNDSTUECK"
        - "UNBEBAUTES_GEWERBEGRUNDSTUECK"
        - "LANDWIRTSCHAFTLICHES_GRUNDSTUECK"
        - "SONSTIGES_GRUNDSTUECK"
    title: "Grundstueck"
  Haushalt:
    type: "object"
    properties:
      antragsteller:
        type: "array"
        items:
          $ref: "#/definitions/Antragsteller"
      anzahlErwachseneImHaushalt:
        type: "integer"
        format: "int32"
      anzahlKinderNichtImHaushalt:
        type: "integer"
        format: "int32"
      bestehendeImmobilien:
        type: "array"
        items:
          $ref: "#/definitions/BestehendeImmobilie"
      id:
        type: "string"
      kfzAnzahl:
        type: "integer"
        format: "int32"
      kinder:
        type: "array"
        items:
          $ref: "#/definitions/Kind"
      lebenshaltungsKostenMonatlich:
        type: "number"
      obligo:
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
        $ref: "#/definitions/VermoegenVerbindlichkeiten"
      positionen:
        $ref: "#/definitions/HaushaltsPositionen"
    title: "Haushalt"
  HaushaltsPositionen:
    type: "object"
    properties:
      bankUndSparguthaben:
        type: "array"
        items:
          $ref: "#/definitions/BankUndSparguthaben"
      bausparvertraege:
        type: "array"
        items:
          $ref: "#/definitions/BestehenderBausparvertrag"
      ehegattenUnterhalt:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      einkuenfteAusNebentaetigkeit:
        type: "array"
        items:
          $ref: "#/definitions/EinkuenfteAusNebentaetigkeit"
      kindergeld:
        type: "array"
        description: "Read-Only-Feld. Wird dynamisch aus den Angaben zu den Kindern\
          \ berechnet. Pro kindergelderhaltendem Kind ein Listenelement."
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      lebensUndRentenVersicherungen:
        type: "array"
        items:
          $ref: "#/definitions/LebensOderRentenversicherungVermoegen"
      mietAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/MietAusgaben"
      privateDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      privateKrankenversicherung:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      ratenkredite:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      sonstigeAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      sonstigeEinnahmen:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      sonstigeVerbindlichkeiten:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      sonstigeVermoegen:
        type: "array"
        items:
          $ref: "#/definitions/Vermoegen"
      sparplaene:
        type: "array"
        items:
          $ref: "#/definitions/Sparplaene"
      unbefristeteZusatzRenten:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      unterhaltsVerpflichtungen:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      variableEinkuenfte:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      versicherungsAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      wertpapiere:
        type: "array"
        items:
          $ref: "#/definitions/Wertpapiere"
    title: "HaushaltsPositionen"
  HoeheDerRatePraeferenz:
    type: "object"
    properties:
      betrag:
        type: "number"
      praeferenzAuswahl:
        type: "string"
        enum:
        - "MEINE_MIETAUSGABEN_VON_HEUTE"
        - "BETRAG"
        - "MOEGLICHST_KLEIN"
        - "VERFUEGBARES_EINKOMMEN_AUSSCHOEPFEN"
        - "EGAL"
      zusatzlicheKommentare:
        type: "string"
    title: "HoeheDerRatePraeferenz"
  ImmobilieVerknuepfung:
    type: "object"
    properties:
      id:
        type: "string"
    title: "ImmobilieVerknuepfung"
  KfwDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      kfwEndfaellig:
        type: "string"
        description: "Für endfällige KfW-Darlehen wird die Quelle des Tilgungswunsches\
          \ erfasst"
        enum:
        - "NEIN"
        - "ENDFAELLIG_BERECHNET"
        - "ENDFAELLIG_EIGENES_ANGEBOT"
      kfwEnergieEffizienzStandard:
        type: "string"
        description: "Nur bei Programm 153. Wenn die KfW-Bank neue Standards anerkennt,\
          \ sind die entsprechenden neuen Ausprägungen zulässig. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
        enum:
        - "STANDARD_40_PLUS"
        - "STANDARD_40"
        - "STANDARD_55"
        - "STANDARD_70"
      kfwProgramm:
        type: "string"
        description: "Bei neu aufgelegten KfW-Programmen können auch weitere Werte\
          \ zulässig werden. Der Client muss daher mit unbekannten Werten umgehen\
          \ können."
        enum:
        - "PROGRAMM_124"
        - "PROGRAMM_141"
        - "PROGRAMM_151"
        - "PROGRAMM_152"
        - "PROGRAMM_153"
        - "PROGRAMM_155"
        - "PROGRAMM_159"
        - "PROGRAMM_167"
      laufzeitInJahren:
        type: "integer"
        format: "int32"
      provision:
        type: "number"
      tilgungsWunsch:
        description: "Für endfällige KfW-Darlehen wird ein Tilgungswunsch erfasst"
        $ref: "#/definitions/TilgungsWunsch"
      tilgungsfreieAnlaufjahre:
        type: "integer"
        format: "int32"
        description: "Erlaubt ist 1, 2, 3, 4, 5. Maximalwert abhängig von der Laufzeit.\
          \ Wenn der Tilgungswunsch ausgesetzt ist, dann ist auch 10 erlaubt."
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
        description: "Programm 124: 5 oder 10, sonst: 10 oder 20"
    title: "KfwDarlehensWunsch"
  Kind:
    type: "object"
    properties:
      geburtsdatum:
        type: "string"
        format: "date"
      id:
        type: "string"
      kindergeldWirdBezogen:
        type: "boolean"
      name:
        type: "string"
      unterhaltsEinnahmenBetragMonatlich:
        type: "number"
    title: "Kind"
  LaufzeitPraeferenz:
    type: "object"
    properties:
      bisZumJahr:
        type: "string"
        example: "2016"
        description: "Nur relevant, wenn praeferenzAuswahl == BIS_ZUM_JAHR. Vierstellige\
          \ Jahresangabe"
      bisZurRenteImJahr:
        type: "string"
        example: "2016"
        description: "Nur relevant, wenn praeferenzAuswahl == BIS_ZUR_RENTE_IM_JAHR.\
          \ Vierstellige Jahresangabe"
      inJahren:
        type: "integer"
        format: "int32"
        description: "Nur relevant, wenn praeferenzAuswahl == IN_JAHREN."
      praeferenzAuswahl:
        type: "string"
        enum:
        - "MOEGLICHST_SCHNELL"
        - "IN_JAHREN"
        - "BIS_ZUM_JAHR"
        - "BIS_ZUR_RENTE_IM_JAHR"
        - "EGAL"
      zusatzlicheKommentare:
        type: "string"
    title: "LaufzeitPraeferenz"
  LeadTracking:
    type: "object"
    properties:
      kampagne:
        type: "string"
      keyword:
        type: "string"
      kundenBetreuerBenachrichtigen:
        type: "boolean"
      trackingId:
        type: "string"
    title: "LeadTracking"
  LebensOderRentenversicherungVermoegen:
    type: "object"
    properties:
      id:
        type: "string"
      maximalAufzuloesenderBetrag:
        type: "number"
      praemieMonatlich:
        type: "number"
      rueckkaufsWertAktuell:
        type: "number"
      tarif:
        type: "string"
      typ:
        type: "string"
        enum:
        - "KAPITALBILDENDE_LEBENSVERSICHERUNG"
        - "FONDSGEBUNDENE_LEBENSVERSICHERUNG"
        - "KAPITALBILDENDE_RENTENVERSICHERUNG"
        - "FONDSGEBUNDENE_RENTENVERSICHERUNG"
        - "RISIKO_LEBENSVERSICHERUNG"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      versicherungsGesellschaft:
        type: "string"
      versicherungsSumme:
        type: "number"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsEnde:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
    title: "LebensOderRentenversicherungVermoegen"
  LegitimationsDaten:
    type: "object"
    properties:
      ausstellendeBehoerde:
        type: "string"
      ausstellungsdatum:
        type: "string"
        format: "date"
      ausweisArt:
        type: "string"
        enum:
        - "PERSONALAUSWEIS"
        - "REISEPASS"
        - "ANDERE"
      ausweisArtBeiAndererAusweis:
        type: "string"
        description: "Nur wenn ausweisArt = ANDERE"
      ausweisNummer:
        type: "string"
    title: "LegitimationsDaten"
  Link:
    type: "object"
    properties:
      href:
        type: "string"
      type:
        type: "string"
    title: "Link"
  Links:
    type: "object"
    properties:
      self:
        $ref: "#/definitions/Link"
    title: "Links"
  Meldung:
    type: "object"
    properties:
      kategorie:
        type: "string"
        description: "Neue Ausprägungen können kurzfristig hinzukommen. Der Client\
          \ muss daher mit unbekannten Werten umgehen können."
        enum:
        - "AUSZAHLUNGS_VORAUSSETZUNG"
        - "MACHBAR"
        - "MACHBARKEITS_HINWEIS"
        - "ANPASSUNG_KUNDENWUNSCH"
        - "ANPASSUNG_VERTRIEBSWUNSCH"
        - "UNBERUECKSICHTIGTE_ANGABE"
        - "KONDITIONEN_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN"
        - "KONDITIONEN_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN"
        - "MACHBARKEIT_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN"
        - "MACHBARKEIT_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN"
        - "MACHBAR_UNTER_VORBEHALT_PRODUZENT"
        - "NICHT_MACHBAR"
        - "NICHT_ANBIETBAR"
      kreditEntscheider:
        $ref: "#/definitions/ProduktAnbieter"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      text:
        type: "string"
    title: "Meldung"
  MietAusgaben:
    type: "object"
    properties:
      ausgabenMonatlich:
        type: "number"
      berechnungsHilfeVermoegen:
        $ref: "#/definitions/BerechnungsHilfeBetrag"
      entfallenMitFinanzierung:
        type: "boolean"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
    title: "MietAusgaben"
  MiteigentumsAnteil:
    type: "object"
    properties:
      anteil:
        type: "number"
        format: "double"
      gesamt:
        type: "integer"
        format: "int32"
    title: "MiteigentumsAnteil"
  ModernisierungsAngaben:
    type: "object"
    properties:
      badWc:
        type: "boolean"
      bodenWandTreppe:
        type: "boolean"
      dach:
        type: "boolean"
      fenster:
        type: "boolean"
      heizungZentral:
        type: "boolean"
      modernisierungsGrad:
        type: "string"
        enum:
        - "GERING"
        - "MITTEL"
        - "HOCH"
      modernisierungsJahr:
        type: "string"
      raumaufteilung:
        type: "boolean"
      stromAbwasserHeizkoerper:
        type: "boolean"
      waermedaemmung:
        type: "boolean"
      wurdeModernisiert:
        type: "boolean"
    title: "ModernisierungsAngaben"
  NachrangigesExternesDarlehen:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      darlehensGeber:
        type: "string"
        description: "Der Name des externen Darlehensgebers (Firmierung). Es gibt\
          \ keine entsprechende Beziehung zu einem Partner auf der Europace-Plattform."
      id:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
        description: "Wenn die Laufzeit bei einem externen Darlehen angegeben wurde,\
          \ dann ist das Feld gesetzt."
      rateMonatlich:
        type: "number"
      typ:
        type: "string"
        description: "Neue Ausprägungen können kurzfristig hinzukommen. Der Client\
          \ muss daher mit unbekannten Werten umgehen können."
        enum:
        - "ARBEITGEBERDARLEHEN"
        - "BAUSPARDARLEHEN"
        - "OEFFENTLICHES_DARLEHEN"
        - "RATENKREDIT"
      zinsBindung:
        $ref: "#/definitions/ZinsBindung"
    title: "NachrangigesExternesDarlehen"
  PaginationLinks:
    type: "object"
    properties:
      next:
        $ref: "#/definitions/Link"
      prev:
        $ref: "#/definitions/Link"
      self:
        $ref: "#/definitions/Link"
    title: "PaginationLinks"
  Partner:
    type: "object"
    properties:
      anrede:
        type: "string"
        enum:
        - "FRAU"
        - "HERR"
      anschrift:
        $ref: "#/definitions/Postadresse"
      email:
        type: "string"
      externePartnerId:
        type: "string"
      externerKreditSachbearbeiterId:
        type: "string"
      fax:
        type: "string"
      firmenNameZusatz:
        type: "string"
      firmierung:
        type: "string"
      geburtsdatum:
        type: "string"
        format: "date"
      id:
        type: "string"
      kreditsachbearbeiter:
        type: "boolean"
      mobilTelefon:
        type: "string"
      nachname:
        type: "string"
      partnerId:
        type: "string"
      telefonnummer:
        type: "string"
      vertriebsOrganisation:
        $ref: "#/definitions/VertriebsOrganisation"
      vorname:
        type: "string"
      webseite:
        type: "string"
      _links:
        $ref: "#/definitions/Links"
    title: "Partner"
  PartnerDTO:
    type: "object"
    properties:
      partnerId:
        type: "string"
    title: "PartnerDTO"
  PatchOperation:
    type: "object"
    properties:
      from:
        type: "string"
      op:
        type: "string"
        enum:
        - "add"
        - "remove"
        - "replace"
        - "move"
        - "copy"
        - "test"
      path:
        type: "string"
      value:
        type: "object"
        properties: {}
    title: "PatchOperation"
  Postadresse:
    type: "object"
    properties:
      hausnummer:
        type: "string"
      ort:
        type: "string"
      postleitzahl:
        type: "string"
      strasse:
        type: "string"
    title: "Postadresse"
  Praeferenzen:
    type: "object"
    properties:
      bereitstellungsZinsFreieZeit:
        $ref: "#/definitions/BereitstellungsZinsFreieZeitPraeferenz"
      bestandteileDerFinanzierung:
        $ref: "#/definitions/BestandteileDerFinanzierungPraeferenz"
      hoeheDerRate:
        $ref: "#/definitions/HoeheDerRatePraeferenz"
      laufzeit:
        $ref: "#/definitions/LaufzeitPraeferenz"
      sondertilgung:
        $ref: "#/definitions/SondertilgungPraeferenz"
      tilgungsSatzWechsel:
        $ref: "#/definitions/TilgungsSatzWechselPraeferenz"
      weiterePraeferenz:
        type: "string"
      zeitlicherRahmen:
        $ref: "#/definitions/ZeitlicherRahmenPraeferenz"
      zinsBindung:
        $ref: "#/definitions/ZinsBindungPraeferenz"
    title: "Praeferenzen"
  PrivatDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      laufzeitInMonaten:
        type: "integer"
        format: "int32"
      provision:
        type: "number"
    title: "PrivatDarlehensWunsch"
  ProduktAnbieter:
    type: "object"
    properties:
      anrede:
        type: "string"
        enum:
        - "FRAU"
        - "HERR"
      anschrift:
        $ref: "#/definitions/Postadresse"
      email:
        type: "string"
      externePartnerId:
        type: "string"
      externerKreditSachbearbeiterId:
        type: "string"
      fax:
        type: "string"
      firmenNameZusatz:
        type: "string"
      firmierung:
        type: "string"
      geburtsdatum:
        type: "string"
        format: "date"
      id:
        type: "string"
      kreditsachbearbeiter:
        type: "boolean"
      mobilTelefon:
        type: "string"
      nachname:
        type: "string"
      partnerId:
        type: "string"
      produktAnbieterId:
        type: "string"
      telefonnummer:
        type: "string"
      vertriebsOrganisation:
        $ref: "#/definitions/VertriebsOrganisation"
      vorname:
        type: "string"
      webseite:
        type: "string"
    title: "ProduktAnbieter"
  RechteAbteilung2:
    type: "object"
    properties:
      beschreibung:
        type: "string"
      betrag:
        type: "number"
      vorhanden:
        type: "boolean"
    title: "RechteAbteilung2"
  RisikoAbsicherung:
    type: "object"
    properties:
      abgesichertesRisiko:
        type: "string"
        enum:
        - "TODESFALL"
        - "ARBEITSLOSIGKEIT"
        - "ARBEITSUNFAEHIGKEIT"
        - "INVALIDITAET"
      auszahlungsBetrag:
        type: "number"
      auszahlungsTurnus:
        type: "string"
        enum:
        - "EINMALIG"
        - "MONATLICH"
        - "VIERTELJAEHRLICH"
        - "HALBJAEHRLICH"
        - "JAEHRLICH"
      praemienAnteil:
        type: "number"
    title: "RisikoAbsicherung"
  RisikoAbsicherungsWunsch:
    type: "object"
    properties:
      abzusicherndesRisiko:
        type: "string"
        enum:
        - "TODESFALL"
        - "ARBEITSUNFAEHIGKEIT"
        - "ARBEITSLOSIGKEIT"
      versicherteRate:
        type: "number"
        description: "nur bei abzusicherndesRisiko==ARBEITSUNFAEHIGKEIT,ARBEITSLOSIGKEIT"
      versicherungsSumme:
        type: "number"
        description: "nur bei abzusicherndesRisiko==TODESFALL"
    title: "RisikoAbsicherungsWunsch"
  SchufaErgebnis:
    type: "object"
    properties:
      antragstellerUnbekannt:
        type: "boolean"
        example: false
        description: "Der Antragsteller ist bei der Schufa unbekannt."
      inManuellerNachbehandlung:
        type: "boolean"
        example: false
        description: "Die Ermittlung des Schufa-Scores verzögert sich, wenn sich die\
          \ Anfrage bei der Schufa in manueller Nachbehandlung befindet."
      score:
        type: "string"
    title: "SchufaErgebnis"
  SelfRelAndEreignisse:
    type: "object"
    properties:
      ereignisse:
        $ref: "#/definitions/Link"
      self:
        $ref: "#/definitions/Link"
    title: "SelfRelAndEreignisse"
  SituationNachRenteneintritt:
    type: "object"
    properties:
      gesetzlicheRenteMonatlich:
        type: "number"
      privateRenteMonatlich:
        type: "number"
      rentenBeginn:
        type: "string"
        format: "date"
      sonstigesEinkommenMonatlich:
        type: "number"
    title: "SituationNachRenteneintritt"
  SonderZahlung:
    type: "object"
    properties:
      anzahl:
        type: "integer"
        format: "int32"
        description: "Gesamtanzahl der Zahlungen"
      betrag:
        type: "number"
        description: "Betrag in EUR über die Höhe der einzelnen Zahlung"
      termin:
        type: "string"
        format: "date"
        description: "Termin der Einmalzahlung (optional) oder Beginn der regelmäß\
          igen Zahlungen"
      zahlweise:
        type: "string"
        description: "Festlegung von einmaligen oder regelmäßigen Zahlungen"
        enum:
        - "EINMALIG"
        - "MONATLICH"
        - "VIERTELJAEHRLICH"
        - "HALBJAEHRLICH"
        - "JAEHRLICH"
    title: "SonderZahlung"
  SondertilgungPraeferenz:
    type: "object"
    properties:
      betragEinmalig:
        type: "number"
        description: "wenn praeferenzAuswahl == EINMALIG"
      betragJaehrlich:
        type: "number"
        description: "wenn praeferenzAuswahl == JAEHRLICH"
      praeferenzAuswahl:
        type: "string"
        enum:
        - "JAEHRLICH"
        - "EINMALIG"
        - "DERZEIT_NICHT_GEPLANT"
        - "EGAL"
      zusatzlicheKommentare:
        type: "string"
    title: "SondertilgungPraeferenz"
  SparPhase:
    type: "object"
    properties:
      guthabenBeiZuteilung:
        type: "number"
      sparBeitragMonatlich:
        type: "number"
      sparPhaseInJahren:
        type: "integer"
        format: "int32"
    title: "SparPhase"
  Sparplaene:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      beitragMonatlich:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
      zukuenftigeEinnahmen:
        type: "number"
    title: "Sparplaene"
  Staat:
    type: "object"
    properties:
      isoCountryCode:
        type: "string"
      name:
        type: "string"
    title: "Staat"
  StatusDTO:
    type: "object"
    required:
    - "antragsteller"
    - "produktAnbieter"
    properties:
      ablehnungsgrund:
        type: "string"
        enum:
        - "FINANZIELLE_SITUATION"
        - "NEGATIV_MERKMAL"
        - "WERTERMITTLUNG"
        - "KRITERIEN"
        - "UNTERLAGEN_UNVOLLSTAENDIG"
        - "GEGENANGEBOT"
        - "KEINE_ANGABE"
      antragsteller:
        type: "string"
        enum:
        - "BEANTRAGT"
        - "UNTERSCHRIEBEN"
        - "NICHT_ANGENOMMEN"
        - "WIDERRUFEN"
      kommentar:
        type: "string"
      produktAnbieter:
        type: "string"
        enum:
        - "NICHT_BEARBEITET"
        - "UNTERSCHRIEBEN"
        - "ABGELEHNT"
        - "ZURUECKGESTELLT"
    title: "StatusDTO"
  Tilgung:
    type: "object"
    properties:
      anfaenglicheTilgung:
        type: "number"
        description: "wenn null oder 0: tilgungsausgesetzt"
      sonderTilgungJaehrlich:
        type: "number"
        description: "nur wenn darlehensArt IN [ANNUITAETEN_DARLEHEN,FORWARD_DARLEHEN]\
          \ und KEIN tilgungsErsatz"
      tilgungsBeginnAm:
        type: "string"
        format: "date"
        description: "nullable"
      tilgungsErsatz:
        description: "nicht bei PRIVAT_DARLEHEN"
        $ref: "#/definitions/TilgungsErsatz"
    title: "Tilgung"
  TilgungsErsatz:
    type: "object"
    properties:
      id:
        type: "string"
        description: "Id des Tilgungsersatzproduktes, das in den Vermögenswerten des\
          \ Haushalts oder in den Bausparangeboten des Angebotes zu finden ist."
      typ:
        type: "string"
        description: "Menschenlesbarer Hinweis auf den Typ, z.B. BAUSPARVERTRAG oder\
          \ KAPITALBILDENDE_LEBENSVERSICHERUNG"
    title: "TilgungsErsatz"
  TilgungsPhase:
    type: "object"
    properties:
      bausparDarlehenSumme:
        type: "number"
      sollZinsNachZuteilung:
        type: "number"
      tilgungsBeitragMonatlich:
        type: "number"
      tilgungsPhaseInJahren:
        type: "integer"
        format: "int32"
    title: "TilgungsPhase"
  TilgungsSatzWechselPraeferenz:
    type: "object"
    properties:
      mindestensBenoetigt:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl == MINDESTENS_BENOETIGT"
      praeferenzAuswahl:
        type: "string"
        enum:
        - "MINDESTENS_BENOETIGT"
        - "NICHT_EINGEPLANT_ODER_ABSEHBAR"
        - "EGAL"
      zusatzlicheKommentare:
        type: "string"
    title: "TilgungsSatzWechselPraeferenz"
  TilgungsWunsch:
    type: "object"
    properties:
      anfaenglicheTilgung:
        type: "number"
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      ausgesetztBerechnet:
        type: "boolean"
        example: false
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      ausgesetztEigenesAngebot:
        type: "boolean"
        example: false
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      bausparWunsch:
        $ref: "#/definitions/BausparWunsch"
      rate:
        type: "number"
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      tilgungsBeginn:
        type: "string"
        format: "date"
      tilgungsErsatzProduktId:
        type: "string"
      volltilgerWennAnnuitaetenOderForward:
        type: "boolean"
        example: false
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
    title: "TilgungsWunsch"
  VariablesDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
    title: "VariablesDarlehensWunsch"
  Verbindlichkeit:
    type: "object"
    properties:
      glaeubiger:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
      rateMonatlich:
        type: "number"
      restschuld:
        type: "number"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      wirdAbgeloest:
        type: "boolean"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
    title: "Verbindlichkeit"
  VermietungsInformationen:
    type: "object"
    properties:
      mieteinnahmenNettoKaltMonatlich:
        type: "number"
      nutzungsArt:
        type: "string"
        enum:
        - "EIGENGENUTZT"
        - "TEIL_VERMIETET"
        - "VERMIETET"
      vermieteteFlaeche:
        type: "number"
    title: "VermietungsInformationen"
  Vermoegen:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      zukuenftigeEinnahmen:
        type: "number"
    title: "Vermoegen"
  VermoegenVerbindlichkeit:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      anrechnungFuerBlankoAnteil:
        type: "number"
      bezeichner:
        type: "string"
      kontonummer:
        type: "string"
      vermoegensTyp:
        type: "string"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
    title: "VermoegenVerbindlichkeit"
  VermoegenVerbindlichkeiten:
    type: "object"
    properties:
      vermoegenOderVerbindlichkeiten:
        type: "array"
        items:
          $ref: "#/definitions/VermoegenVerbindlichkeit"
    title: "VermoegenVerbindlichkeiten"
  VersicherungsWunsch:
    type: "object"
    properties:
      finanzierungsWeise:
        type: "string"
        description: "nur bei praemienZahlungsweise==EINMALIG"
        enum:
        - "DURCH_HAUPTDARLEHEN"
        - "INDIVIDUELL"
      id:
        type: "string"
      praemienZahlungsweise:
        type: "string"
        enum:
        - "EINMALIG"
        - "MONATLICH"
        - "VIERTELJAEHRLICH"
        - "HALBJAEHRLICH"
        - "JAEHRLICH"
      risikoAbsicherungsWuensche:
        type: "array"
        items:
          $ref: "#/definitions/RisikoAbsicherungsWunsch"
      versichertePersonId:
        type: "string"
      versicherungsArt:
        type: "string"
        enum:
        - "RATENSCHUTZVERSICHERUNG"
      versicherungsBeginn:
        type: "string"
        format: "date"
      versicherungsDauerInMonaten:
        type: "integer"
        format: "int32"
    title: "VersicherungsWunsch"
  VersicherungsZeitraum:
    type: "object"
    properties:
      beginn:
        type: "string"
        format: "date"
      dauerInMonaten:
        type: "integer"
        format: "int32"
      ende:
        type: "string"
        format: "date"
    title: "VersicherungsZeitraum"
  VertriebsOrganisation:
    type: "object"
    properties:
      firma:
        type: "string"
      name:
        type: "string"
      vertriebsOrganisationsId:
        type: "string"
    title: "VertriebsOrganisation"
  Vorgaenge:
    type: "object"
    properties:
      vorgaenge:
        type: "array"
        items:
          $ref: "#/definitions/VorgaengeResourceListItem"
      _links:
        $ref: "#/definitions/PaginationLinks"
    title: "Vorgaenge"
  VorgaengeResourceListItem:
    type: "object"
    properties:
      datenKontext:
        type: "string"
        enum:
        - "TEST_MODUS"
        - "ECHT_GESCHAEFT"
      externeVorgangsNummer:
        type: "string"
      letzteAenderung:
        type: "string"
        format: "date-time"
      letztesEreignis:
        type: "string"
        format: "date-time"
      vorgangsNummer:
        type: "string"
      _links:
        $ref: "#/definitions/Links"
    title: "VorgaengeResourceListItem"
  Vorgang:
    type: "object"
    properties:
      antraege:
        type: "array"
        items:
          $ref: "#/definitions/Antrag"
      archivierung:
        $ref: "#/definitions/Archivierung"
      aufbewahrungBis:
        type: "string"
        format: "date"
        description: "Datum, bis wann dieser Vorgang nach DSGVO aufbewahrt werden\
          \ muss. Nach diesem Datum wird der Vorgang automatisch gelöscht."
      bankverbindung:
        $ref: "#/definitions/Bankverbindung"
      datenKontext:
        type: "string"
        enum:
        - "TEST_MODUS"
        - "ECHT_GESCHAEFT"
      erstelltAm:
        type: "string"
        format: "date"
      externeVorgangsNummer:
        type: "string"
      finanzierungsObjekt:
        $ref: "#/definitions/FinanzierungsObjekt"
      geschlossenAm:
        type: "string"
        format: "date"
      haushalte:
        type: "array"
        items:
          $ref: "#/definitions/Haushalt"
      importQuelle:
        type: "string"
      kundenBetreuer:
        $ref: "#/definitions/Partner"
      leadTracking:
        $ref: "#/definitions/LeadTracking"
      letztesEreignis:
        type: "string"
        format: "date-time"
      phase:
        type: "string"
      prioritaet:
        type: "string"
        description: "Priorität des Vorgangs, Werte: [NIEDRIG,NEUTRAL,HOCH]"
        enum:
        - "NIEDRIG"
        - "NEUTRAL"
        - "HOCH"
      status:
        type: "string"
        description: "Status des Vorgangs, Werte: [AKTIV,ARCHIVIERT]"
      tippGeber:
        $ref: "#/definitions/Partner"
      vorgangsBearbeiter:
        $ref: "#/definitions/Partner"
      vorgangsNummer:
        type: "string"
      vorhaben:
        $ref: "#/definitions/Vorhaben"
      _links:
        $ref: "#/definitions/SelfRelAndEreignisse"
    title: "Vorgang"
  Vorhaben:
    type: "object"
    properties:
      absicherungswunsch:
        $ref: "#/definitions/Absicherungswunsch"
      eigenleistungWennNeubauOderModernisierungsmassnahmen:
        type: "number"
      externeBausparAngebote:
        type: "array"
        items:
          $ref: "#/definitions/BausparAngebot"
      finanzbedarf:
        $ref: "#/definitions/Finanzbedarf"
      finanzierungswunsch:
        $ref: "#/definitions/Finanzierungswunsch"
      id:
        type: "string"
      nachfinanzierung:
        type: "boolean"
      nachrangigeExterneDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/NachrangigesExternesDarlehen"
      praeferenzen:
        $ref: "#/definitions/Praeferenzen"
      verwendungszweck:
        type: "string"
        enum:
        - "ANSCHLUSSFINANZIERUNG"
        - "KAUF"
        - "KAUF_NEUBAU_VOM_BAUTRAEGER"
        - "MODERNISIERUNG_UMBAU_ANBAU"
        - "NEUBAU"
        - "KAPITALBESCHAFFUNG"
    title: "Vorhaben"
  Wertpapiere:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      dividendenJaehrlich:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
      zukuenftigeEinnahmen:
        type: "number"
    title: "Wertpapiere"
  ZeitlicherRahmenPraeferenz:
    type: "object"
    properties:
      finanzierungszusageBis:
        type: "string"
        format: "date"
        description: "wenn praeferenzAuswahl == ZUSAGE_BIS"
      praeferenzAuswahl:
        type: "string"
        enum:
        - "NUR_INFORMATION_UEBER_FINANZIERUNGSRAHMEN"
        - "ZUSAGE_BIS"
        - "SO_SCHNELL_WIE_MOEGLICH"
        - "EGAL"
      zusatzlicheKommentare:
        type: "string"
    title: "ZeitlicherRahmenPraeferenz"
  ZinsBindung:
    type: "object"
    properties:
      endetAm:
        type: "string"
        format: "date"
      jahre:
        type: "integer"
        format: "int32"
      monate:
        type: "integer"
        format: "int32"
      restschuldNachZinsBindungsEnde:
        type: "number"
    title: "ZinsBindung"
  ZinsBindungPraeferenz:
    type: "object"
    properties:
      praeferenzAuswahl:
        type: "string"
        enum:
        - "ZINSBINDUNG_VON_JAHREN"
        - "ZWISCHEN_BIS_JAHREN"
        - "FLEXIBEL_KURZFRISTIG_HANDLUNGSFAEHIG"
        - "LANGE_ZINSSICHERHEIT"
        - "EGAL"
      zinsBindungBisJahren:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl == ZWISCHEN_BIS_JAHREN"
      zinsBindungVonJahren:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl == ZINSBINDUNG_VON_JAHREN"
      zinsBindungZwischenJahren:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl == ZWISCHEN_BIS_JAHREN"
      zusatzlicheKommentare:
        type: "string"
    title: "ZinsBindungPraeferenz"
  ZugrundeliegendeDaten:
    type: "object"
    properties:
      bankverbindung:
        $ref: "#/definitions/Bankverbindung"
      finanzierungsObjekt:
        $ref: "#/definitions/FinanzierungsObjekt"
      haushalte:
        type: "array"
        items:
          $ref: "#/definitions/Haushalt"
      vorhaben:
        $ref: "#/definitions/Vorhaben"
    title: "ZugrundeliegendeDaten"
  ZwischenFinanzierungsWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      detailsZurVerwendung:
        type: "string"
      maximaleLaufzeitInMonaten:
        type: "integer"
        format: "int32"
      provision:
        type: "number"
      verwendungszweck:
        type: "string"
        enum:
        - "VORFINANZIERUNG_OEFFENTLICHER_MITTEL"
        - "VERKAUF_EINES_ANDEREN_OBJEKTS"
        - "SONSTIGE_VERWENDUNG"
    title: "ZwischenFinanzierungsWunsch"
