{
  "swagger": "2.0",
  "info": {
    "description": "Mit dieser API können die Vorgänge aus der Europace Plattform ausgelesen werden.",
    "version": "1.0",
    "title": "Vorgänge API",
    "contact": {
      "name": "Europace AG",
      "url": "www.europace2.de",
      "email": "helpdesk@europace2.de"
    }
  },
  "host": "baufismart.api.europace.de",
  "basePath": "/",
  "tags": [
    {
      "name": "Vorgänge",
      "description": "Dieser Endpunkt repräsentiert die Vertriebssicht."
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json;charset=UTF-8"
  ],
  "paths": {
    "/v1/vorgaenge": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "alle sichtbaren Vorgänge",
        "operationId": "getVorgaenge",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "datenKontext",
            "in": "query",
            "description": "Datenkontext",
            "required": false,
            "type": "string",
            "default": "ECHT_GESCHAEFT",
            "enum": [
              "ECHT_GESCHAEFT",
              "TEST_MODUS"
            ]
          },
          {
            "name": "aenderungSeit",
            "in": "query",
            "description": "aenderungSeit",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Vorgaenge"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "einen Vorgang abrufen",
        "description": "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId": "getVorgang",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "Nummer des Vorgangs",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-TraceId",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Vorgang"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "updateVorgangsStatus",
        "operationId": "updateVorgangsStatusUsingPATCH",
        "consumes": [
          "application/json-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "patchOperations",
            "description": "patchOperations",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/antraege": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Alle Anträge zum Vorgang",
        "operationId": "getAllVorgangsAntraege",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Antraege"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Anträge zum Vorgang",
        "operationId": "getVorgangsAntraege",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          },
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Antraege"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Ein spezifischer Antrag des Vorgangs",
        "operationId": "getAntrag",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          },
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "teilantragsNummer",
            "in": "path",
            "description": "teilantragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Antrag"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}/status": {
      "post": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Zum Setzen des Antragsstatus",
        "operationId": "setAntragsStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          },
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "teilantragsNummer",
            "in": "path",
            "description": "teilantragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "statusDTO",
            "description": "statusDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StatusDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/kundenBetreuer": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Den Kundenbetreuer des Vorgangs abrufen",
        "description": "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId": "getKundenbetreuer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Partner"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "updateKundenBetreuer",
        "operationId": "updateKundenBetreuerUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "partnerDTO",
            "description": "partnerDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnerDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Den Kundenbetreuer ändern",
        "operationId": "updateKundenBetreuerUsingPATCH",
        "consumes": [
          "application/json-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "patchOperations",
            "description": "patchOperations",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v1/vorgaenge/{vorgangsNummer}/vorgangsBearbeiter": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Den Vorgangsbearbeiter des Vorgangs abrufen",
        "description": "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId": "getVorgangsBearbeiter",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Partner"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "putVorgangsBearbeiterId",
        "operationId": "putVorgangsBearbeiterIdUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "partnerDTO",
            "description": "partnerDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnerDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "updateVorgangsBearbeiterId",
        "operationId": "updateVorgangsBearbeiterIdUsingPATCH",
        "consumes": [
          "application/json-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "patchOperations",
            "description": "patchOperations",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "tokenUrl": "https://api.europace.de/login",
      "flow": "password",
      "scopes": {
        "API": "Authorisation Scope für die gesamte API."
      }
    }
  },
  "definitions": {
    "HaushaltsPositionen": {
      "type": "object",
      "properties": {
        "bankUndSparguthaben": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankUndSparguthaben"
          }
        },
        "bausparvertraege": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BestehenderBausparvertrag"
          }
        },
        "ehegattenUnterhalt": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EinnahmenMonatlich"
          }
        },
        "einkuenfteAusNebentaetigkeit": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EinkuenfteAusNebentaetigkeit"
          }
        },
        "kindergeld": {
          "type": "array",
          "description": "Read-Only-Feld. Wird dynamisch aus den Angaben zu den Kindern berechnet. Pro kindergelderhaltendem Kind ein Listenelement.",
          "items": {
            "$ref": "#/definitions/EinnahmenMonatlich"
          }
        },
        "lebensUndRentenVersicherungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LebensOderRentenversicherungVermoegen"
          }
        },
        "mietAusgaben": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MietAusgaben"
          }
        },
        "privateDarlehen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Verbindlichkeit"
          }
        },
        "privateKrankenversicherung": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AusgabenMonatlich"
          }
        },
        "ratenkredite": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Verbindlichkeit"
          }
        },
        "sonstigeAusgaben": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AusgabenMonatlich"
          }
        },
        "sonstigeEinnahmen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EinnahmenMonatlich"
          }
        },
        "sonstigeVerbindlichkeiten": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Verbindlichkeit"
          }
        },
        "sonstigeVermoegen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vermoegen"
          }
        },
        "sparplaene": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sparplaene"
          }
        },
        "unbefristeteZusatzRenten": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EinnahmenMonatlich"
          }
        },
        "unterhaltsVerpflichtungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AusgabenMonatlich"
          }
        },
        "variableEinkuenfte": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EinnahmenMonatlich"
          }
        },
        "versicherungsAusgaben": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AusgabenMonatlich"
          }
        },
        "wertpapiere": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Wertpapiere"
          }
        }
      }
    },
    "TilgungsPhase": {
      "type": "object",
      "properties": {
        "bausparDarlehenSumme": {
          "type": "number"
        },
        "sollZinsNachZuteilung": {
          "type": "number"
        },
        "tilgungsBeitragMonatlich": {
          "type": "number"
        },
        "tilgungsPhaseInJahren": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Bereitstellung": {
      "type": "object",
      "properties": {
        "bereitstellungsZins": {
          "type": "number"
        },
        "bereitstellungsZinsFreieZeitInMonaten": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Meldung": {
      "type": "object",
      "properties": {
        "kategorie": {
          "type": "string",
          "description": "Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "AUSZAHLUNGS_VORAUSSETZUNG",
            "MACHBAR",
            "MACHBARKEITS_HINWEIS",
            "ANPASSUNG_KUNDENWUNSCH",
            "ANPASSUNG_VERTRIEBSWUNSCH",
            "UNBERUECKSICHTIGTE_ANGABE",
            "KONDITIONEN_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN",
            "KONDITIONEN_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN",
            "MACHBARKEIT_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN",
            "MACHBARKEIT_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN",
            "MACHBAR_UNTER_VORBEHALT_PRODUZENT",
            "NICHT_MACHBAR",
            "NICHT_ANBIETBAR"
          ]
        },
        "kreditEntscheider": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "HoeheDerRatePraeferenz": {
      "type": "object",
      "properties": {
        "betrag": {
          "type": "number"
        },
        "praeferenzAuswahl": {
          "type": "string",
          "enum": [
            "MEINE_MIETAUSGABEN_VON_HEUTE",
            "BETRAG",
            "MOEGLICHST_KLEIN",
            "VERFUEGBARES_EINKOMMEN_AUSSCHOEPFEN",
            "EGAL"
          ]
        },
        "zusatzlicheKommentare": {
          "type": "string"
        }
      }
    },
    "AusgabenMonatlich": {
      "type": "object",
      "properties": {
        "ausgabenMonatlich": {
          "type": "number"
        },
        "berechnungsHilfeVermoegen": {
          "$ref": "#/definitions/BerechnungsHilfeBetrag"
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "EINNAHME",
            "AUSGABE"
          ]
        }
      }
    },
    "VertriebsOrganisation": {
      "type": "object",
      "properties": {
        "firma": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "vertriebsOrganisationsId": {
          "type": "string"
        }
      }
    },
    "KfwDarlehensWunsch": {
      "type": "object",
      "properties": {
        "darlehensBetrag": {
          "type": "number"
        },
        "kfwEnergieEffizienzStandard": {
          "type": "string",
          "description": "Nur bei Programm 153. Wenn die KfW-Bank neue Standards anerkennt, sind die entsprechenden neuen Ausprägungen zulässig. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "STANDARD_40_PLUS",
            "STANDARD_40",
            "STANDARD_55",
            "STANDARD_70"
          ]
        },
        "kfwProgramm": {
          "type": "string",
          "description": "Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig werden. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "PROGRAMM_124",
            "PROGRAMM_141",
            "PROGRAMM_151",
            "PROGRAMM_152",
            "PROGRAMM_153",
            "PROGRAMM_155",
            "PROGRAMM_159",
            "PROGRAMM_167"
          ]
        },
        "laufzeitInJahren": {
          "type": "integer",
          "format": "int32"
        },
        "provision": {
          "type": "number"
        },
        "tilgungsfreieAnlaufjahre": {
          "type": "integer",
          "format": "int32",
          "description": "Erlaubt ist 1,2,3,4,5. Maximalwert abhängig von der Laufzeit"
        },
        "zinsBindungInJahren": {
          "type": "integer",
          "format": "int32",
          "description": "Programm 124: 5 oder 10, sonst: 10 oder 20"
        }
      }
    },
    "Sparplaene": {
      "type": "object",
      "properties": {
        "aktuellerWert": {
          "type": "number"
        },
        "beitragMonatlich": {
          "type": "number"
        },
        "ertrag": {
          "type": "number"
        },
        "maximalAufzuloesenderWert": {
          "type": "number"
        },
        "vermoegensEinsatz": {
          "type": "string",
          "enum": [
            "KEIN_EINSATZ",
            "ABTRETEN",
            "AUFLOESEN"
          ]
        },
        "vermoegensTyp": {
          "type": "string",
          "description": "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium",
          "enum": [
            "VERMOEGEN",
            "VERBINDLICHKEIT"
          ]
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "EINNAHME",
            "AUSGABE"
          ]
        },
        "zukuenftigeEinnahmen": {
          "type": "number"
        }
      }
    },
    "Darlehen": {
      "type": "object",
      "properties": {
        "auszahlungsBetrag": {
          "type": "number"
        },
        "auszahlungsDatum": {
          "type": "string",
          "format": "date",
          "description": "nur bei darlehensArt==FORWARD_DARLEHEN"
        },
        "auszahlungsKurs": {
          "type": "number"
        },
        "bereitstellung": {
          "description": "nicht bei darlehensArt==PRIVAT_DARLEHEN",
          "$ref": "#/definitions/Bereitstellung"
        },
        "darlehensBetrag": {
          "type": "number"
        },
        "darlehensTyp": {
          "type": "string",
          "enum": [
            "ANNUITAETEN_DARLEHEN",
            "FORWARD_DARLEHEN",
            "KFW_DARLEHEN",
            "PRIVAT_DARLEHEN",
            "ZWISCHEN_FINANZIERUNG",
            "VARIABLES_DARLEHEN"
          ]
        },
        "detailsZurVerwendung": {
          "type": "string",
          "description": "nur bei darlehensArt==ZWISCHEN_FINANZIERUNG"
        },
        "effektivZins": {
          "type": "number"
        },
        "effektivZinsRelevanteKosten": {
          "$ref": "#/definitions/EffektivZinsKosten"
        },
        "forwardPeriodeInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensArt==FORWARD_DARLEHEN"
        },
        "kfwEnergieEffizienzStandard": {
          "type": "string",
          "description": "nur bei darlehensArt==KFW_DARLEHEN. Nur bei KfW-Programm 153 relevant. Bei neuen Energieeffizienzstandards können auch weitere Werte zulässig werden.",
          "enum": [
            "STANDARD_40_PLUS",
            "STANDARD_40",
            "STANDARD_55",
            "STANDARD_70"
          ]
        },
        "kfwProgramm": {
          "type": "string",
          "description": "Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig werden.",
          "enum": [
            "PROGRAMM_124",
            "PROGRAMM_141",
            "PROGRAMM_151",
            "PROGRAMM_152",
            "PROGRAMM_153",
            "PROGRAMM_155",
            "PROGRAMM_159",
            "PROGRAMM_167"
          ]
        },
        "konditionWurdeManuellAngepasst": {
          "type": "boolean"
        },
        "konditionsAnpassungsBegruendung": {
          "type": "string",
          "description": "Begründung, wenn die Kondition angepasst wurde"
        },
        "laufZeitInJahren": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensArt==KFW_DARLEHEN"
        },
        "laufzeitInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensArt==PRIVAT_DARLEHEN"
        },
        "maximaleLaufzeitInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensArt==ZWISCHEN_FINANZIERUNG"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "rateMonatlich": {
          "type": "number",
          "example": 123.34,
          "description": "Die monatliche Rate in Euro"
        },
        "rateMonatlichInDerTilgungsfreienAnlaufzeit": {
          "type": "number",
          "description": "nur bei darlehensArt==KFW_DARLEHEN"
        },
        "sollZins": {
          "type": "number",
          "example": 2.05,
          "description": "Der Sollzinssatz in Prozent"
        },
        "tilgung": {
          "description": "nicht bei darlehensArt==ZWISCHEN_FINANZIERUNG",
          "$ref": "#/definitions/Tilgung"
        },
        "tilgungsFreieAnlaufJahre": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensArt==KFW_DARLEHEN"
        },
        "verwendungszweck": {
          "type": "string",
          "description": "nur bei darlehensArt==ZWISCHEN_FINANZIERUNG",
          "enum": [
            "VORFINANZIERUNG_OEFFENTLICHER_MITTEL",
            "VERKAUF_EINES_ANDEREN_OBJEKTS",
            "SONSTIGE_VERWENDUNG"
          ]
        },
        "zinsBindung": {
          "description": "nicht bei darlehensArt IN [VARIABLES_DARLEHEN,ZWISCHEN_FINANZIERUNG]",
          "$ref": "#/definitions/ZinsBindung"
        },
        "zinsZahlungsBeginnAm": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "Vermoegen": {
      "type": "object",
      "properties": {
        "aktuellerWert": {
          "type": "number"
        },
        "ertrag": {
          "type": "number"
        },
        "maximalAufzuloesenderWert": {
          "type": "number"
        },
        "vermoegensEinsatz": {
          "type": "string",
          "enum": [
            "KEIN_EINSATZ",
            "ABTRETEN",
            "AUFLOESEN"
          ]
        },
        "vermoegensTyp": {
          "type": "string",
          "description": "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium",
          "enum": [
            "VERMOEGEN",
            "VERBINDLICHKEIT"
          ]
        },
        "zukuenftigeEinnahmen": {
          "type": "number"
        }
      }
    },
    "Verbindlichkeit": {
      "type": "object",
      "properties": {
        "glaeubiger": {
          "type": "string"
        },
        "laufzeitEnde": {
          "type": "string",
          "format": "date"
        },
        "rateMonatlich": {
          "type": "number"
        },
        "restschuld": {
          "type": "number"
        },
        "vermoegensTyp": {
          "type": "string",
          "description": "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium",
          "enum": [
            "VERMOEGEN",
            "VERBINDLICHKEIT"
          ]
        },
        "wirdAbgeloest": {
          "type": "boolean"
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "EINNAHME",
            "AUSGABE"
          ]
        }
      }
    },
    "AntragsStatus": {
      "type": "object",
      "properties": {
        "antragsteller": {
          "type": "string",
          "description": "Willenserklärung des Antragstellers",
          "enum": [
            "BEANTRAGT",
            "UNTERSCHRIEBEN",
            "NICHT_ANGENOMMEN",
            "WIDERRUFEN"
          ]
        },
        "bearbeitungsFortschritt": {
          "type": "string",
          "description": "Bearbeitungsfortschritt des Antrags nach beidseitiger Unterzeichnung",
          "enum": [
            "NICHT_VON_PRODUKTANBIETER_BESTAETIGT",
            "VON_PRODUKTANBIETER_BESTAETIGT",
            "FREIGEGEBEN_FUER_SAMMELFORDERUNG",
            "PROVISION_IN_BEARBEITUNG",
            "PROVISON_AN_KUNDENBETREUER_VOLLSTAENDIG_AUSGEZAHLT"
          ]
        },
        "produktAnbieter": {
          "type": "string",
          "description": "Willenserklärung des Produktanbieters",
          "enum": [
            "NICHT_BEARBEITET",
            "UNTERSCHRIEBEN",
            "ABGELEHNT",
            "ZURUECKGESTELLT"
          ]
        }
      }
    },
    "BausparAngebot": {
      "type": "object",
      "properties": {
        "abschlussGebuehr": {
          "type": "number"
        },
        "angebotsHinweisFuerAntragsteller": {
          "type": "string",
          "description": "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
        },
        "bausparSumme": {
          "type": "number"
        },
        "einmalzahlung": {
          "type": "number"
        },
        "id": {
          "type": "string"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "sparPhase": {
          "$ref": "#/definitions/SparPhase"
        },
        "tarif": {
          "type": "string"
        },
        "tilgungsPhase": {
          "$ref": "#/definitions/TilgungsPhase"
        },
        "typ": {
          "type": "string"
        },
        "vertragsBeginn": {
          "type": "string",
          "format": "date"
        },
        "vertragsNummer": {
          "type": "string"
        },
        "verwaltungsgebuehrenJaehrlich": {
          "type": "number"
        },
        "zuteilungsDatum": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "MietAusgaben": {
      "type": "object",
      "properties": {
        "ausgabenMonatlich": {
          "type": "number"
        },
        "berechnungsHilfeVermoegen": {
          "$ref": "#/definitions/BerechnungsHilfeBetrag"
        },
        "entfallenMitFinanzierung": {
          "type": "boolean"
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "EINNAHME",
            "AUSGABE"
          ]
        }
      }
    },
    "EinkuenfteAusNebentaetigkeit": {
      "type": "object",
      "properties": {
        "beginnDerNebentaetigkeit": {
          "type": "string",
          "format": "date"
        },
        "einnahmenMonatlich": {
          "type": "number"
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "EINNAHME",
            "AUSGABE"
          ]
        }
      }
    },
    "ZinsBindungPraeferenz": {
      "type": "object",
      "properties": {
        "praeferenzAuswahl": {
          "type": "string",
          "enum": [
            "ZINSBINDUNG_VON_JAHREN",
            "ZWISCHEN_BIS_JAHREN",
            "FLEXIBEL_KURZFRISTIG_HANDLUNGSFAEHIG",
            "LANGE_ZINSSICHERHEIT",
            "EGAL"
          ]
        },
        "zinsBindungBisJahren": {
          "type": "integer",
          "format": "int32",
          "description": "wenn praeferenzAuswahl == ZWISCHEN_BIS_JAHREN"
        },
        "zinsBindungVonJahren": {
          "type": "integer",
          "format": "int32",
          "description": "wenn praeferenzAuswahl == ZINSBINDUNG_VON_JAHREN"
        },
        "zinsBindungZwischenJahren": {
          "type": "integer",
          "format": "int32",
          "description": "wenn praeferenzAuswahl == ZWISCHEN_BIS_JAHREN"
        },
        "zusatzlicheKommentare": {
          "type": "string"
        }
      }
    },
    "Vorhaben": {
      "type": "object",
      "properties": {
        "eigenleistungWennNeubauOderModernisierungsmassnahmen": {
          "type": "number"
        },
        "externeBausparAngebote": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BausparAngebot"
          }
        },
        "finanzbedarf": {
          "$ref": "#/definitions/Finanzbedarf"
        },
        "finanzierungswunsch": {
          "$ref": "#/definitions/Finanzierungswunsch"
        },
        "id": {
          "type": "string"
        },
        "nachrangigeExterneDarlehen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NachrangigesExternesDarlehen"
          }
        },
        "praeferenzen": {
          "$ref": "#/definitions/Praeferenzen"
        },
        "verwendungszweck": {
          "type": "string",
          "enum": [
            "ANSCHLUSSFINANZIERUNG",
            "KAUF",
            "KAUF_NEUBAU_VOM_BAUTRAEGER",
            "MODERNISIERUNG_UMBAU_ANBAU",
            "NEUBAU",
            "KAPITALBESCHAFFUNG"
          ]
        }
      }
    },
    "Beratung": {
      "type": "object",
      "properties": {
        "art": {
          "type": "string",
          "enum": [
            "PRAESENZ_GESCHAEFT",
            "FERN_ABSATZ_GESCHAEFT",
            "AUSSER_GESCHAEFTSRAUM_VERTRAG"
          ]
        },
        "hinweisFuerProduktAnbieter": {
          "type": "string"
        },
        "istKundenBetreuerVerkaeuferOderMaklerDerImmobilie": {
          "type": "boolean",
          "example": false,
          "description": "Mit diesem Wert wird ausgedrückt, ob der Kundenbetreuer auch der Immobilienmakler ist."
        }
      }
    },
    "GrundbuchAngabe": {
      "type": "object",
      "properties": {
        "anmerkungen": {
          "type": "string"
        },
        "bandUndBlatt": {
          "type": "string",
          "description": "Angabe von Band und Blatt"
        },
        "flurstuecke": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Flurstueck"
          }
        },
        "ort": {
          "type": "string",
          "description": "Ort des als Grundbuchamt zuständigen Amtsgerichtes"
        },
        "rechteInAbteilung2": {
          "description": "Belastungen und Beschränkungen in der Nutzbarkeit des Grundstücks. Leitungsrechte, Verzichte auf Abstandsflächen, Wegerechte, Insolvenzvermerke.",
          "$ref": "#/definitions/RechteAbteilung2"
        }
      }
    },
    "Grundstueck": {
      "type": "object",
      "properties": {
        "groesse": {
          "type": "number"
        },
        "grundstuecksArt": {
          "type": "string",
          "enum": [
            "UNBEBAUTES_WOHNGRUNDSTUECK",
            "UNBEBAUTES_MISCHGRUNDSTUECK",
            "UNBEBAUTES_GEWERBEGRUNDSTUECK",
            "LANDWIRTSCHAFTLICHES_GRUNDSTUECK",
            "SONSTIGES_GRUNDSTUECK"
          ]
        }
      }
    },
    "BeleihungsRechnung": {
      "type": "object",
      "properties": {
        "beleihungsAuslauf": {
          "type": "number",
          "description": "Der Beleihungsauslauf aus Sicht des Produktanbieters. Berechnet sich aus dem Verhältnis anerkannter Darlehen zur Summe der anerkannten Beleihungswerte."
        },
        "beleihungsWerte": {
          "type": "array",
          "description": "Enthält die vom Produktanbieter anerkannten Beleihungswerte",
          "items": {
            "$ref": "#/definitions/BeleihungsWert"
          }
        },
        "beleihungsWerteSumme": {
          "type": "number",
          "description": "Berechnungshilfe: Die Summe aller vom Produktanbieter anerkannten Beleihungswerte"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        }
      }
    },
    "BestandteileDerFinanzierungPraeferenz": {
      "type": "object",
      "properties": {
        "praeferenzAuswahl": {
          "type": "string",
          "enum": [
            "UNKOMPLIZIERTE_FINANZIERUNG",
            "WEITERE_PRODUKTE",
            "KONKRETE_VORSTELLUNGEN",
            "EGAL"
          ]
        },
        "zusatzlicheKommentare": {
          "type": "string"
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "TilgungsErsatz": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id des Tilgungsersatzproduktes, das in den Vermögenswerten des Haushalts oder in den Bausparangeboten des Angebotes zu finden ist."
        },
        "typ": {
          "type": "string",
          "description": "Menschenlesbarer Hinweis auf den Typ, z.B. BAUSPARVERTRAG oder KAPITALBILDENDE_LEBENSVERSICHERUNG"
        }
      }
    },
    "AnnuitaetenDarlehensWunsch": {
      "type": "object",
      "properties": {
        "bereitstellungsZinsFreieZeitInMonaten": {
          "type": "integer",
          "format": "int32"
        },
        "darlehensBetrag": {
          "type": "number"
        },
        "provision": {
          "type": "number"
        },
        "sondertilgungOptionalJaehrlich": {
          "type": "number"
        },
        "tilgungsWunsch": {
          "$ref": "#/definitions/TilgungsWunsch"
        },
        "zinsBindungInJahren": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ZinsBindung": {
      "type": "object",
      "properties": {
        "endetAm": {
          "type": "string",
          "format": "date"
        },
        "jahre": {
          "type": "integer",
          "format": "int32"
        },
        "monate": {
          "type": "integer",
          "format": "int32"
        },
        "restschuldNachZinsBindungsEnde": {
          "type": "number"
        }
      }
    },
    "LeadTracking": {
      "type": "object",
      "properties": {
        "kampagne": {
          "type": "string"
        },
        "keyword": {
          "type": "string"
        },
        "kundenBetreuerBenachrichtigen": {
          "type": "boolean"
        },
        "trackingId": {
          "type": "string"
        }
      }
    },
    "LaufzeitPraeferenz": {
      "type": "object",
      "properties": {
        "bisZumJahr": {
          "type": "string",
          "example": "2016",
          "description": "Nur relevant, wenn praeferenzAuswahl == BIS_ZUM_JAHR. Vierstellige Jahresangabe"
        },
        "bisZurRenteImJahr": {
          "type": "string",
          "example": "2016",
          "description": "Nur relevant, wenn praeferenzAuswahl == BIS_ZUR_RENTE_IM_JAHR. Vierstellige Jahresangabe"
        },
        "inJahren": {
          "type": "integer",
          "format": "int32",
          "description": "Nur relevant, wenn praeferenzAuswahl == IN_JAHREN."
        },
        "praeferenzAuswahl": {
          "type": "string",
          "enum": [
            "MOEGLICHST_SCHNELL",
            "IN_JAHREN",
            "BIS_ZUM_JAHR",
            "BIS_ZUR_RENTE_IM_JAHR",
            "EGAL"
          ]
        },
        "zusatzlicheKommentare": {
          "type": "string"
        }
      }
    },
    "BausparWunsch": {
      "type": "object",
      "properties": {
        "abschlussGebuehrenVerrechnung": {
          "type": "string",
          "enum": [
            "SOFORTZAHLUNG",
            "VERRECHNUNG"
          ]
        },
        "bausparSummeAbsolut": {
          "type": "number",
          "description": "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."
        },
        "bausparSummeRelativ": {
          "type": "number",
          "description": "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."
        },
        "bausparTarife": {
          "type": "array",
          "description": "siehe weitere Beschreibung unter Weitere Informationen -> Bezeichnung Bauspartarife",
          "items": {
            "type": "string",
            "enum": [
              "FUCHS_IMMO_1",
              "FUCHS_IMMO_2",
              "FUCHS_IMMO_3",
              "FUCHS_IMMO_4",
              "LBS_OST_CLASSIC15_F5",
              "LBS_OST_CLASSIC_F_H4",
              "LBS_OST_CLASSIC_F_H5",
              "LBS_OST_CLASSIC_12_C4",
              "LBS_OST_CLASSIC_12_C9",
              "LBS_OST_CLASSIC15_F3",
              "LBS_OST_CLASSIC15_F4",
              "LBS_OST_CLASSIC15_F6",
              "LBS_OST_CLASSIC15_F8",
              "LBS_OST_VARIO_FLEX",
              "LBS_SHH_PRIMUS_SC",
              "LBS_SHH_PRIMUS_SH",
              "LBS_SHH_PRIMUS_SI",
              "LBS_SHH_PRIMUS_SJ",
              "LBS_SHH_TREND_SD",
              "LBS_SHH_PRIMUS_SD",
              "LBS_WEST_ZUHAUSE_DIREKT_10",
              "LBS_WEST_ZUHAUSE_DIREKT_15",
              "LBS_WEST_ZUHAUSE_PLUS",
              "LBS_WEST_ZUHAUSE_FLEX_4_L",
              "LBS_WEST_ZUHAUSE_FLEX_5_L",
              "LBS_WEST_ZUHAUSE_FLEX_6_L",
              "LBS_WEST_ZUHAUSE_FLEX_8_L",
              "SIGNAL_IDUNA_FREIRAUM_F_30",
              "SIGNAL_IDUNA_FREIRAUM_F_35",
              "SIGNAL_IDUNA_FREIRAUM_F_40",
              "SIGNAL_IDUNA_FREIRAUM_F_45",
              "SIGNAL_IDUNA_FREIRAUM_F_50",
              "SIGNAL_IDUNA_FREIRAUM_F_60",
              "SIGNAL_IDUNA_FREIRAUM_F_30_MZ",
              "SIGNAL_IDUNA_FREIRAUM_F_35_MZ",
              "SIGNAL_IDUNA_FREIRAUM_F_40_MZ",
              "SIGNAL_IDUNA_FREIRAUM_F_45_MZ",
              "SIGNAL_IDUNA_FREIRAUM_F_50_MZ",
              "SIGNAL_IDUNA_FREIRAUM_F_60_MZ",
              "BHW_TARIF_FI1",
              "BHW_TARIF_FI1N",
              "BHW_TARIF_FI2",
              "BHW_TARIF_FI2N",
              "BHW_TARIF_FI3",
              "BHW_TARIF_FI4",
              "BHW_TARIF_FX1",
              "BHW_TARIF_FX1N",
              "BHW_TARIF_FX2",
              "BHW_TARIF_FX2N",
              "BHW_TARIF_REN",
              "DT_RING_TARIF_FT",
              "DT_RING_TARIF_FT_0",
              "DT_RING_TARIF_FT_1",
              "DT_RING_TARIF_FT_2",
              "DT_RING_TARIF_XT_0",
              "DT_RING_TARIF_XT_1",
              "ALTE_LEIPZIGER_1502",
              "ALTE_LEIPZIGER_1602",
              "ALTE_LEIPZIGER_1702",
              "ALTE_LEIPZIGER_1802",
              "ALTE_LEIPZIGER_1902",
              "ALTE_LEIPZIGER_2002",
              "ALTE_LEIPZIGER_1502_MZ",
              "ALTE_LEIPZIGER_1602_MZ",
              "ALTE_LEIPZIGER_1702_MZ",
              "ALTE_LEIPZIGER_1802_MZ",
              "ALTE_LEIPZIGER_1902_MZ",
              "ALTE_LEIPZIGER_2002_MZ",
              "ALTE_LEIPZIGER_1503",
              "ALTE_LEIPZIGER_1603",
              "ALTE_LEIPZIGER_1703",
              "ALTE_LEIPZIGER_1803",
              "ALTE_LEIPZIGER_1903",
              "ALTE_LEIPZIGER_2003",
              "ALTE_LEIPZIGER_1503_MZ",
              "ALTE_LEIPZIGER_1603_MZ",
              "ALTE_LEIPZIGER_1703_MZ",
              "ALTE_LEIPZIGER_1803_MZ",
              "ALTE_LEIPZIGER_1903_MZ",
              "ALTE_LEIPZIGER_2003_MZ",
              "ALTE_LEIPZIGER_150X",
              "ALTE_LEIPZIGER_160X",
              "ALTE_LEIPZIGER_170X",
              "ALTE_LEIPZIGER_180X",
              "ALTE_LEIPZIGER_190X",
              "ALTE_LEIPZIGER_200X",
              "ALTE_LEIPZIGER_150X_MZ",
              "ALTE_LEIPZIGER_160X_MZ",
              "ALTE_LEIPZIGER_170X_MZ",
              "ALTE_LEIPZIGER_180X_MZ",
              "ALTE_LEIPZIGER_190X_MZ",
              "ALTE_LEIPZIGER_200X_MZ",
              "BKM_MAX_PREMIUM_OPTIMAL",
              "BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE",
              "BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG",
              "BKM_MAX_PREMIUM_BESTER_ZINS",
              "WUESTENROT_01063_4",
              "WUESTENROT_01063_5",
              "WUESTENROT_01063_6",
              "WUESTENROT_01063_7",
              "WUESTENROT_01063_8",
              "WUESTENROT_01063_9",
              "WUESTENROT_01063_10",
              "WUESTENROT_01063_12",
              "WUESTENROT_01064_4",
              "WUESTENROT_01064_6",
              "WUESTENROT_01064_8",
              "WUESTENROT_01064_10",
              "WUESTENROT_01064_12",
              "WUESTENROT_01061_10",
              "WUESTENROT_01062_4"
            ]
          }
        },
        "id": {
          "type": "string"
        },
        "sonderZahlungEinmalig": {
          "type": "number"
        },
        "sparBeitragMonatlichAbsolut": {
          "type": "number",
          "description": "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."
        },
        "sparBeitragMonatlichRelativ": {
          "type": "number",
          "description": "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."
        },
        "tilgungsBeitragMonatlich": {
          "type": "number",
          "description": "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."
        },
        "vertragsPartnerIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "verwendung": {
          "type": "string",
          "enum": [
            "ZINS_ABSICHERUNG",
            "TILGUNGS_AUSGESETZT"
          ]
        },
        "zuteilungsDatum": {
          "type": "string",
          "format": "date",
          "description": "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."
        }
      }
    },
    "ModernisierungsAngaben": {
      "type": "object",
      "properties": {
        "badWc": {
          "type": "boolean"
        },
        "bodenWandTreppe": {
          "type": "boolean"
        },
        "dach": {
          "type": "boolean"
        },
        "fenster": {
          "type": "boolean"
        },
        "heizungZentral": {
          "type": "boolean"
        },
        "modernisierungsGrad": {
          "type": "string",
          "enum": [
            "GERING",
            "MITTEL",
            "HOCH"
          ]
        },
        "modernisierungsJahr": {
          "type": "string"
        },
        "raumaufteilung": {
          "type": "boolean"
        },
        "stromAbwasserHeizkoerper": {
          "type": "boolean"
        },
        "waermedaemmung": {
          "type": "boolean"
        },
        "wurdeModernisiert": {
          "type": "boolean"
        }
      }
    },
    "BankUndSparguthaben": {
      "type": "object",
      "properties": {
        "aktuellerWert": {
          "type": "number"
        },
        "ertrag": {
          "type": "number"
        },
        "maximalAufzuloesenderWert": {
          "type": "number"
        },
        "vermoegensEinsatz": {
          "type": "string",
          "enum": [
            "KEIN_EINSATZ",
            "ABTRETEN",
            "AUFLOESEN"
          ]
        },
        "vermoegensTyp": {
          "type": "string",
          "description": "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium",
          "enum": [
            "VERMOEGEN",
            "VERBINDLICHKEIT"
          ]
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "EINNAHME",
            "AUSGABE"
          ]
        },
        "zinsertragJaehrlich": {
          "type": "number"
        },
        "zukuenftigeEinnahmen": {
          "type": "number"
        }
      }
    },
    "PatchOperation": {
      "type": "object",
      "properties": {
        "op": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Partner": {
      "type": "object",
      "properties": {
        "anrede": {
          "type": "string",
          "enum": [
            "FRAU",
            "HERR"
          ]
        },
        "anschrift": {
          "$ref": "#/definitions/Postadresse"
        },
        "email": {
          "type": "string"
        },
        "externePartnerId": {
          "type": "string"
        },
        "externerKreditSachbearbeiterId": {
          "type": "string"
        },
        "fax": {
          "type": "string"
        },
        "firmenNameZusatz": {
          "type": "string"
        },
        "firmierung": {
          "type": "string"
        },
        "geburtsdatum": {
          "type": "string",
          "format": "date"
        },
        "id": {
          "type": "string"
        },
        "kreditsachbearbeiter": {
          "type": "boolean"
        },
        "mobilTelefon": {
          "type": "string"
        },
        "nachname": {
          "type": "string"
        },
        "partnerId": {
          "type": "string"
        },
        "telefonnummer": {
          "type": "string"
        },
        "vertriebsOrganisation": {
          "$ref": "#/definitions/VertriebsOrganisation"
        },
        "vorname": {
          "type": "string"
        },
        "webseite": {
          "type": "string"
        },
        "_links": {
          "$ref": "#/definitions/Links"
        }
      }
    },
    "GebaeudeFlaeche": {
      "type": "object",
      "properties": {
        "gesamtGroesse": {
          "type": "number"
        },
        "vermietungsInformationen": {
          "$ref": "#/definitions/VermietungsInformationen"
        }
      }
    },
    "BereitstellungsZinsFreieZeitPraeferenz": {
      "type": "object",
      "properties": {
        "darlehenBenoetigtInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "wenn praeferenzAuswahl == IN_MONATEN"
        },
        "praeferenzAuswahl": {
          "type": "string",
          "enum": [
            "MIT_DER_ERSTEN_AUSZAHLUNG",
            "IN_MONATEN",
            "NOCH_NICHT_FESTGELEGT",
            "EGAL"
          ]
        },
        "zusatzlicheKommentare": {
          "type": "string"
        }
      }
    },
    "StatusDTO": {
      "type": "object",
      "required": [
        "ablehnungsgrund",
        "antragsteller",
        "produktAnbieter"
      ],
      "properties": {
        "ablehnungsgrund": {
          "type": "string",
          "enum": [
            "FINANZIELLE_SITUATION",
            "NEGATIV_MERKMAL",
            "WERTERMITTLUNG",
            "KRITERIEN",
            "UNTERLAGEN_UNVOLLSTAENDIG",
            "GEGENANGEBOT",
            "KEINE_ANGABE"
          ]
        },
        "antragsteller": {
          "type": "string",
          "enum": [
            "BEANTRAGT",
            "UNTERSCHRIEBEN",
            "NICHT_ANGENOMMEN",
            "WIDERRUFEN"
          ]
        },
        "kommentar": {
          "type": "string"
        },
        "produktAnbieter": {
          "type": "string",
          "enum": [
            "NICHT_BEARBEITET",
            "UNTERSCHRIEBEN",
            "ABGELEHNT",
            "ZURUECKGESTELLT"
          ]
        }
      }
    },
    "Gebaeude": {
      "type": "object",
      "properties": {
        "anzahlDerGewerbeeinheiten": {
          "type": "integer",
          "format": "int32"
        },
        "anzahlDerWohneinheitenImGebaeude": {
          "type": "integer",
          "format": "int32"
        },
        "anzahlVollgeschosse": {
          "type": "integer",
          "format": "int32"
        },
        "aufbauFinanzierung": {
          "type": "boolean"
        },
        "aufzugVorhanden": {
          "type": "boolean"
        },
        "ausstattung": {
          "type": "string",
          "enum": [
            "EINFACH",
            "MITTEL",
            "GEHOBEN",
            "STARK_GEHOBEN"
          ]
        },
        "baujahr": {
          "type": "string",
          "example": "2016",
          "description": "Baujahr des Gebäudes. Bei Verwendungszweck != NEUBAU 2016"
        },
        "bauweise": {
          "type": "string",
          "enum": [
            "FACHWERK_MIT_STROH_LEHM",
            "FACHWERK_MIT_ZIEGELN",
            "GLAS_STAHL",
            "HOLZ",
            "MASSIV"
          ]
        },
        "bezeichnungWohneinheit": {
          "type": "string"
        },
        "dachgeschossAusbau": {
          "type": "string",
          "enum": [
            "FLACHDACH",
            "NICHT_AUSGEBAUT",
            "TEILWEISE_AUSGEBAUT",
            "VOLL_AUSGEBAUT"
          ]
        },
        "einliegerwohnungVorhanden": {
          "type": "boolean"
        },
        "geschossLage": {
          "type": "string",
          "enum": [
            "UNTERGESCHOSS",
            "ERDGESCHOSS",
            "ERSTES_OBERGESCHOSS",
            "ZWEITES_OBERGESCHOSS",
            "DRITTES_BIS_FUENFTES_OBERGESCHOSS",
            "AB_SECHSTES_OBERGESCHOSS",
            "UNBEKANNT"
          ]
        },
        "gewerbeflaeche": {
          "$ref": "#/definitions/GebaeudeFlaeche"
        },
        "hausAnordnung": {
          "type": "string",
          "enum": [
            "FREISTEHEND",
            "KOPFHAUS",
            "MITTELHAUS"
          ]
        },
        "hausTyp": {
          "type": "string",
          "enum": [
            "DOPPELHAUSHAELFTE",
            "EINFAMILIENHAUS",
            "MEHRFAMILIENHAUS",
            "REIHENHAUS",
            "ZWEIFAMILIENHAUS"
          ]
        },
        "istFertighaus": {
          "type": "boolean"
        },
        "kellerausbau": {
          "type": "string",
          "enum": [
            "AUSGEBAUT",
            "TEILWEISE_AUSGEBAUT",
            "VORHANDEN"
          ]
        },
        "kubatur": {
          "type": "number"
        },
        "miteigentumsAnteil": {
          "$ref": "#/definitions/MiteigentumsAnteil"
        },
        "modernisierungsAngaben": {
          "$ref": "#/definitions/ModernisierungsAngaben"
        },
        "unterkellerung": {
          "type": "string",
          "enum": [
            "NICHT_UNTERKELLERT",
            "TEILWEISE_UNTERKELLERT",
            "UNTERKELLERT"
          ]
        },
        "wohnflaeche": {
          "$ref": "#/definitions/GebaeudeFlaeche"
        }
      }
    },
    "Praeferenzen": {
      "type": "object",
      "properties": {
        "bereitstellungsZinsFreieZeit": {
          "$ref": "#/definitions/BereitstellungsZinsFreieZeitPraeferenz"
        },
        "bestandteileDerFinanzierung": {
          "$ref": "#/definitions/BestandteileDerFinanzierungPraeferenz"
        },
        "hoeheDerRate": {
          "$ref": "#/definitions/HoeheDerRatePraeferenz"
        },
        "laufzeit": {
          "$ref": "#/definitions/LaufzeitPraeferenz"
        },
        "sondertilgung": {
          "$ref": "#/definitions/SondertilgungPraeferenz"
        },
        "tilgungsSatzWechsel": {
          "$ref": "#/definitions/TilgungsSatzWechselPraeferenz"
        },
        "weiterePraeferenz": {
          "type": "string"
        },
        "zeitlicherRahmen": {
          "$ref": "#/definitions/ZeitlicherRahmenPraeferenz"
        },
        "zinsBindung": {
          "$ref": "#/definitions/ZinsBindungPraeferenz"
        }
      }
    },
    "Autostellplatz": {
      "type": "object",
      "properties": {
        "mieteinnahmenMonatlich": {
          "type": "number"
        },
        "typ": {
          "type": "string",
          "enum": [
            "STELLPLATZ",
            "CARPORT",
            "GARAGE",
            "DOPPEL_GARAGE",
            "KELLER_GARAGE",
            "TIEFGARAGEN_STELLPLATZ"
          ]
        }
      }
    },
    "Erbbaurecht": {
      "type": "object",
      "properties": {
        "erbbaurecht": {
          "type": "boolean"
        },
        "erbbauzinsJaehrlich": {
          "type": "number"
        },
        "grundstuecksEigentuemer": {
          "type": "string",
          "enum": [
            "ANDERE",
            "OEFFENTLICH_KIRCHLICH"
          ]
        },
        "laufzeitBisJahr": {
          "type": "string"
        }
      }
    },
    "SondertilgungPraeferenz": {
      "type": "object",
      "properties": {
        "betragEinmalig": {
          "type": "number",
          "description": "wenn praeferenzAuswahl == EINMALIG"
        },
        "betragJaehrlich": {
          "type": "number",
          "description": "wenn praeferenzAuswahl == JAEHRLICH"
        },
        "praeferenzAuswahl": {
          "type": "string",
          "enum": [
            "JAEHRLICH",
            "EINMALIG",
            "DERZEIT_NICHT_GEPLANT",
            "EGAL"
          ]
        },
        "zusatzlicheKommentare": {
          "type": "string"
        }
      }
    },
    "SituationNachRenteneintritt": {
      "type": "object",
      "properties": {
        "gesetzlicheRenteMonatlich": {
          "type": "number"
        },
        "privateRenteMonatlich": {
          "type": "number"
        },
        "rentenBeginn": {
          "type": "string",
          "format": "date"
        },
        "sonstigesEinkommenMonatlich": {
          "type": "number"
        }
      }
    },
    "Wertpapiere": {
      "type": "object",
      "properties": {
        "aktuellerWert": {
          "type": "number"
        },
        "dividendenJaehrlich": {
          "type": "number"
        },
        "ertrag": {
          "type": "number"
        },
        "maximalAufzuloesenderWert": {
          "type": "number"
        },
        "vermoegensEinsatz": {
          "type": "string",
          "enum": [
            "KEIN_EINSATZ",
            "ABTRETEN",
            "AUFLOESEN"
          ]
        },
        "vermoegensTyp": {
          "type": "string",
          "description": "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium",
          "enum": [
            "VERMOEGEN",
            "VERBINDLICHKEIT"
          ]
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "EINNAHME",
            "AUSGABE"
          ]
        },
        "zukuenftigeEinnahmen": {
          "type": "number"
        }
      }
    },
    "BestehendesDarlehen": {
      "type": "object",
      "properties": {
        "abzuloesendeRestschuld": {
          "type": "number"
        },
        "aktuelleRestschuldWennNichtAbzuloesen": {
          "type": "number"
        },
        "darlehensArt": {
          "type": "string",
          "description": "Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "BAUSPARDARLEHEN",
            "FOERDERDARLEHEN",
            "IMMOBILIENDARLEHEN",
            "SONSTIGES_DARLEHEN"
          ]
        },
        "darlehensBetrag": {
          "type": "number"
        },
        "darlehensGeber": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "darlehensKontonummer": {
          "type": "string"
        },
        "eingetrageneGrundschuld": {
          "type": "number"
        },
        "grundschuldArt": {
          "type": "string",
          "enum": [
            "BRIEF_GRUNDSCHULD",
            "BUCH_GRUNDSCHULD"
          ]
        },
        "id": {
          "type": "string"
        },
        "laufzeitEnde": {
          "type": "string",
          "format": "date"
        },
        "rateMonatlich": {
          "type": "number"
        },
        "sollZins": {
          "type": "number"
        },
        "zinsBindungEndetAm": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "BestehendesDarlehenDesFinanzierungsObjekts": {
      "type": "object",
      "properties": {
        "abzuloesendeRestschuld": {
          "type": "number"
        },
        "aktuelleRestschuldWennNichtAbzuloesen": {
          "type": "number"
        },
        "darlehensArt": {
          "type": "string",
          "description": "Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "BAUSPARDARLEHEN",
            "FOERDERDARLEHEN",
            "IMMOBILIENDARLEHEN",
            "SONSTIGES_DARLEHEN"
          ]
        },
        "darlehensBetrag": {
          "type": "number"
        },
        "darlehensGeber": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "darlehensKontonummer": {
          "type": "string"
        },
        "eingetrageneGrundschuld": {
          "type": "number"
        },
        "grundschuldArt": {
          "type": "string",
          "enum": [
            "BRIEF_GRUNDSCHULD",
            "BUCH_GRUNDSCHULD"
          ]
        },
        "id": {
          "type": "string"
        },
        "laufzeitEnde": {
          "type": "string",
          "format": "date"
        },
        "rateMonatlich": {
          "type": "number"
        },
        "sollZins": {
          "type": "number"
        },
        "verwendenAls": {
          "type": "string",
          "description": "Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben, behandelt werden soll.",
          "enum": [
            "ABLOESEN",
            "TRITT_IM_RANG_ZURUECK",
            "TRITT_NICHT_IM_RANG_ZURUECK"
          ]
        },
        "zinsBindungEndetAm": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "Vorgang": {
      "type": "object",
      "properties": {
        "antraege": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Antrag"
          }
        },
        "bankverbindung": {
          "$ref": "#/definitions/Bankverbindung"
        },
        "datenKontext": {
          "type": "string",
          "enum": [
            "TEST_MODUS",
            "ECHT_GESCHAEFT"
          ]
        },
        "erstelltAm": {
          "type": "string",
          "format": "date"
        },
        "externeVorgangsNummer": {
          "type": "string"
        },
        "finanzierungsObjekt": {
          "$ref": "#/definitions/FinanzierungsObjekt"
        },
        "geschlossenAm": {
          "type": "string",
          "format": "date"
        },
        "haushalte": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Haushalt"
          }
        },
        "importQuelle": {
          "type": "string"
        },
        "kundenBetreuer": {
          "$ref": "#/definitions/Partner"
        },
        "leadTracking": {
          "$ref": "#/definitions/LeadTracking"
        },
        "letztesEreignis": {
          "type": "string",
          "format": "date-time"
        },
        "personenbezogeneDatenGeloescht": {
          "type": "boolean"
        },
        "phase": {
          "type": "string"
        },
        "prioritaet": {
          "type": "string",
          "description": "Priorität des Vorgangs, Werte: [NIEDRIG,NEUTRAL,HOCH]",
          "enum": [
            "NIEDRIG",
            "NEUTRAL",
            "HOCH"
          ]
        },
        "status": {
          "type": "string",
          "description": "Status des Vorgangs, Werte: [AKTIV,ARCHIVIERT]"
        },
        "tippGeber": {
          "$ref": "#/definitions/Partner"
        },
        "vorgangsBearbeiter": {
          "$ref": "#/definitions/Partner"
        },
        "vorgangsNummer": {
          "type": "string"
        },
        "vorhaben": {
          "$ref": "#/definitions/Vorhaben"
        },
        "_links": {
          "$ref": "#/definitions/Links"
        }
      }
    },
    "Vorgaenge": {
      "type": "object",
      "properties": {
        "vorgaenge": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VorgaengeResourceListItem"
          }
        },
        "_links": {
          "$ref": "#/definitions/PaginationLinks"
        }
      }
    },
    "Beschaeftigung": {
      "type": "object",
      "properties": {
        "anzahlGehaelterProJahr": {
          "type": "number",
          "format": "double",
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
        },
        "arbeitgeber": {
          "type": "string",
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
        },
        "arbeitgeberInDeutschlandAnsaessig": {
          "type": "boolean",
          "example": false,
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
        },
        "arbeitgeberLand": {
          "description": "nur bei arbeitgeberInDeutschlandAnsaessig==false",
          "$ref": "#/definitions/Staat"
        },
        "art": {
          "type": "string",
          "enum": [
            "ANGESTELLTER",
            "ARBEITER",
            "BEAMTER",
            "FREIBERUFLER",
            "SELBSTAENDIGER",
            "RENTNER",
            "HAUSFRAU",
            "ARBEITSLOSER"
          ]
        },
        "befristungsStatus": {
          "type": "string",
          "description": "nur bei art==ANGESTELLTER,ARBEITER",
          "enum": [
            "BEFRISTET",
            "UNBEFRISTET"
          ]
        },
        "beruf": {
          "type": "string",
          "description": "nur bei art!=RENTNER"
        },
        "beschaeftigtSeit": {
          "type": "string",
          "format": "date",
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTAENDIGER"
        },
        "branche": {
          "type": "string",
          "description": "Berufsgruppe des Antragstellers.",
          "enum": [
            "LANDWIRTSCHAFT_FORSTWIRTSCHAFT_FISCHEREI",
            "BERGBAU_GEWINNUNG_VON_STEINEN_UND_ERDEN",
            "VERARBEITENDES_GEWERBE",
            "WASSERVERSORGUNG",
            "ENERGIEVERSORGUNG",
            "BAUGEWERBE",
            "HANDEL_INSTANDHALTUNG_VON_KRAFTFAHRZEUGEN",
            "VERKEHR_LOGISTIK",
            "GASTGEWERBE",
            "INFORMATION_KOMMUNIKATION",
            "FINANZ_UND_VERSICHERUNGSDIENSTLEISTUNGEN",
            "GRUNDSTÜCKS_UND_WOHNUNGSWESEN",
            "FREIBERUFLICHE_WISSENSCHAFTLICHE_UND_TECHNISCHE_DIENSTLEISTUNGEN",
            "SONSTIGE_WIRTSCHAFTLICHE_DIENSTLEISTUNGEN",
            "OEFFENTLICHE_VERWALTUNG_VERTEIDIGUNG_SOZIALVERSICHERUNG",
            "ERZIEHUNG_UNTERRICHT",
            "GESUNDHEIT_UND_SOZIALWESEN",
            "KUNST_UNTERHALTUNG_ERHOLUNG",
            "SONSTIGE_DIENSTLEISTUNGEN",
            "PRIVATE_HAUSHALTE"
          ]
        },
        "einkommenNettoJaehrlich": {
          "type": "number",
          "description": "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
        },
        "einkommenNettoMonatlich": {
          "type": "number",
          "description": "nur bei art!=FREIBERUFLER,SELBSTAENDIGER"
        },
        "firma": {
          "type": "string",
          "description": "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
        },
        "inProbezeit": {
          "type": "boolean",
          "example": false,
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
        },
        "situationNachRenteneintritt": {
          "description": "nur bei art!=RENTNER",
          "$ref": "#/definitions/SituationNachRenteneintritt"
        },
        "taetigkeit": {
          "type": "string",
          "description": "nur bei art==FREIBERUFLER,SELBSTAENDIGER",
          "enum": [
            "ALTENPFLEGER",
            "AMBULANTER_KRANKENPFLEGER",
            "ANWALT",
            "APOTHEKER",
            "ARCHITEKT",
            "ARZT",
            "BESTATTER",
            "DATENSCHUTZBEAUFTRAGTER",
            "DEKORATEUR",
            "DIAETASSISTENT",
            "DOLMETSCHER",
            "EDV_BERATER",
            "ERGOTHERAPEUT",
            "ERNAEHRUNGSBERATER",
            "FOTOGRAF",
            "GEOGRAF",
            "GRAFIKDESIGNER",
            "GRAFIKER",
            "HEBAMME",
            "HEILMASSEUR",
            "HEILPRAKTIKER",
            "HISTORIKER",
            "INFORMATIKER",
            "INGENIEUR",
            "INSOLVENZVERWALTER",
            "JOURNALIST",
            "KLASSISCHER_KONZERTMUSIKER",
            "KONSTRUKTEUR",
            "KRANKENGYMNAST",
            "KRANKENPFLEGER",
            "KRANKENSCHWESTER",
            "LOGOPAEDE",
            "MEDIZINISCH_TECHN_ASSISTENT",
            "NOTAR",
            "OPERNSAENGER",
            "PERSONALBERATER",
            "PHYSIOTHERAPEUT",
            "PSYCHOLOGE",
            "RAUMAUSSTATTER",
            "RUNDFUNKSPRECHER",
            "SACHVERSTAENDIGER",
            "STADTPLANER",
            "STATIKER",
            "STEUERBERATER",
            "TIERARZT",
            "UNTERNEHMENSBERATER",
            "VERMITTLER",
            "WIRTSCH_BUCHPRUEFER_REVISOR",
            "ZAHNARZT",
            "ZAHNTECHNIKER",
            "SONSTIGES"
          ]
        }
      }
    },
    "SchufaErgebnis": {
      "type": "object",
      "properties": {
        "antragstellerUnbekannt": {
          "type": "boolean",
          "example": false,
          "description": "Der Antragsteller ist bei der Schufa unbekannt."
        },
        "inManuellerNachbehandlung": {
          "type": "boolean",
          "example": false,
          "description": "Die Ermittlung des Schufa-Scores verzögert sich, wenn sich die Anfrage bei der Schufa in manueller Nachbehandlung befindet."
        },
        "score": {
          "type": "string"
        }
      }
    },
    "NachrangigesExternesDarlehen": {
      "type": "object",
      "properties": {
        "darlehensBetrag": {
          "type": "number"
        },
        "darlehensGeber": {
          "type": "string",
          "description": "Der Name des externen Darlehensgebers (Firmierung). Es gibt keine entsprechende Beziehung zu einem Partner auf der Europace-Plattform."
        },
        "id": {
          "type": "string"
        },
        "rateMonatlich": {
          "type": "number"
        },
        "typ": {
          "type": "string",
          "description": "Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "ARBEITGEBERDARLEHEN",
            "BAUSPARDARLEHEN",
            "OEFFENTLICHES_DARLEHEN",
            "RATENKREDIT"
          ]
        },
        "zinsBindung": {
          "$ref": "#/definitions/ZinsBindung"
        }
      }
    },
    "Bankverbindung": {
      "type": "object",
      "properties": {
        "bic": {
          "type": "string"
        },
        "iban": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "kontoinhaberIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kontoinhaberName": {
          "type": "string"
        },
        "kreditinstitut": {
          "type": "string"
        }
      }
    },
    "Postadresse": {
      "type": "object",
      "properties": {
        "hausnummer": {
          "type": "string"
        },
        "ort": {
          "type": "string"
        },
        "postleitzahl": {
          "type": "string"
        },
        "strasse": {
          "type": "string"
        }
      }
    },
    "VorgaengeResourceListItem": {
      "type": "object",
      "properties": {
        "datenKontext": {
          "type": "string",
          "enum": [
            "TEST_MODUS",
            "ECHT_GESCHAEFT"
          ]
        },
        "externeVorgangsNummer": {
          "type": "string"
        },
        "letztesEreignis": {
          "type": "string",
          "format": "date-time"
        },
        "vorgangsNummer": {
          "type": "string"
        },
        "_links": {
          "$ref": "#/definitions/Links"
        }
      }
    },
    "BestehendeImmobilie": {
      "type": "object",
      "properties": {
        "adresse": {
          "$ref": "#/definitions/Postadresse"
        },
        "autostellplaetze": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Autostellplatz"
          }
        },
        "bestehendeDarlehen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BestehendesDarlehen"
          }
        },
        "bewirtschaftungsKostenJaehrlich": {
          "type": "number"
        },
        "bodenRichtwert": {
          "type": "number"
        },
        "effektivZinsErhoehendeKosten": {
          "$ref": "#/definitions/EffektivZinsErhoehendeKosten"
        },
        "erbbaurecht": {
          "$ref": "#/definitions/Erbbaurecht"
        },
        "gebaeude": {
          "$ref": "#/definitions/Gebaeude"
        },
        "grundbuchAngabe": {
          "$ref": "#/definitions/GrundbuchAngabe"
        },
        "grundstueck": {
          "$ref": "#/definitions/Grundstueck"
        },
        "id": {
          "type": "string"
        },
        "immobilienEinsatz": {
          "type": "string",
          "enum": [
            "KEIN_EINSATZ",
            "VERKAUFEN",
            "ALS_ZUSATZSICHERHEIT"
          ]
        },
        "keinBaulandFlaecheInQm": {
          "type": "number"
        },
        "keineBestehendenDarlehenVorhanden": {
          "type": "boolean"
        },
        "marktueblicherKaufpreisProQm": {
          "type": "number"
        },
        "maximalEinzusetzenderBetragWennVerkauf": {
          "type": "number"
        },
        "objektArt": {
          "type": "string",
          "enum": [
            "GRUNDSTUECK",
            "EIGENTUMSWOHNUNG",
            "HAUS"
          ]
        },
        "vergleichsmieteFuerGewerbeflaecheProQm": {
          "type": "number"
        },
        "vergleichsmieteFuerWohnflaecheProQm": {
          "type": "number"
        },
        "verkehrswert": {
          "type": "number",
          "description": "Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung und Kapitalbeschaffung"
        },
        "wohnlage": {
          "type": "string",
          "enum": [
            "GEHOBEN",
            "MITTEL",
            "EINFACH"
          ]
        }
      }
    },
    "Haushalt": {
      "type": "object",
      "properties": {
        "antragsteller": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Antragsteller"
          }
        },
        "anzahlErwachseneImHaushalt": {
          "type": "integer",
          "format": "int32"
        },
        "anzahlKinderNichtImHaushalt": {
          "type": "integer",
          "format": "int32"
        },
        "bestehendeImmobilien": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BestehendeImmobilie"
          }
        },
        "id": {
          "type": "string"
        },
        "kfzAnzahl": {
          "type": "integer",
          "format": "int32"
        },
        "kinder": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Kind"
          }
        },
        "lebenshaltungsKostenMonatlich": {
          "type": "number"
        },
        "positionen": {
          "$ref": "#/definitions/HaushaltsPositionen"
        }
      }
    },
    "AngebotZumAntrag": {
      "type": "object",
      "properties": {
        "bausparvertraege": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Bausparvertrag"
          }
        },
        "beleihungsRechnung": {
          "$ref": "#/definitions/BeleihungsRechnung"
        },
        "bewertungDesAngebots": {
          "type": "string",
          "enum": [
            "ANGEBOT_ENTSPRICHT_DER_EMPFEHLUNG_DES_KUNDENBETREUERS",
            "ANGEBOT_ENTSPRICHT_DEM_WUNSCH_DES_KUNDEN"
          ]
        },
        "darlehen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Darlehen"
          }
        },
        "erzeugtAm": {
          "type": "string",
          "format": "date-time",
          "description": "Erzeugungsdatum des Angebots"
        },
        "kennung": {
          "type": "string"
        },
        "machbarkeitsStatus": {
          "type": "string",
          "enum": [
            "MACHBAR",
            "UNTER_VORBEHALT_PRODUZENT",
            "NICHT_MACHBAR"
          ]
        },
        "meldungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Meldung"
          }
        },
        "pruefungsErgebnisse": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AngebotsPruefungsErgebnis"
          }
        },
        "_links": {
          "$ref": "#/definitions/Links"
        }
      }
    },
    "Bausparvertrag": {
      "type": "object",
      "properties": {
        "abschlussGebuehr": {
          "type": "number"
        },
        "angebotsHinweisFuerAntragsteller": {
          "type": "string",
          "description": "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
        },
        "bausparSumme": {
          "type": "number"
        },
        "einmalzahlung": {
          "type": "number"
        },
        "gesamtLaufzeitInJahren": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "sparPhase": {
          "$ref": "#/definitions/SparPhase"
        },
        "tarif": {
          "type": "string"
        },
        "tilgungsPhase": {
          "$ref": "#/definitions/TilgungsPhase"
        },
        "typ": {
          "type": "string"
        },
        "vertragsBeginn": {
          "type": "string",
          "format": "date"
        },
        "vertragsNummer": {
          "type": "string"
        },
        "verwaltungsgebuehrenJaehrlich": {
          "type": "number"
        },
        "zuteilungsDatum": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "BerechnungsHilfeBetrag": {
      "type": "object",
      "properties": {
        "betragNachFinanzierung": {
          "type": "number"
        },
        "betragVorFinanzierung": {
          "type": "number"
        }
      }
    },
    "Antraege": {
      "type": "object",
      "properties": {
        "antraege": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Antrag"
          }
        },
        "_links": {
          "$ref": "#/definitions/PaginationLinks"
        }
      }
    },
    "PaginationLinks": {
      "type": "object",
      "properties": {
        "next": {
          "$ref": "#/definitions/Link"
        },
        "prev": {
          "$ref": "#/definitions/Link"
        },
        "self": {
          "$ref": "#/definitions/Link"
        }
      }
    },
    "Kind": {
      "type": "object",
      "properties": {
        "geburtsdatum": {
          "type": "string",
          "format": "date"
        },
        "id": {
          "type": "string"
        },
        "kindergeldWirdBezogen": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "unterhaltsEinnahmenBetragMonatlich": {
          "type": "number"
        }
      }
    },
    "AngebotsPruefungsErgebnis": {
      "type": "object",
      "properties": {
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "weitereAngaben": {
          "type": "string",
          "description": "Vom Produktanbieter bei der Angebotsprüfung ergänzte Daten. Das Format entspricht der Definition des Produktanbieters."
        }
      }
    },
    "Finanzbedarf": {
      "type": "object",
      "properties": {
        "aussenAnlagen": {
          "type": "number"
        },
        "bauNebenkosten": {
          "type": "number"
        },
        "beratungsHonorar": {
          "type": "number"
        },
        "bereitsBeglichen": {
          "type": "number"
        },
        "erschliessung": {
          "type": "number"
        },
        "grunderwerbsteuer": {
          "type": "number",
          "description": "Nebenkosten"
        },
        "grundstueckBereitsBezahlt": {
          "type": "boolean"
        },
        "grundstuecksKaufpreis": {
          "type": "number"
        },
        "herstellung": {
          "type": "number",
          "description": "inklusive Eigenleistungen"
        },
        "kapitalBeschaffung": {
          "type": "number"
        },
        "kapitalWirdBeschafft": {
          "type": "boolean"
        },
        "kaufpreis": {
          "type": "number",
          "description": "inklusive Eigenleistungen"
        },
        "maklergebuehr": {
          "type": "number",
          "description": "Nebenkosten"
        },
        "mobiliar": {
          "type": "number"
        },
        "modernisieren": {
          "type": "boolean"
        },
        "modernisierung": {
          "type": "number",
          "description": "inklusive Eigenleistungen"
        },
        "notargebuehr": {
          "type": "number",
          "description": "Nebenkosten"
        },
        "renovierung": {
          "type": "number"
        },
        "sonstigeKosten": {
          "type": "number"
        },
        "zusaetzlichesKapital": {
          "type": "number"
        }
      }
    },
    "BeleihungsWert": {
      "type": "object",
      "properties": {
        "beleihungsWert": {
          "type": "number"
        },
        "immobilie": {
          "$ref": "#/definitions/ImmobilieVerknuepfung"
        }
      }
    },
    "Flurstueck": {
      "type": "object",
      "properties": {
        "anteil": {
          "$ref": "#/definitions/MiteigentumsAnteil"
        },
        "flur": {
          "type": "string"
        },
        "flurstuecksNummer": {
          "type": "string"
        },
        "groesse": {
          "type": "number"
        }
      }
    },
    "CharSequence": {
      "type": "object"
    },
    "TilgungsWunsch": {
      "type": "object",
      "properties": {
        "anfaenglicheTilgung": {
          "type": "number",
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        },
        "ausgesetztBerechnet": {
          "type": "boolean",
          "example": false,
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        },
        "ausgesetztEigenesAngebot": {
          "type": "boolean",
          "example": false,
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        },
        "bausparWunsch": {
          "$ref": "#/definitions/BausparWunsch"
        },
        "rate": {
          "type": "number",
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        },
        "tilgungsBeginn": {
          "type": "string",
          "format": "date"
        },
        "tilgungsErsatzProduktId": {
          "type": "string"
        },
        "volltilgerWennAnnuitaetenOderForward": {
          "type": "boolean",
          "example": false,
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        }
      }
    },
    "ImmobilieVerknuepfung": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "EinnahmenMonatlich": {
      "type": "object",
      "properties": {
        "einnahmenMonatlich": {
          "type": "number"
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "EINNAHME",
            "AUSGABE"
          ]
        }
      }
    },
    "ProduktAnbieter": {
      "type": "object",
      "properties": {
        "anrede": {
          "type": "string",
          "enum": [
            "FRAU",
            "HERR"
          ]
        },
        "anschrift": {
          "$ref": "#/definitions/Postadresse"
        },
        "email": {
          "type": "string"
        },
        "externePartnerId": {
          "type": "string"
        },
        "externerKreditSachbearbeiterId": {
          "type": "string"
        },
        "fax": {
          "type": "string"
        },
        "firmenNameZusatz": {
          "type": "string"
        },
        "firmierung": {
          "type": "string"
        },
        "geburtsdatum": {
          "type": "string",
          "format": "date"
        },
        "id": {
          "type": "string"
        },
        "kreditsachbearbeiter": {
          "type": "boolean"
        },
        "mobilTelefon": {
          "type": "string"
        },
        "nachname": {
          "type": "string"
        },
        "partnerId": {
          "type": "string"
        },
        "produktAnbieterId": {
          "type": "string"
        },
        "telefonnummer": {
          "type": "string"
        },
        "vertriebsOrganisation": {
          "$ref": "#/definitions/VertriebsOrganisation"
        },
        "vorname": {
          "type": "string"
        },
[...]
