{
  "openapi": "3.0.1",
  "info": {
    "title": "Vorgänge API",
    "description": "Mit dieser API können die Vorgänge aus der Europace Plattform ausgelesen werden.",
    "contact": {
      "name": "Europace AG",
      "url": "www.europace2.de",
      "email": "helpdesk@europace2.de"
    },
    "version": "2.15"
  },
  "servers": [
    {
      "url": "https://baufismart.api.europace.de/"
    }
  ],
  "tags": [
    {
      "name": "Vorgänge",
      "description": "Dieser Endpunkt repräsentiert die Vertriebssicht."
    }
  ],
  "paths": {
    "/v2/vorgaenge": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "alle sichtbaren Vorgänge",
        "operationId": "getVorgaenge",
        "parameters": [
          {
            "name": "datenKontext",
            "in": "query",
            "description": "Datenkontext",
            "schema": {
              "type": "string",
              "default": "ECHT_GESCHAEFT",
              "enum": [
                "ECHT_GESCHAEFT",
                "TEST_MODUS"
              ]
            }
          },
          {
            "name": "aenderungSeit",
            "in": "query",
            "description": "aenderungSeit",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aenderungBis",
            "in": "query",
            "description": "aenderungBis",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sortierung der Vorgänge, aufsteigend oder absteigend",
            "schema": {
              "type": "string",
              "default": "absteigend"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Vorgaenge"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "einen Vorgang abrufen",
        "description": "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId": "getVorgang",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "Nummer des Vorgangs",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Vorgang"
                }
              }
            },
            "links": {
              "antraege": {
                "operationId": "getAllVorgangsAntraege",
                "parameters": {
                  "vorgangsNummer": "$response.body#/vorgangsNummer"
                },
                "description": "Auslesen der Anträge desVorgangs."
              },
              "ereignisse": {
                "operationRef": "https://github.com/europace/baufismart-ereignisse-api/blob/master/swagger.yaml#/paths/ereignisse",
                "parameters": {
                  "vorgangsNummer": "$response.body#/vorgangsNummer"
                },
                "description": "Auslesen der Ereignisse des Vorgangs."
              },
              "gemerkteAngebote": {
                "operationId": "retrieveGemerkteAngebote",
                "parameters": {
                  "vorgangsNummer": "$response.body#/vorgangsNummer"
                },
                "description": "Auslesen aller gemerkten Angebote des Vorgangs."
              },
              "finanzierungsvorschlaege": {
                "operationId": "getFinanzierungsvorschlaege",
                "parameters": {
                  "vorgangsNummer": "$response.body#/vorgangsNummer"
                },
                "description": "Auslesen aller Finanzierungsvorschläge des Vorgangs."
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Änderung von Metadaten an einem bestehenden Vorgang",
        "operationId": "updateVorgang",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "patchOperations",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Vorgang"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ],
        "x-codegen-request-body-name": "patchOperations"
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/antraege": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Alle Anträge zum Vorgang",
        "operationId": "getAllVorgangsAntraege",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Antraege"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Anträge zum Vorgang",
        "operationId": "getVorgangsAntraege",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Antraege"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Ein spezifischer Antrag des Vorgangs",
        "operationId": "getAntrag",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "teilantragsNummer",
            "in": "path",
            "description": "teilantragsNummer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Antrag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}/status": {
      "post": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Zum Setzen des Antragsstatus",
        "operationId": "setAntragsStatus",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "teilantragsNummer",
            "in": "path",
            "description": "teilantragsNummer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "statusDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "202": {
            "description": "Accepted",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/finanzierungsvorschlaege": {
      "get": {
        "tags": [
          "Vorgänge",
          "FinVo",
          "Finanzierungsvorschläge",
          "Angebote"
        ],
        "summary": "Die Liste der erzeugten Finanzirungsvorschläge",
        "description": "Als Parameter wird die in BaufiSmart erzeugte Vorgangsnummer erwartet. Finanzirungsvorschläge sind im ersten Schritt ausgehändigte Finanzierungsvorschläge in Baufsmart.",
        "operationId": "getFinanzierungsvorschlaege",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Finanzierungsvorschlag"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/finanzierungsvorschlaege/{finanzierungsvorschlagId}": {
      "get": {
        "tags": [
          "Vorgänge",
          "FinVo",
          "Finanzierungsvorschläge",
          "Angebote"
        ],
        "summary": "Ein erzeugter Finanzirungsvorschlag",
        "description": "Als Parameter wird die in BaufiSmart erzeugte Vorgangsnummer und die Id des Finanzierungsvorschlags erwartet.",
        "operationId": "retrieveFinanzierungsvorschlag",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "Nummer des Vorgangs",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finanzierungsvorschlagId",
            "in": "path",
            "description": "Id des Finanzierungsvorschlags",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Finanzierungsvorschlag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/gemerkteAngebote": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Die Liste der gemerkten Angebote des Vorgangs abrufen",
        "description": "Als Parameter wird die in BaufiSmart erzeugte Vorgangsnummer erwartet. Gemerkte Angebote sind: explizit gemerkte Angebote in BaufiSmart, ausgehändigte Finanzierungsvorschläge, Empfehlungen des Bearbeiters, Wünsche des Antragstellers, angefragte- und angenommene Angebote.",
        "operationId": "retrieveGemerkteAngebote",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GemerkteAngeboteResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/kundenBetreuer": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Den Kundenbetreuer des Vorgangs abrufen",
        "description": "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId": "getKundenbetreuer",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Partner"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Den Kundenbetreuer ändern",
        "operationId": "updateKundenBetreuerUsingPUT",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "partnerDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ],
        "x-codegen-request-body-name": "partnerDTO"
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/vorgangsBearbeiter": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Den Vorgangsbearbeiter des Vorgangs abrufen",
        "description": "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId": "getVorgangsBearbeiter",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Partner"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "putVorgangsBearbeiterId",
        "operationId": "putVorgangsBearbeiterIdUsingPUT",
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "partnerDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ],
        "x-codegen-request-body-name": "partnerDTO"
      }
    }
  },
  "components": {
    "schemas": {
      "Absicherung": {
        "title": "Absicherung",
        "type": "object",
        "properties": {
          "abgesicherteRisiken": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RisikoAbsicherung"
            }
          },
          "gesamtPraemie": {
            "type": "number"
          },
          "praemienZahlungsweise": {
            "type": "string",
            "enum": [
              "EINMALIG",
              "MONATLICH",
              "VIERTELJAEHRLICH",
              "HALBJAEHRLICH",
              "JAEHRLICH"
            ]
          },
          "tarifBezeichnung": {
            "type": "string"
          },
          "tarifKennung": {
            "type": "string"
          },
          "versichertePersonId": {
            "type": "string"
          },
          "versicherungsArt": {
            "type": "string"
          },
          "versicherungsNummer": {
            "type": "string"
          },
          "versicherungsZeitraum": {
            "$ref": "#/components/schemas/VersicherungsZeitraum"
          }
        }
      },
      "Absicherungswunsch": {
        "title": "Absicherungswunsch",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "versicherungsWuensche": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VersicherungsWunsch"
            }
          }
        }
      },
      "Angebot": {
        "title": "Angebot",
        "type": "object",
        "properties": {
          "absicherungen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Absicherung"
            }
          },
          "bausparvertraege": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bausparvertrag"
            }
          },
          "beleihungsRechnung": {
            "$ref": "#/components/schemas/BeleihungsRechnung"
          },
          "bewertungDesAngebots": {
            "type": "string",
            "enum": [
              "ANGEBOT_ENTSPRICHT_DER_EMPFEHLUNG_DES_KUNDENBETREUERS",
              "ANGEBOT_ENTSPRICHT_DEM_WUNSCH_DES_KUNDEN"
            ]
          },
          "darlehen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Darlehen"
            }
          },
          "erzeugtAm": {
            "type": "string",
            "description": "Erzeugungsdatum des Angebots",
            "format": "date-time"
          },
          "kennung": {
            "type": "string"
          },
          "machbarkeitsStatus": {
            "type": "string",
            "enum": [
              "MACHBAR",
              "UNTER_VORBEHALT_PRODUZENT",
              "NICHT_MACHBAR"
            ]
          },
          "meldungen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meldung"
            }
          },
          "pruefungsErgebnisse": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AngebotsPruefungsErgebnis"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/Links"
          }
        }
      },
      "AngebotsPruefungsErgebnis": {
        "title": "AngebotsPruefungsErgebnis",
        "type": "object",
        "properties": {
          "produktAnbieter": {
            "$ref": "#/components/schemas/ProduktAnbieter"
          },
          "weitereAngaben": {
            "type": "string",
            "description": "Vom Produktanbieter bei der Angebotsprüfung ergänzte Daten. Das Format entspricht der Definition des Produktanbieters."
          }
        }
      },
      "AnnuitaetenDarlehensWunsch": {
        "title": "AnnuitaetenDarlehensWunsch",
        "type": "object",
        "properties": {
          "auszahlungsDatum": {
            "type": "string",
            "format": "date"
          },
          "bereitstellungsZinsFreieZeitInMonaten": {
            "type": "integer",
            "format": "int32"
          },
          "darlehensBetrag": {
            "type": "number"
          },
          "provision": {
            "type": "number"
          },
          "riesterFoerderung": {
            "type": "boolean"
          },
          "riesterGefoerdertePerson": {
            "type": "string"
          },
          "sondertilgungOptionalJaehrlich": {
            "type": "number"
          },
          "tilgungsWunsch": {
            "$ref": "#/components/schemas/TilgungsWunsch"
          },
          "zinsBindungInJahren": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Antraege": {
        "title": "Antraege",
        "type": "object",
        "properties": {
          "antraege": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Antrag"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "Antrag": {
        "title": "Antrag",
        "type": "object",
        "properties": {
          "angebot": {
            "$ref": "#/components/schemas/Angebot"
          },
          "ansprechpartner": {
            "$ref": "#/components/schemas/Partner"
          },
          "antragsNummer": {
            "type": "string",
            "description": "Nummer des Antrags auf der Europace Plattform"
          },
          "beratung": {
            "$ref": "#/components/schemas/Beratung"
          },
          "datenKontext": {
            "type": "string",
            "description": "Gibt an, ob es sich um einen Antrag aus dem Testmodus oder Echtgeschäft handelt",
            "enum": [
              "TEST_MODUS",
              "ECHT_GESCHAEFT"
            ]
          },
          "dokumente": {
            "type": "array",
            "description": "Enthält alle Plattformdokumente, freigegebene Dokumente des Vertriebs, sowie die hochgeladenen Dokumente des Produktanbieters. **Aktuell sind nur Selbstauskunft und Kreditentscheidungsinformation enthalten.**",
            "items": {
              "$ref": "#/components/schemas/Dokument"
            }
          },
          "kreditSachbearbeiter": {
            "$ref": "#/components/schemas/Partner"
          },
          "produktAnbieter": {
            "$ref": "#/components/schemas/ProduktAnbieter"
          },
          "status": {
            "$ref": "#/components/schemas/AntragsStatus"
          },
          "vermittler": {
            "$ref": "#/components/schemas/Partner"
          },
          "zeitpunktDerAnnahme": {
            "type": "string",
            "description": "Zeitpunkt, zu dem der Antrag im System erstellt wurde.",
            "format": "date-time"
          },
          "zugrundeliegendeDaten": {
            "$ref": "#/components/schemas/ZugrundeliegendeDaten"
          },
          "_links": {
            "$ref": "#/components/schemas/Links"
          }
        },
        "description": "Diese Resource repräsentiert einen Antrag in Baufi Smart."
      },
      "AntragsStatus": {
        "title": "AntragsStatus",
        "type": "object",
        "properties": {
          "ablehnungsgrund": {
            "type": "string",
            "description": "Ablehnungsgrund des Produktanbieters",
            "enum": [
              "FINANZIELLE_SITUATION",
              "NEGATIV_MERKMAL",
              "WERTERMITTLUNG",
              "KRITERIEN",
              "UNTERLAGEN_UNVOLLSTAENDIG",
              "GEGENANGEBOT",
              "KEINE_ANGABE"
            ]
          },
          "antragsteller": {
            "type": "string",
            "description": "Willenserklärung des Antragstellers",
            "enum": [
              "BEANTRAGT",
              "UNTERSCHRIEBEN",
              "NICHT_ANGENOMMEN",
              "WIDERRUFEN"
            ]
          },
          "bearbeitungsFortschritt": {
            "type": "string",
            "description": "Bearbeitungsfortschritt des Antrags nach beidseitiger Unterzeichnung",
            "enum": [
              "NICHT_VON_PRODUKTANBIETER_BESTAETIGT",
              "VON_PRODUKTANBIETER_BESTAETIGT",
              "FREIGEGEBEN_FUER_SAMMELFORDERUNG",
              "PROVISION_IN_BEARBEITUNG",
              "PROVISON_AN_KUNDENBETREUER_VOLLSTAENDIG_AUSGEZAHLT"
            ]
          },
          "produktAnbieter": {
            "type": "string",
            "description": "Willenserklärung des Produktanbieters",
            "enum": [
              "NICHT_BEARBEITET",
              "UNTERSCHRIEBEN",
              "ABGELEHNT",
              "ZURUECKGESTELLT"
            ]
          }
        }
      },
      "Antragsteller": {
        "title": "Antragsteller",
        "type": "object",
        "properties": {
          "anrede": {
            "type": "string",
            "enum": [
              "FRAU",
              "HERR"
            ]
          },
          "anschrift": {
            "$ref": "#/components/schemas/Postadresse"
          },
          "arbeitserlaubnis": {
            "type": "boolean",
            "description": "wenn keine deutsche Staatsangehörigkeit",
            "example": false
          },
          "arbeitserlaubnisBefristetBis": {
            "type": "string",
            "description": "wenn Arbeitserlaubnis befristet",
            "format": "date"
          },
          "aufenthaltsTitel": {
            "type": "string",
            "description": "wenn keine deutsche Staatsangehörigkeit",
            "enum": [
              "VISUM",
              "AUFENTHALTS_ERLAUBNIS",
              "NIEDERLASSUNGS_ERLAUBNIS",
              "DAUERAUFENTHALT_EU"
            ]
          },
          "aufenthaltsTitelBefristetBis": {
            "type": "string",
            "description": "wenn Aufenthaltstitel befristet",
            "format": "date"
          },
          "beschaeftigung": {
            "$ref": "#/components/schemas/Beschaeftigung"
          },
          "bruttoJahresEinkommenErwartet": {
            "type": "number"
          },
          "bruttoVorjahresEinkommen": {
            "type": "number"
          },
          "email": {
            "type": "string",
            "description": "Eine valide Emailadresse",
            "example": "max.mustermann@test.de"
          },
          "externeAntragstellerId": {
            "type": "string"
          },
          "familienstand": {
            "type": "string",
            "enum": [
              "GESCHIEDEN",
              "GETRENNT_LEBEND",
              "LEBENSPARTNERSCHAFT",
              "LEDIG",
              "VERHEIRATET",
              "VERWITWET"
            ]
          },
          "geburtsdatum": {
            "type": "string",
            "format": "date"
          },
          "geburtsort": {
            "type": "string"
          },
          "guetertrennungVereinbartWennVerheiratet": {
            "type": "boolean",
            "description": "nur wenn verheiratet",
            "example": false
          },
          "id": {
            "type": "string"
          },
          "inDeutschlandSeit": {
            "type": "string",
            "description": "wenn keine deutsche Staatsangehörigkeit",
            "format": "date"
          },
          "legitimationsDaten": {
            "$ref": "#/components/schemas/LegitimationsDaten"
          },
          "nachname": {
            "type": "string"
          },
          "schufaErgebnis": {
            "$ref": "#/components/schemas/SchufaErgebnis"
          },
          "sozialversicherungsnummer": {
            "type": "string"
          },
          "staatsangehoerigkeit": {
            "$ref": "#/components/schemas/Staat"
          },
          "steuerId": {
            "type": "string"
          },
          "telefonnummer": {
            "type": "string"
          },
          "telefonnummerVorwahl": {
            "type": "string"
          },
          "titel": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "DOKTOR",
                "PROFESSOR"
              ]
            }
          },
          "titelDoktor": {
            "type": "boolean"
          },
          "titelProfessor": {
            "type": "boolean"
          },
          "vorAnschrift": {
            "$ref": "#/components/schemas/Postadresse"
          },
          "vorname": {
            "type": "string"
          },
          "weitereKontaktMoeglichkeiten": {
            "type": "string"
          },
          "wohnhaftSeit": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Archivierung": {
        "title": "Archivierung",
        "type": "object",
        "properties": {
          "grund": {
            "type": "string",
            "enum": [
              "VORGANG_ERFOLGREICH_ABGESCHLOSSEN",
              "KUNDE_IST_NICHT_MEHR_INTERESSIERT",
              "DAS_OBJEKT_IST_WEG",
              "OBJEKT_IST_NICHT_MEHR_VERFUEGBAR",
              "KUNDE_HAT_EIN_ANDERES_ANGEBOT",
              "SCHLECHTER_LEAD_NICHT_ZU_ERREICHEN",
              "FINANZIERUNG_IST_NICHT_MACHBAR"
            ]
          },
          "kommentar": {
            "type": "string"
          }
        }
      },
      "AusgabenMonatlich": {
        "title": "AusgabenMonatlich",
        "type": "object",
        "properties": {
          "ausgabenMonatlich": {
            "type": "number"
          },
          "berechnungsHilfeVermoegen": {
            "$ref": "#/components/schemas/BerechnungsHilfeBetrag"
          },
          "zahlungsTyp": {
            "type": "string",
            "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
            "enum": [
              "EINNAHME",
              "AUSGABE"
            ]
          }
        }
      },
      "Autostellplatz": {
        "title": "Autostellplatz",
        "type": "object",
        "properties": {
          "mieteinnahmenMonatlich": {
            "type": "number"
          },
          "typ": {
            "type": "string",
            "enum": [
              "STELLPLATZ",
              "CARPORT",
              "GARAGE",
              "DOPPEL_GARAGE",
              "KELLER_GARAGE",
              "TIEFGARAGEN_STELLPLATZ"
            ]
          }
        }
      },
      "BankUndSparguthaben": {
        "title": "BankUndSparguthaben",
        "type": "object",
        "properties": {
          "aktuellerWert": {
            "type": "number"
          },
          "ertrag": {
            "type": "number"
          },
          "maximalAufzuloesenderWert": {
            "type": "number"
          },
          "vermoegensEinsatz": {
            "type": "string",
            "enum": [
              "KEIN_EINSATZ",
              "ABTRETEN",
              "AUFLOESEN"
            ]
          },
          "vermoegensTyp": {
            "type": "string",
            "description": "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium",
            "enum": [
              "VERMOEGEN",
              "VERBINDLICHKEIT"
            ]
          },
          "zahlungsTyp": {
            "type": "string",
            "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
            "enum": [
              "EINNAHME",
              "AUSGABE"
            ]
          },
          "zinsertragJaehrlich": {
            "type": "number"
          },
          "zukuenftigeEinnahmen": {
            "type": "number"
          }
        }
      },
      "Bankverbindung": {
        "title": "Bankverbindung",
        "type": "object",
        "properties": {
          "bic": {
            "type": "string"
          },
          "iban": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "kontoinhaberIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "kontoinhaberName": {
            "type": "string"
          },
          "kreditinstitut": {
            "type": "string"
          }
        }
      },
      "BausparAngebot": {
        "title": "BausparAngebot",
        "type": "object",
        "properties": {
          "abschlussGebuehr": {
            "type": "number"
          },
          "angebotsHinweisFuerAntragsteller": {
            "type": "string",
            "description": "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
          },
          "bausparSumme": {
            "type": "number"
          },
          "einmalzahlung": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "produktAnbieter": {
            "$ref": "#/components/schemas/ProduktAnbieter"
          },
          "sonderZahlungen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SonderZahlung"
            }
          },
          "sparBeginn": {
            "type": "string",
            "description": "Der berechnete Beginn des Besparens des Bausparvertrags.",
            "format": "date"
          },
          "sparPhase": {
            "$ref": "#/components/schemas/SparPhase"
          },
          "tarif": {
            "type": "string"
          },
          "tilgungsPhase": {
            "$ref": "#/components/schemas/TilgungsPhase"
          },
          "typ": {
            "type": "string"
          },
          "vertragsBeginn": {
            "type": "string",
            "format": "date"
          },
          "vertragsNummer": {
            "type": "string"
          },
          "verwaltungsgebuehrenJaehrlich": {
            "type": "number"
          },
          "zuteilungsDatum": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "BausparTarif": {
        "title": "BausparTarif",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kurzName": {
            "type": "string"
          },
          "langName": {
            "type": "string"
          },
          "produktAnbieter": {
            "type": "string"
          },
          "riesterFoerderung": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "AKTIV",
              "IN_ENTWICKLUNG",
              "DEAKTIVIERT"
            ]
          }
        }
      },
      "BausparWunsch": {
        "title": "BausparWunsch",
        "type": "object",
        "properties": {
          "abschlussGebuehrenVerrechnung": {
            "type": "string",
            "enum": [
              "SOFORTZAHLUNG",
              "VERRECHNUNG"
            ]
          },
          "bausparSummeAbsolut": {
            "type": "number"
          },
          "bausparSummeRelativ": {
            "type": "number"
          },
          "bausparTarif": {
            "type": "array",
            "description": "siehe weitere Beschreibung unter Weitere Informationen -> Bezeichnung Bauspartarife",
            "items": {
              "$ref": "#/components/schemas/BausparTarif"
            }
          },
          "bausparTarife": {
            "type": "array",
            "description": "Deprecated, Zukünftig sind die Informationen zum gewünschen Tarif unter bausparTarif zu finden.",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string"
          },
          "riesterFoerderung": {
            "type": "boolean"
          },
          "sonderZahlungEinmalig": {
            "type": "number"
          },
          "sonderZahlungen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SonderZahlung"
            }
          },
          "sparBeginn": {
            "type": "string",
            "description": "Der Beginn des Besparens des Bausparvertrags ist frei festlegbar.",
            "format": "date"
          },
          "sparBeitragMonatlichAbsolut": {
            "type": "number"
          },
          "sparBeitragMonatlichRelativ": {
            "type": "number"
          },
          "tilgungsBeitragMonatlich": {
            "type": "number"
          },
          "vertragsPartnerIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "verwendung": {
            "type": "string",
            "enum": [
              "ZINS_ABSICHERUNG",
              "TILGUNGS_AUSGESETZT"
            ]
          },
          "verwendungZulagen": {
            "type": "string",
            "enum": [
              "SONDERZAHLUNG",
              "VERRECHNUNG"
            ]
          },
          "zuteilungsDatum": {
            "type": "string",
            "format": "date"
          }
        },
        "description": "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich, zuteilungsDatum und sparBeginn können maximal drei befüllt sein."
      },
      "Bausparvertrag": {
        "title": "Bausparvertrag",
        "type": "object",
        "properties": {
          "abschlussGebuehr": {
            "type": "number"
          },
          "angebotsHinweisFuerAntragsteller": {
            "type": "string",
            "description": "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
          },
          "bausparSumme": {
            "type": "number"
          },
          "einmalzahlung": {
            "type": "number"
          },
          "gesamtLaufzeitInJahren": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "string"
          },
          "produktAnbieter": {
            "$ref": "#/components/schemas/ProduktAnbieter"
          },
          "sonderZahlungen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SonderZahlung"
            }
          },
          "sparBeginn": {
            "type": "string",
            "description": "Der berechnete Beginn des Besparens des Bausparvertrags.",
            "format": "date"
          },
          "sparPhase": {
            "$ref": "#/components/schemas/SparPhase"
          },
          "tarif": {
            "type": "string"
          },
          "tilgungsPhase": {
            "$ref": "#/components/schemas/TilgungsPhase"
          },
          "typ": {
            "type": "string"
          },
          "vertragsBeginn": {
            "type": "string",
            "format": "date"
          },
          "vertragsNummer": {
            "type": "string"
          },
          "verwaltungsgebuehrenJaehrlich": {
            "type": "number"
          },
          "zuteilungsDatum": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "BeleihungsRechnung": {
        "title": "BeleihungsRechnung",
        "type": "object",
        "properties": {
          "beleihungsAuslauf": {
            "type": "number",
            "description": "Der Beleihungsauslauf aus Sicht des Produktanbieters. Berechnet sich aus dem Verhältnis anerkannter Darlehen zur Summe der anerkannten Beleihungswerte."
          },
          "beleihungsWerte": {
            "type": "array",
            "description": "Enthält die vom Produktanbieter anerkannten Beleihungswerte",
            "items": {
              "$ref": "#/components/schemas/BeleihungsWert"
            }
          },
          "beleihungsWerteSumme": {
            "type": "number",
            "description": "Berechnungshilfe: Die Summe aller vom Produktanbieter anerkannten Beleihungswerte"
          },
          "produktAnbieter": {
            "$ref": "#/components/schemas/ProduktAnbieter"
          }
        }
      },
      "BeleihungsWert": {
        "title": "BeleihungsWert",
        "type": "object",
        "properties": {
          "beleihungsWert": {
            "type": "number"
          },
          "immobilie": {
            "$ref": "#/components/schemas/ImmobilieVerknuepfung"
          }
        }
      },
      "Beratung": {
        "title": "Beratung",
        "type": "object",
        "properties": {
          "art": {
            "type": "string",
            "enum": [
              "PRAESENZ_GESCHAEFT",
              "FERN_ABSATZ_GESCHAEFT",
              "AUSSER_GESCHAEFTSRAUM_VERTRAG"
            ]
          },
          "hinweisFuerProduktAnbieter": {
            "type": "string"
          },
          "istKundenBetreuerVerkaeuferOderMaklerDerImmobilie": {
            "type": "boolean",
            "description": "Mit diesem Wert wird ausgedrückt, ob der Kundenbetreuer auch der Immobilienmakler ist.",
            "example": false
          }
        }
      },
      "BerechnungsHilfeBetrag": {
        "title": "BerechnungsHilfeBetrag",
        "type": "object",
        "properties": {
          "betragNachFinanzierung": {
            "type": "number"
          },
          "betragVorFinanzierung": {
            "type": "number"
          }
        }
      },
      "Bereitstellung": {
        "title": "Bereitstellung",
        "type": "object",
        "properties": {
          "bereitstellungsZins": {
            "type": "number"
          },
          "bereitstellungsZinsFreieZeitInMonaten": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BereitstellungsZinsFreieZeitPraeferenz": {
        "title": "BereitstellungsZinsFreieZeitPraeferenz",
        "type": "object",
        "properties": {
          "darlehenBenoetigtInMonaten": {
            "type": "integer",
            "description": "wenn praeferenzAuswahl == IN_MONATEN",
            "format": "int32"
          },
          "praeferenzAuswahl": {
            "type": "string",
            "enum": [
              "MIT_DER_ERSTEN_AUSZAHLUNG",
              "IN_MONATEN",
              "NOCH_NICHT_FESTGELEGT",
              "EGAL"
            ]
          },
          "zusatzlicheKommentare": {
            "type": "string"
          }
        }
      },
      "Beschaeftigung": {
        "title": "Beschaeftigung",
        "type": "object",
        "properties": {
          "anzahlGehaelterProJahr": {
            "type": "number",
            "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER",
            "format": "double"
          },
          "arbeitgeber": {
            "type": "string",
            "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
          },
          "arbeitgeberInDeutschlandAnsaessig": {
            "type": "boolean",
            "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER",
            "example": false
          },
          "arbeitgeberLand": {
            "$ref": "#/components/schemas/Staat"
          },
          "art": {
            "type": "string",
            "enum": [
              "ANGESTELLTER",
              "ARBEITER",
              "BEAMTER",
              "FREIBERUFLER",
              "SELBSTAENDIGER",
              "RENTNER",
              "HAUSFRAU",
              "ARBEITSLOSER"
            ]
          },
          "befristungsStatus": {
            "type": "string",
            "description": "nur bei art==ANGESTELLTER,ARBEITER",
            "enum": [
              "BEFRISTET",
              "UNBEFRISTET"
            ]
          },
          "beruf": {
            "type": "string",
            "description": "nur bei art!=RENTNER"
          },
          "beschaeftigtSeit": {
            "type": "string",
            "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTAENDIGER",
            "format": "date"
          },
          "branche": {
            "type": "string",
            "description": "Berufsgruppe des Antragstellers.",
            "enum": [
              "LANDWIRTSCHAFT_FORSTWIRTSCHAFT_FISCHEREI",
              "BERGBAU_GEWINNUNG_VON_STEINEN_UND_ERDEN",
              "VERARBEITENDES_GEWERBE",
              "WASSERVERSORGUNG",
              "ENERGIEVERSORGUNG",
              "BAUGEWERBE",
              "HANDEL_INSTANDHALTUNG_VON_KRAFTFAHRZEUGEN",
              "VERKEHR_LOGISTIK",
              "GASTGEWERBE",
              "INFORMATION_KOMMUNIKATION",
              "FINANZ_UND_VERSICHERUNGSDIENSTLEISTUNGEN",
              "GRUNDSTÜCKS_UND_WOHNUNGSWESEN",
              "FREIBERUFLICHE_WISSENSCHAFTLICHE_UND_TECHNISCHE_DIENSTLEISTUNGEN",
              "SONSTIGE_WIRTSCHAFTLICHE_DIENSTLEISTUNGEN",
              "OEFFENTLICHE_VERWALTUNG_VERTEIDIGUNG_SOZIALVERSICHERUNG",
              "ERZIEHUNG_UNTERRICHT",
              "GESUNDHEIT_UND_SOZIALWESEN",
              "KUNST_UNTERHALTUNG_ERHOLUNG",
              "SONSTIGE_DIENSTLEISTUNGEN",
              "PRIVATE_HAUSHALTE"
            ]
          },
          "einkommenNettoJaehrlich": {
            "type": "number",
            "description": "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
          },
          "einkommenNettoMonatlich": {
            "type": "number",
            "description": "nur bei art!=FREIBERUFLER,SELBSTAENDIGER"
          },
          "firma": {
            "type": "string",
            "description": "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
          },
          "inProbezeit": {
            "type": "boolean",
            "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER",
            "example": false
          },
          "situationNachRenteneintritt": {
            "$ref": "#/components/schemas/SituationNachRenteneintritt"
          },
          "taetigkeit": {
            "type": "string",
            "description": "nur bei art==FREIBERUFLER,SELBSTAENDIGER",
            "enum": [
              "ALTENPFLEGER",
              "AMBULANTER_KRANKENPFLEGER",
              "ANWALT",
              "APOTHEKER",
              "ARCHITEKT",
              "ARZT",
              "BESTATTER",
              "DATENSCHUTZBEAUFTRAGTER",
              "DEKORATEUR",
              "DIAETASSISTENT",
              "DOLMETSCHER",
              "EDV_BERATER",
              "ERGOTHERAPEUT",
              "ERNAEHRUNGSBERATER",
              "FOTOGRAF",
              "GEOGRAF",
              "GRAFIKDESIGNER",
              "GRAFIKER",
              "HEBAMME",
              "HEILMASSEUR",
              "HEILPRAKTIKER",
              "HISTORIKER",
              "INFORMATIKER",
              "INGENIEUR",
              "INSOLVENZVERWALTER",
              "JOURNALIST",
              "KLASSISCHER_KONZERTMUSIKER",
              "KONSTRUKTEUR",
              "KRANKENGYMNAST",
              "KRANKENPFLEGER",
              "KRANKENSCHWESTER",
              "LOGOPAEDE",
              "MEDIZINISCH_TECHN_ASSISTENT",
              "NOTAR",
              "OPERNSAENGER",
              "PERSONALBERATER",
              "PHYSIOTHERAPEUT",
              "PSYCHOLOGE",
              "RAUMAUSSTATTER",
              "RUNDFUNKSPRECHER",
              "SACHVERSTAENDIGER",
              "STADTPLANER",
              "STATIKER",
              "STEUERBERATER",
              "TIERARZT",
              "UNTERNEHMENSBERATER",
              "VERMITTLER",
              "WIRTSCH_BUCHPRUEFER_REVISOR",
              "ZAHNARZT",
              "ZAHNTECHNIKER",
              "SONSTIGES"
            ]
          }
        }
      },
      "BestandteileDerFinanzierungPraeferenz": {
        "title": "BestandteileDerFinanzierungPraeferenz",
        "type": "object",
        "properties": {
          "praeferenzAuswahl": {
            "type": "string",
            "enum": [
              "UNKOMPLIZIERTE_FINANZIERUNG",
              "WEITERE_PRODUKTE",
              "KONKRETE_VORSTELLUNGEN",
              "EGAL"
            ]
          },
          "zusatzlicheKommentare": {
            "type": "string"
          }
        }
      },
      "BestehendeImmobilie": {
        "title": "BestehendeImmobilie",
        "type": "object",
        "properties": {
          "adresse": {
            "$ref": "#/components/schemas/Postadresse"
          },
          "autostellplaetze": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Autostellplatz"
            }
          },
          "bestehendeDarlehen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BestehendesDarlehen"
            }
          },
          "bewirtschaftungsKostenJaehrlich": {
            "type": "number"
          },
          "bodenRichtwert": {
            "type": "number"
          },
          "bundesland": {
            "type": "string",
            "enum": [
              "BADEN_WUERTTEMBERG",
              "BAYERN",
              "BERLIN",
              "BRANDENBURG",
              "BREMEN",
              "HAMBURG",
              "HESSEN",
              "MECKLENBURG_VORPOMMERN",
              "NIEDERSACHSEN",
              "NORDRHEIN_WESTFALEN",
              "RHEINLAND_PFALZ",
              "SAARLAND",
              "SACHSEN",
              "SACHSEN_ANHALT",
              "SCHLESWIG_HOLSTEIN",
              "THUERINGEN"
            ]
          },
          "effektivZinsErhoehendeKosten": {
            "$ref": "#/components/schemas/EffektivZinsErhoehendeKosten"
          },
          "erbbaurecht": {
            "$ref": "#/components/schemas/Erbbaurecht"
          },
          "gebaeude": {
            "$ref": "#/components/schemas/Gebaeude"
          },
          "grundbuchAngabe": {
            "$ref": "#/components/schemas/GrundbuchAngabe"
          },
          "grundstueck": {
            "$ref": "#/components/schemas/Grundstueck"
          },
          "id": {
            "type": "string"
          },
          "immobilienEinsatz": {
            "type": "string",
            "enum": [
              "KEIN_EINSATZ",
              "VERKAUFEN",
              "ALS_ZUSATZSICHERHEIT"
            ]
          },
          "keinBaulandFlaecheInQm": {
            "type": "number"
          },
          "keineBestehendenDarlehenVorhanden": {
            "type": "boolean"
          },
          "marktueblicherKaufpreisProQm": {
            "type": "number"
          },
          "marktwert": {
            "type": "number",
            "description": "Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung und Kapitalbeschaffung."
          },
          "maximalEinzusetzenderBetragWennVerkauf": {
            "type": "number"
          },
          "objektArt": {
            "type": "string",
            "enum": [
              "GRUNDSTUECK",
              "EIGENTUMSWOHNUNG",
              "HAUS"
            ]
          },
          "vergleichsmieteFuerGewerbeflaecheProQm": {
            "type": "number"
          },
          "vergleichsmieteFuerWohnflaecheProQm": {
            "type": "number"
          },
          "verkehrswert": {
            "type": "number",
            "description": "Hat den selben Inhalt wie das Feld marktwert. (Wird in v3 nicht mehr enthalten sein)"
          },
          "vorlaeufigerVerkehrswert": {
            "type": "number",
            "description": "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
          },
          "wohnlage": {
            "type": "string",
            "enum": [
              "GEHOBEN",
              "MITTEL",
              "EINFACH"
            ]
          }
        }
      },
      "BestehenderBausparvertrag": {
        "title": "BestehenderBausparvertrag",
        "type": "object",
        "properties": {
          "abschlussGebuehr": {
            "type": "number"
          },
          "aktuellerWert": {
            "type": "number"
          },
          "bausparSumme": {
            "type": "number"
          },
          "einmalzahlung": {
            "type": "number"
          },
          "ertrag": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "maximalAufzuloesenderBetrag": {
            "type": "number"
          },
          "produktAnbieter": {
            "$ref": "#/components/schemas/ProduktAnbieter"
          },
          "sonderZahlungen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SonderZahlung"
            }
          },
          "sparBeitragMonatlich": {
            "type": "number"
          },
          "tarif": {
            "type": "string"
          },
          "typ": {
            "type": "string"
          },
          "vermoegensEinsatz": {
            "type": "string",
            "enum": [
              "KEIN_EINSATZ",
              "ABTRETEN",
              "AUFLOESEN"
            ]
          },
          "vermoegensTyp": {
            "type": "string",
            "description": "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium",
            "enum": [
              "VERMOEGEN",
              "VERBINDLICHKEIT"
            ]
          },
          "vertragsBeginn": {
            "type": "string",
            "format": "date"
          },
          "vertragsNummer": {
            "type": "string"
          },
          "verwaltungsgebuehrenJaehrlich": {
            "type": "number"
          },
          "zahlungsTyp": {
            "type": "string",
            "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
            "enum": [
              "EINNAHME",
              "AUSGABE"
            ]
          },
          "zukuenftigeEinnahmen": {
            "type": "number"
          },
          "zuteilungsDatum": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "BestehendesDarlehen": {
        "title": "BestehendesDarlehen",
        "type": "object",
        "properties": {
          "abzuloesendeRestschuld": {
            "type": "number"
          },
          "aktuelleRestschuldWennNichtAbzuloesen": {
            "type": "number"
          },
          "darlehensArt": {
            "type": "string",
            "description": "Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können.",
            "enum": [
              "BAUSPARDARLEHEN",
              "FOERDERDARLEHEN",
              "IMMOBILIENDARLEHEN",
              "PRIVATDARLEHEN",
              "SONSTIGES_DARLEHEN"
            ]
          },
          "darlehensBetrag": {
            "type": "number"
          },
          "darlehensGeber": {
            "$ref": "#/components/schemas/ProduktAnbieter"
          },
          "darlehensKontonummer": {
            "type": "string"
          },
          "eingetrageneGrundschuld": {
            "type": "number"
          },
          "grundschuldArt": {
            "type": "string",
            "enum": [
              "BRIEF_GRUNDSCHULD",
              "BUCH_GRUNDSCHULD"
            ]
          },
          "id": {
            "type": "string"
          },
          "laufzeitEnde": {
            "type": "string",
            "format": "date"
          },
          "rateMonatlich": {
            "type": "number"
          },
          "sollZins": {
            "type": "number"
          },
          "sondertilgungZumZinsBindungsEnde": {
            "type": "number",
            "description": "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
          },
          "zinsBindungEndetAm": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "BestehendesDarlehenDesFinanzierungsObjekts": {
        "title": "BestehendesDarlehenDesFinanzierungsObjekts",
        "type": "object",
        "properties": {
          "abzuloesendeRestschuld": {
            "type": "number"
          },
          "aktuelleRestschuldWennNichtAbzuloesen": {
            "type": "number"
          },
          "darlehensArt": {
            "type": "string",
            "description": "Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können.",
            "enum": [
              "BAUSPARDARLEHEN",
              "FOERDERDARLEHEN",
              "IMMOBILIENDARLEHEN",
              "PRIVATDARLEHEN",
              "SONSTIGES_DARLEHEN"
            ]
          },
          "darlehensBetrag": {
            "type": "number"
          },
          "darlehensGeber": {
            "$ref": "#/components/schemas/ProduktAnbieter"
          },
          "darlehensKontonummer": {
            "type": "string"
          },
          "eingetrageneGrundschuld": {
            "type": "number"
          },
          "grundschuldArt": {
            "type": "string",
            "enum": [
              "BRIEF_GRUNDSCHULD",
              "BUCH_GRUNDSCHULD"
            ]
          },
          "id": {
            "type": "string"
          },
          "laufzeitEnde": {
            "type": "string",
            "format": "date"
          },
          "rateMonatlich": {
            "type": "number"
          },
          "sollZins": {
            "type": "number"
          },
          "sondertilgungZumZinsBindungsEnde": {
            "type": "number",
            "description": "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
          },
          "verwendenAls": {
            "type": "string",
            "description": "Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben, behandelt werden soll.",
            "enum": [
              "ABLOESEN",
              "TRITT_IM_RANG_ZURUECK",
              "TRITT_NICHT_IM_RANG_ZURUECK"
            ]
          },
          "zinsBindungEndetAm": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "CharSequence": {
        "title": "CharSequence",
        "type": "object"
      },
      "Darlehen": {
        "title": "Darlehen",
        "type": "object",
        "properties": {
          "auszahlungsBetrag": {
            "type": "number"
          },
          "auszahlungsDatum": {
            "type": "string",
            "description": "nur bei darlehensTyp IN [FORWARD_DARLEHEN, ANNUITAETEN_DARLEHEN]",
            "format": "date"
          },
          "auszahlungsKurs": {
            "type": "number"
          },
          "bereitstellung": {
            "$ref": "#/components/schemas/Bereitstellung"
          },
          "darlehensBetrag": {
            "type": "number"
          },
          "darlehensTyp": {
            "type": "string",
            "enum": [
              "ANNUITAETEN_DARLEHEN",
              "FORWARD_DARLEHEN",
              "KFW_DARLEHEN",
              "PRIVAT_DARLEHEN",
              "ZWISCHEN_FINANZIERUNG",
              "VARIABLES_DARLEHEN"
            ]
          },
          "detailsZurVerwendung": {
            "type": "string",
            "description": "nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG"
          },
          "effektivZins": {
            "type": "number"
          },
          "effektivZinsRelevanteKosten": {
            "$ref": "#/components/schemas/EffektivZinsKosten"
          },
          "forwardPeriodeInMonaten": {
            "type": "integer",
            "description": "nur bei darlehensTyp==FORWARD_DARLEHEN",
            "format": "int32"
          },
          "kfwEnergieEffizienzStandard": {
            "type": "string",
            "description": "nur bei darlehensTyp==KFW_DARLEHEN. Nur bei KfW-Programm 153 relevant. Bei neuen Energieeffizienzstandards können auch weitere Werte zulässig werden.",
            "enum": [
              "STANDARD_40_PLUS",
              "STANDARD_40",
              "STANDARD_55",
              "STANDARD_70"
            ]
          },
          "kfwProgramm": {
            "type": "string",
            "description": "Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig werden.",
            "enum": [
              "PROGRAMM_124",
              "PROGRAMM_141",
              "PROGRAMM_151",
              "PROGRAMM_152",
              "PROGRAMM_153",
              "PROGRAMM_155",
              "PROGRAMM_159",
              "PROGRAMM_167"
            ]
          },
          "konditionWurdeManuellAngepasst": {
            "type": "boolean"
          },
          "konditionsAnpassungsBegruendung": {
            "type": "string",
            "description": "Begründung, wenn die Kondition angepasst wurde"
          },
          "laufZeitInJahren": {
            "type": "integer",
            "format": "int32"
          },
          "laufzeitInMonaten": {
            "type": "integer",
            "description": "nur bei darlehensTyp==PRIVAT_DARLEHEN",
            "format": "int32"
          },
          "maximaleLaufzeitInMonaten": {
            "type": "integer",
            "description": "nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG",
            "format": "int32"
          },
          "produktAnbieter": {
            "$ref": "#/components/schemas/ProduktAnbieter"
          },
          "rateMonatlich": {
            "type": "number",
            "description": "Die monatliche Rate in Euro",
            "example": 123.34
          },
          "rateMonatlichInDerTilgungsfreienAnlaufzeit": {
            "type": "number",
            "description": "nur bei darlehensTyp==KFW_DARLEHEN"
          },
          "riesterGefoerdert": {
            "type": "boolean"
          },
          "sollZins": {
            "type": "number",
            "description": "Der Sollzinssatz in Prozent",
            "example": 2.05
          },
          "tilgung": {
            "$ref": "#/components/schemas/Tilgung"
          },
          "tilgungsFreieAnlaufJahre": {
            "type": "integer",
            "description": "nur bei darlehensTyp==KFW_DARLEHEN",
            "format": "int32"
          },
          "verwendungszweck": {
            "type": "string",
            "description": "nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG",
            "enum": [
              "VORFINANZIERUNG_OEFFENTLICHER_MITTEL",
              "VERKAUF_EINES_ANDEREN_OBJEKTS",
              "SONSTIGE_VERWENDUNG"
            ]
          },
          "zinsBindung": {
            "$ref": "#/components/schemas/ZinsBindung"
          },
          "zinsZahlungsBeginnAm": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "DarlehensWunsch": {
        "title": "DarlehensWunsch",
        "type": "object",
        "properties": {
          "annuitaetenDarlehen": {
            "$ref": "#/components/schemas/AnnuitaetenDarlehensWunsch"
          },
          "forwardDarlehen": {
            "$ref": "#/components/schemas/ForwardDarlehensWunsch"
          },
          "id": {
            "type": "string"
          },
          "kfwDarlehen": {
            "$ref": "#/components/schemas/KfwDarlehensWunsch"
          },
          "privatDarlehen": {
            "$ref": "#/components/schemas/PrivatDarlehensWunsch"
          },
          "variablesDarlehen": {
            "$ref": "#/components/schemas/VariablesDarlehensWunsch"
          },
          "zwischenFinanzierung": {
            "$ref": "#/components/schemas/ZwischenFinanzierungsWunsch"
          }
        }
      },
      "Dokument": {
        "title": "Dokument",
        "type": "object",
        "properties": {
          "art": {
            "type": "string",
            "description": "ist nicht immer vorhanden"
          },
          "href": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "titel": {
            "type": "string",
            "description": "Name des Dokuments"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "EffektivZinsErhoehendeKosten": {
        "title": "EffektivZinsErhoehendeKosten",
        "type": "object",
        "properties": {
          "anpassen": {
            "type": "boolean"
          },
          "grundbuchEintragungsKostenEinmalig": {
            "type": "number"
          },
          "sonstigeKostenBezeichnung": {
            "type": "string"
          },
          "sonstigeKostenEinmalig": {
            "type": "number"
          },
          "wohnGebaeudeVersicherungsKostenJaehrlich": {
            "type": "number"
          }
        }
      },
      "EffektivZinsKosten": {
        "title": "EffektivZinsKosten",
        "type": "object",
        "properties": {
          "beratungsHonorar": {
            "type": "number"
          },
          "grundbuchKosten": {
            "type": "number"
          },
          "sonstigeKosten": {
            "type": "number"
          },
          "tilgungsErsatzProduktKosten": {
            "type": "number"
          },
          "wohnGebaeudeVersicherungsKosten": {
            "type": "number"
          },
          "zinsabsicherungsKosten": {
            "type": "number"
          },
          "zusatzSicherheitsKosten": {
            "type": "number"
          }
        }
      },
      "EinkuenfteAusNebentaetigkeit": {
        "title": "EinkuenfteAusNebentaetigkeit",
        "type": "object",
        "properties": {
          "beginnDerNebentaetigkeit": {
            "type": "string",
            "format": "date"
          },
          "einnahmenMonatlich": {
            "type": "number"
          },
          "zahlungsTyp": {
            "type": "string",
            "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
            "enum": [
              "EINNAHME",
              "AUSGABE"
            ]
          }
        }
      },
      "EinnahmenMonatlich": {
        "title": "EinnahmenMonatlich",
        "type": "object",
        "properties": {
          "einnahmenMonatlich": {
            "type": "number"
          },
          "zahlungsTyp": {
            "type": "string",
            "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
            "enum": [
              "EINNAHME",
              "AUSGABE"
            ]
          }
        }
      },
      "Erbbaurecht": {
        "title": "Erbbaurecht",
        "type": "object",
        "properties": {
          "erbbaurecht": {
            "type": "boolean"
          },
          "erbbauzinsJaehrlich": {
            "type": "number"
          },
          "grundstuecksEigentuemer": {
            "type": "string",
            "enum": [
              "ANDERE",
              "OEFFENTLICH_KIRCHLICH"
            ]
          },
          "laufzeitBisJahr": {
            "type": "string"
          }
        }
      },
      "Error": {
        "title": "Error",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer",
            "format": "int32"
          },
          "statusMessage": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "Finanzbedarf": {
        "title": "Finanzbedarf",
        "type": "object",
        "properties": {
          "anzahlTeilzahlungen": {
            "type": "integer",
            "description": "Anzahl Teilzahlungen bei Neubau, Kauf vom Bauträger sowie Modernisierung",
            "format": "int32"
          },
          "aussenAnlagen": {
            "type": "number"
          },
          "bauNebenkosten": {
            "type": "number"
          },
          "beratungsHonorar": {
            "type": "number"
          },
          "bereitsBeglichen": {
            "type": "number"
          },
          "erschliessung": {
            "type": "number"
          },
          "grunderwerbsteuer": {
            "type": "number",
            "description": "Nebenkosten"
          },
          "grundstueckBereitsBezahlt": {
            "type": "boolean"
          },
          "grundstuecksKaufpreis": {
            "type": "number"
          },
          "herstellung": {
            "type": "number",
            "description": "inklusive Eigenleistungen"
          },
          "kapitalBeschaffung": {
            "type": "number"
          },
          "kapitalWirdBeschafft": {
            "type": "boolean"
          },
          "kaufpreis": {
            "type": "number",
            "description": "inklusive Eigenleistungen"
          },
          "maklergebuehr": {
            "type": "number",
            "description": "Nebenkosten"
          },
          "mobiliar": {
            "type": "number"
          },
          "modernisieren": {
            "type": "boolean"
          },
          "modernisierung": {
            "type": "number",
            "description": "inklusive Eigenleistungen"
          },
          "notargebuehr": {
            "type": "number",
            "description": "Nebenkosten"
          },
          "renovierung": {
            "type": "number"
          },
          "sonstigeKosten": {
            "type": "number"
          },
          "zusaetzlichesKapital": {
            "type": "number"
          }
        }
      },
      "FinanzierungsObjekt": {
        "title": "FinanzierungsObjekt",
        "type": "object",
        "properties": {
          "adresse": {
            "$ref": "#/components/schemas/Postadresse"
          },
          "autostellplaetze": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Autostellplatz"
            }
          },
          "bestehendeDarlehen": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BestehendesDarlehenDesFinanzierungsObjekts"
            }
          },
          "bewirtschaftungsKostenJaehrlich": {
            "type": "number"
          },
          "bodenRichtwert": {
            "type": "number"
          },
          "bundesland": {
            "type": "string",
            "enum": [
              "BADEN_WUERTTEMBERG",
              "BAYERN",
              "BERLIN",
              "BRANDENBURG",
              "BREMEN",
              "HAMBURG",
              "HESSEN",
              "MECKLENBURG_VORPOMMERN",
              "NIEDERSACHSEN",
              "NORDRHEIN_WESTFALEN",
              "RHEINLAND_PFALZ",
              "SAARLAND",
              "SACHSEN",
              "SACHSEN_ANHALT",
              "SCHLESWIG_HOLSTEIN",
              "THUERINGEN"
            ]
          },
          "effektivZinsErhoehendeKosten": {
            "$ref": "#/components/schemas/EffektivZinsErhoehendeKosten"
          },
          "erbbaurecht": {
            "$ref": "#/components/schemas/Erbbaurecht"
          },
          "gebaeude": {
            "$ref": "#/components/schemas/Gebaeude"
          },
          "grundbuchAngabe": {
            "$ref": "#/components/schemas/GrundbuchAngabe"
          },
          "grundstueck": {
            "$ref": "#/components/schemas/Grundstueck"
          },
          "id": {
            "type": "string"
          },
          "keinBaulandFlaecheInQm": {
            "type": "number"
          },
          "marktueblicherKaufpreisProQm": {
            "type": "number"
          },
          "marktwert": {
            "type": "number",
            "description": "Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung und Kapitalbeschaffung."
          },
          "objektArt": {
            "type": "string",
            "enum": [
              "GRUNDSTUECK",
              "EIGENTUMSWOHNUNG",
              "HAUS"
            ]
          },
          "vergleichsmieteFuerGewerbeflaecheProQm": {
            "type": "number"
          },
          "vergleichsmieteFuerWohnflaecheProQm": {
            "type": "number"
          },
          "verkehrswert": {
            "type": "number",
            "description": "Hat den selben Inhalt wie das Feld marktwert. (Wird in v3 nicht mehr enthalten sein)"
          },
          "vorlaeufigerVerkehrswert": {
            "type": "number",
            "description": "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
          },
          "wohnlage": {
            "type": "string",
            "enum": [
              "GEHOBEN",
              "MITTEL",
              "EINFACH"
            ]
          }
        }
      },
      "Finanzierungswunsch": {
        "title": "Finanzierungswunsch",
        "type": "object",
        "properties": {
[...]
