{
  "swagger": "2.0",
  "info": {
    "description": "Mit dieser API können die Vorgänge aus der Europace Plattform ausgelesen werden.",
    "version": "2.27",
    "title": "Vorgänge API",
    "contact": {
      "name": "Europace AG",
      "url": "www.europace2.de",
      "email": "helpdesk@europace2.de"
    }
  },
  "host": "baufismart.api.europace.de",
  "basePath": "/",
  "tags": [
    {
      "name": "Vorgänge",
      "description": "Dieser Endpunkt repräsentiert die Vertriebssicht."
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json;charset=UTF-8"
  ],
  "paths": {
    "/v2/vorgaenge": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "alle sichtbaren Vorgänge",
        "operationId": "getVorgaenge",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "aenderungBis",
            "in": "query",
            "description": "Der 'aenderungBis' Parameter hat das 'ISO 8601' Format. Beispiele: '2020-07-10', '2020-07-10T14:00Z'",
            "required": false,
            "type": "string",
            "pattern": "^([\\+-]?\\d{4}(?!\\d{2}\\b))((-?)((0[1-9]|1[0-2])(\\3([12]\\d|0[1-9]|3[01]))?|W([0-4]\\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\\d|[12]\\d{2}|3([0-5]\\d|6[1-6])))([T\\s]((([01]\\d|2[0-3])((:?)[0-5]\\d)?|24\\:?00)([\\.,]\\d+(?!:))?)?(\\17[0-5]\\d([\\.,]\\d+)?)?([zZ]|([\\+-])([01]\\d|2[0-3]):?([0-5]\\d)?)?)?)?$"
          },
          {
            "name": "aenderungSeit",
            "in": "query",
            "description": "Der 'aenderungSeit' Parameter hat das 'ISO 8601' Format. Beispiele: '2020-07-10', '2020-07-10T13:00Z'",
            "required": false,
            "type": "string",
            "pattern": "^([\\+-]?\\d{4}(?!\\d{2}\\b))((-?)((0[1-9]|1[0-2])(\\3([12]\\d|0[1-9]|3[01]))?|W([0-4]\\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\\d|[12]\\d{2}|3([0-5]\\d|6[1-6])))([T\\s]((([01]\\d|2[0-3])((:?)[0-5]\\d)?|24\\:?00)([\\.,]\\d+(?!:))?)?(\\17[0-5]\\d([\\.,]\\d+)?)?([zZ]|([\\+-])([01]\\d|2[0-3]):?([0-5]\\d)?)?)?)?$"
          },
          {
            "name": "datenKontext",
            "in": "query",
            "description": "Datenkontext",
            "required": false,
            "type": "string",
            "default": "ECHT_GESCHAEFT",
            "enum": [
              "ECHT_GESCHAEFT",
              "TEST_MODUS"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "required": false,
            "type": "integer",
            "default": 10,
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sortierung der Vorgänge, aufsteigend oder absteigend",
            "required": false,
            "type": "string",
            "default": "absteigend"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Vorgaenge"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "einen Vorgang abrufen",
        "description": "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId": "getVorgang",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "Nummer des Vorgangs",
            "required": true,
            "type": "string",
            "x-example": "AB1234"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Vorgang"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Änderung von Metadaten an einem bestehenden Vorgang",
        "operationId": "updateVorgang",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "patchOperations",
            "description": "patchOperations",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              },
              "example": "[{\"op\": \"replace\", \"path\": \"/kundenBetreuer/partnerId\",\"value\": \"OEJ16\"}]"
            }
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Vorgang"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/antraege": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Alle Anträge zum Vorgang",
        "operationId": "getAllVorgangsAntraege",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Antraege"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Anträge zum Vorgang",
        "operationId": "getVorgangsAntraege",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Antraege"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Ein spezifischer Antrag des Vorgangs",
        "operationId": "getAntrag",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "teilantragsNummer",
            "in": "path",
            "description": "teilantragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Antrag"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}/entscheidungsreife": {
      "post": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Zum Senden eines Signals an den Produktanbieter, dass er mit der Kreditentscheidung beginnen kann",
        "description": "Um das Entscheidungsreifesignal senden zu können bedarf es folgender Kriterien. 1. Der Aufrufer muss Vorgangsbearbeiter sein. 2. Der Antrag ist im Status: Antragsteller.BEANTRAGT, ProduktAnbieter.NICHT_BEARBEITET. 3. Das Signal kann nur einmal geschickt werden. ",
        "operationId": "setEntscheidungsreife",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "entscheidungsreife",
            "description": "entscheidungsreife",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Entscheidungsreife"
            }
          },
          {
            "name": "teilantragsNummer",
            "in": "path",
            "description": "teilantragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/antraege/{antragsNummer}/{teilantragsNummer}/status": {
      "post": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Zum Setzen des Antragsstatus",
        "operationId": "setAntragsStatus",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "antragsNummer",
            "in": "path",
            "description": "antragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "statusDTO",
            "description": "statusDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StatusDTO"
            }
          },
          {
            "name": "teilantragsNummer",
            "in": "path",
            "description": "teilantragsNummer",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/finanzierungsvorschlaege": {
      "get": {
        "tags": [
          "Finanzierungsvorschlag",
          "Vorgänge"
        ],
        "summary": "Als Parameter wird die in BaufiSmart erzeugte Vorgangsnummer erwartet. Bei Finanzierungsvorschlägen handelt es sich um ausgehändigte Finanzierungsvorschläge in Baufsmart. Achtung: Bei den ausgegebenen Finanzierungsvorschlägen handelt es sich um Mockdaten.",
        "operationId": "getFinanzierungsvorschlaege",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "Die Nummer des Vorgangs zu dem die Finanzierungsvorschläge erzeugt wurden.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FinanzierungsvorschlaegeResource"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/finanzierungsvorschlaege/{finanzierungsvorschlagId}": {
      "get": {
        "tags": [
          "Finanzierungsvorschlag",
          "Vorgänge"
        ],
        "summary": "Als Parameter wird die in BaufiSmart erzeugte Vorgangsnummer und die Id des Finanzierungsvorschlags erwartet. Achtung: Bei dem ausgegebenen Finanzierungsvorschlag handelt es sich um Mockdaten.",
        "operationId": "getFinanzierungsvorschlag",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "finanzierungsvorschlagId",
            "in": "path",
            "description": "Die Id des Finanzierungsvorschlags.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "Die Nummer des Vorgangs zu dem die Finanzierungsvorschläge erzeugt wurden.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Finanzierungsvorschlag"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/gemerkteAngebote": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Die Liste der gemerkten Angebote des Vorgangs abrufen",
        "description": "Als Parameter wird die in BaufiSmart erzeugte Vorgangsnummer erwartet. Gemerkte Angebote sind: explizit gemerkte Angebote in BaufiSmart, ausgehändigte Finanzierungsvorschläge, Empfehlungen des Bearbeiters, Wünsche des Antragstellers, angefragte- und angenommene Angebote.",
        "operationId": "retrieveGemerkteAngebote",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GemerkteAngeboteResource"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/gemerkteAngebote/{nummerAmVorgang}": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Ein gemerktes Angebot eines Vorgangs abrufen",
        "description": "Als Parameter wird die in BaufiSmart erzeugte Vorgangsnummer und die Nummer des gemerkten Angebots erwartet. Gemerkte Angebote sind: explizit gemerkte Angebote in BaufiSmart, ausgehändigte Finanzierungsvorschläge, Empfehlungen des Bearbeiters, Wünsche des Antragstellers, angefragte- und angenommene Angebote.",
        "operationId": "retrieveGemerktesAngebot",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "nummerAmVorgang",
            "in": "path",
            "description": "nummerAmVorgang",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GemerkteAngeboteResource"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/gemerkteAngebote/{nummerAmVorgang}/zahlungsPlaene": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Die Zahlungsplaene des gemerkten Angebots abrufen",
        "description": "Als Parameter wird die in BaufiSmart erzeugte Vorgangsnummer und die Nummer des gemerkten Angebots erwartet.",
        "operationId": "getZahlungsplaene",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "nummerAmVorgang",
            "in": "path",
            "description": "nummerAmVorgang",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Zahlungsplaene"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/kundenBetreuer": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Den Kundenbetreuer des Vorgangs abrufen",
        "description": "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId": "getKundenbetreuer",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Partner"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Den Kundenbetreuer ändern",
        "operationId": "updateKundenBetreuerUsingPUT",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "partnerDTO",
            "description": "partnerDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnerDTO"
            }
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/nachricht": {
      "post": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Schreibt eine Nachricht an den Vorgang in BaufiSmart",
        "operationId": "addNachricht",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "nachricht",
            "description": "nachricht",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nachricht"
            }
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    },
    "/v2/vorgaenge/{vorgangsNummer}/vorgangsBearbeiter": {
      "get": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "Den Vorgangsbearbeiter des Vorgangs abrufen",
        "description": "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart erzeugt wurde.",
        "operationId": "getVorgangsBearbeiter",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Partner"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Vorgänge"
        ],
        "summary": "putVorgangsBearbeiterId",
        "operationId": "putVorgangsBearbeiterIdUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "partnerDTO",
            "description": "partnerDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnerDTO"
            }
          },
          {
            "name": "vorgangsNummer",
            "in": "path",
            "description": "vorgangsNummer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "oauth2": [
              "API"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "tokenUrl": "https://api.europace.de/login",
      "flow": "password",
      "scopes": {
        "API": "Authorisation Scope für die gesamte API."
      }
    }
  },
  "definitions": {
    "Absicherung": {
      "type": "object",
      "properties": {
        "abgesicherteRisiken": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RisikoAbsicherung"
          }
        },
        "gesamtPraemie": {
          "type": "number"
        },
        "praemienZahlungsweise": {
          "type": "string",
          "enum": [
            "EINMALIG",
            "HALBJAEHRLICH",
            "JAEHRLICH",
            "MONATLICH",
            "VIERTELJAEHRLICH"
          ]
        },
        "tarifBezeichnung": {
          "type": "string"
        },
        "tarifKennung": {
          "type": "string"
        },
        "versichertePersonId": {
          "type": "string"
        },
        "versicherungsArt": {
          "type": "string"
        },
        "versicherungsNummer": {
          "type": "string"
        },
        "versicherungsZeitraum": {
          "$ref": "#/definitions/VersicherungsZeitraum"
        }
      },
      "title": "Absicherung"
    },
    "AbsicherungsAngaben": {
      "type": "object",
      "properties": {
        "betraegtWoechentlicheArbeitsZeitMindestens15Stunden": {
          "type": "boolean"
        },
        "pruefungVorhandenerAbsicherungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PruefungVorhandenerAbsicherung"
          }
        }
      },
      "title": "AbsicherungsAngaben"
    },
    "Absicherungswunsch": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "versicherungsWuensche": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VersicherungsWunsch"
          }
        }
      },
      "title": "Absicherungswunsch"
    },
    "Angebot": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/Links"
        },
        "absicherungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Absicherung"
          }
        },
        "bausparvertraege": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Bausparvertrag"
          }
        },
        "beleihungsRechnung": {
          "$ref": "#/definitions/BeleihungsRechnung"
        },
        "bewertungDesAngebots": {
          "type": "string",
          "enum": [
            "ANGEBOT_ENTSPRICHT_DEM_WUNSCH_DES_KUNDEN",
            "ANGEBOT_ENTSPRICHT_DER_EMPFEHLUNG_DES_KUNDENBETREUERS"
          ]
        },
        "darlehen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Darlehen"
          }
        },
        "erzeugtAm": {
          "type": "string",
          "format": "date-time",
          "description": "Erzeugungsdatum des Angebots"
        },
        "kennung": {
          "type": "string"
        },
        "machbarkeitsStatus": {
          "type": "string",
          "enum": [
            "MACHBAR",
            "NICHT_MACHBAR",
            "UNTER_VORBEHALT_PRODUZENT"
          ]
        },
        "meldungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Meldung"
          }
        },
        "nummerAmVorgang": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Nummer des gemerkten Angebotes eines Vorgangs."
        },
        "pruefungsErgebnisse": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AngebotsPruefungsErgebnis"
          }
        },
        "zahlungsplaene": {
          "type": "string",
          "description": "Link zu den Zahlungsplänen des Angebots."
        }
      },
      "title": "Angebot"
    },
    "AngebotsPruefungsErgebnis": {
      "type": "object",
      "properties": {
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "weitereAngaben": {
          "type": "string",
          "description": "Vom Produktanbieter bei der Angebotsprüfung ergänzte Daten. Das Format entspricht der Definition des Produktanbieters."
        }
      },
      "title": "AngebotsPruefungsErgebnis"
    },
    "AnnuitaetenDarlehensWunsch": {
      "type": "object",
      "properties": {
        "auszahlungsDatum": {
          "type": "string",
          "format": "date"
        },
        "bereitstellungsZinsFreieZeitInMonaten": {
          "type": "integer",
          "format": "int32"
        },
        "darlehensBetrag": {
          "type": "number"
        },
        "provision": {
          "type": "number"
        },
        "riesterFoerderung": {
          "type": "boolean"
        },
        "riesterGefoerdertePerson": {
          "type": "string"
        },
        "sondertilgungOptionalJaehrlich": {
          "type": "number"
        },
        "tilgungsWunsch": {
          "$ref": "#/definitions/TilgungsWunsch"
        },
        "zinsBindungInJahren": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "AnnuitaetenDarlehensWunsch"
    },
    "Antraege": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/PaginationLinks"
        },
        "antraege": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Antrag"
          }
        }
      },
      "title": "Antraege"
    },
    "Antrag": {
      "type": "object",
      "properties": {
        "_links": {
          "$ref": "#/definitions/Links"
        },
        "angebot": {
          "description": "Das angenommene Angebot, auf dem dieser Antrag basiert",
          "$ref": "#/definitions/Angebot"
        },
        "ansprechpartner": {
          "description": "Für Rückfragen auf Seite des Vertriebs, kann mit dem Vermittler identisch sein",
          "$ref": "#/definitions/Partner"
        },
        "antragsNummer": {
          "type": "string",
          "description": "Nummer des Antrags auf der Europace Plattform"
        },
        "beratung": {
          "description": "Informationen zum Geschäftsabschluss",
          "$ref": "#/definitions/Beratung"
        },
        "datenKontext": {
          "type": "string",
          "description": "Gibt an, ob es sich um einen Antrag aus dem Testmodus oder Echtgeschäft handelt",
          "enum": [
            "ECHT_GESCHAEFT",
            "TEST_MODUS"
          ]
        },
        "dokumente": {
          "type": "array",
          "description": "Enthält alle Plattformdokumente, freigegebene Dokumente des Vertriebs, sowie die hochgeladenen Dokumente des Produktanbieters. **Aktuell sind nur Selbstauskunft und Kreditentscheidungsinformation enthalten.**",
          "items": {
            "$ref": "#/definitions/Dokument"
          }
        },
        "kreditSachbearbeiter": {
          "description": "Gewählter Sachbearbeiter aus Seite des Kreditvertriebs",
          "$ref": "#/definitions/Partner"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "status": {
          "description": "Bearbeitungsfortschritt des Antrags",
          "$ref": "#/definitions/AntragsStatus"
        },
        "vermittler": {
          "description": "Partner auf Seite des Vertriebs",
          "$ref": "#/definitions/Partner"
        },
        "zeitpunktDerAnnahme": {
          "type": "string",
          "format": "date-time",
          "description": "Zeitpunkt, zu dem der Antrag im System erstellt wurde."
        },
        "zugrundeliegendeDaten": {
          "description": "Basisdaten des Kunden, die für die Berechnung des Angebots relevant waren",
          "$ref": "#/definitions/ZugrundeliegendeDatenZumAntrag"
        }
      },
      "title": "Antrag",
      "description": "Diese Resource repräsentiert einen Antrag in Baufi Smart."
    },
    "AntragsStatus": {
      "type": "object",
      "properties": {
        "ablehnungsgrund": {
          "type": "string",
          "description": "Ablehnungsgrund des Produktanbieters",
          "enum": [
            "FINANZIELLE_SITUATION",
            "GEGENANGEBOT",
            "KEINE_ANGABE",
            "KRITERIEN",
            "NEGATIV_MERKMAL",
            "UNTERLAGEN_UNVOLLSTAENDIG",
            "WERTERMITTLUNG"
          ]
        },
        "antragsteller": {
          "type": "string",
          "description": "Willenserklärung des Antragstellers",
          "enum": [
            "BEANTRAGT",
            "NICHT_ANGENOMMEN",
            "UNTERSCHRIEBEN",
            "WIDERRUFEN"
          ]
        },
        "bearbeitungsFortschritt": {
          "type": "string",
          "description": "Bearbeitungsfortschritt des Antrags nach beidseitiger Unterzeichnung",
          "enum": [
            "FREIGEGEBEN_FUER_SAMMELFORDERUNG",
            "NICHT_VON_PRODUKTANBIETER_BESTAETIGT",
            "PROVISION_IN_BEARBEITUNG",
            "PROVISON_AN_KUNDENBETREUER_VOLLSTAENDIG_AUSGEZAHLT",
            "VON_PRODUKTANBIETER_BESTAETIGT"
          ]
        },
        "produktAnbieter": {
          "type": "string",
          "description": "Willenserklärung des Produktanbieters",
          "enum": [
            "ABGELEHNT",
            "NICHT_BEARBEITET",
            "UNTERSCHRIEBEN",
            "ZURUECKGESTELLT"
          ]
        }
      },
      "title": "AntragsStatus"
    },
    "Antragsteller": {
      "type": "object",
      "properties": {
        "absicherungsAngaben": {
          "$ref": "#/definitions/AbsicherungsAngaben"
        },
        "anrede": {
          "type": "string",
          "enum": [
            "FRAU",
            "HERR"
          ]
        },
        "anschrift": {
          "$ref": "#/definitions/Postadresse"
        },
        "arbeitserlaubnis": {
          "type": "boolean",
          "description": "wenn keine deutsche Staatsangehörigkeit"
        },
        "arbeitserlaubnisBefristetBis": {
          "type": "string",
          "format": "date",
          "description": "wenn Arbeitserlaubnis befristet"
        },
        "aufenthaltsTitel": {
          "type": "string",
          "description": "wenn keine deutsche Staatsangehörigkeit",
          "enum": [
            "AUFENTHALTS_ERLAUBNIS",
            "DAUERAUFENTHALT_EU",
            "NIEDERLASSUNGS_ERLAUBNIS",
            "VISUM"
          ]
        },
        "aufenthaltsTitelBefristetBis": {
          "type": "string",
          "format": "date",
          "description": "wenn Aufenthaltstitel befristet"
        },
        "beschaeftigung": {
          "$ref": "#/definitions/Beschaeftigung"
        },
        "bruttoJahresEinkommenErwartet": {
          "type": "number"
        },
        "bruttoVorjahresEinkommen": {
          "type": "number"
        },
        "email": {
          "type": "string",
          "example": "max.mustermann@test.de",
          "description": "Eine valide Emailadresse"
        },
        "externeAntragstellerId": {
          "type": "string"
        },
        "familienstand": {
          "type": "string",
          "enum": [
            "GESCHIEDEN",
            "GETRENNT_LEBEND",
            "LEBENSPARTNERSCHAFT",
            "LEDIG",
            "VERHEIRATET",
            "VERWITWET"
          ]
        },
        "geburtsdatum": {
          "type": "string",
          "format": "date"
        },
        "geburtsort": {
          "type": "string"
        },
        "guetertrennungVereinbartWennVerheiratet": {
          "type": "boolean",
          "description": "nur wenn verheiratet"
        },
        "id": {
          "type": "string"
        },
        "inDeutschlandSeit": {
          "type": "string",
          "format": "date",
          "description": "wenn keine deutsche Staatsangehörigkeit"
        },
        "legitimationsDaten": {
          "$ref": "#/definitions/LegitimationsDaten"
        },
        "nachname": {
          "type": "string"
        },
        "schufaErgebnis": {
          "$ref": "#/definitions/SchufaErgebnis"
        },
        "sozialversicherungsnummer": {
          "type": "string"
        },
        "staatsangehoerigkeit": {
          "$ref": "#/definitions/Staat"
        },
        "steuerId": {
          "type": "string"
        },
        "telefonnummer": {
          "type": "string"
        },
        "telefonnummerVorwahl": {
          "type": "string"
        },
        "titel": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DOKTOR",
              "PROFESSOR"
            ]
          }
        },
        "titelDoktor": {
          "type": "boolean"
        },
        "titelProfessor": {
          "type": "boolean"
        },
        "vorAnschrift": {
          "$ref": "#/definitions/Postadresse"
        },
        "vorname": {
          "type": "string"
        },
        "weitereKontaktMoeglichkeiten": {
          "type": "string"
        },
        "wohnhaftSeit": {
          "type": "string",
          "format": "date"
        }
      },
      "title": "Antragsteller"
    },
    "Archivierung": {
      "type": "object",
      "properties": {
        "grund": {
          "type": "string",
          "enum": [
            "DAS_OBJEKT_IST_WEG",
            "FINANZIERUNG_IST_NICHT_MACHBAR",
            "KUNDE_HAT_EIN_ANDERES_ANGEBOT",
            "KUNDE_IST_NICHT_MEHR_INTERESSIERT",
            "OBJEKT_IST_NICHT_MEHR_VERFUEGBAR",
            "SCHLECHTER_LEAD_NICHT_ZU_ERREICHEN",
            "VORGANG_ERFOLGREICH_ABGESCHLOSSEN"
          ]
        },
        "kommentar": {
          "type": "string"
        }
      },
      "title": "Archivierung"
    },
    "AusgabenMonatlich": {
      "type": "object",
      "properties": {
        "ausgabenMonatlich": {
          "type": "number"
        },
        "berechnungsHilfeVermoegen": {
          "$ref": "#/definitions/BerechnungsHilfeBetrag"
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "AUSGABE",
            "EINNAHME"
          ]
        }
      },
      "title": "AusgabenMonatlich"
    },
    "Autostellplatz": {
      "type": "object",
      "properties": {
        "mieteinnahmenMonatlich": {
          "type": "number"
        },
        "typ": {
          "type": "string",
          "enum": [
            "CARPORT",
            "DOPPEL_GARAGE",
            "GARAGE",
            "KELLER_GARAGE",
            "STELLPLATZ",
            "TIEFGARAGEN_STELLPLATZ"
          ]
        }
      },
      "title": "Autostellplatz"
    },
    "BankUndSparguthaben": {
      "type": "object",
      "properties": {
        "aktuellerWert": {
          "type": "number"
        },
        "ertrag": {
          "type": "number"
        },
        "maximalAufzuloesenderWert": {
          "type": "number"
        },
        "vermoegensEinsatz": {
          "type": "string",
          "enum": [
            "ABTRETEN",
            "AUFLOESEN",
            "KEIN_EINSATZ"
          ]
        },
        "vermoegensTyp": {
          "type": "string",
          "description": "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium",
          "enum": [
            "VERBINDLICHKEIT",
            "VERMOEGEN"
          ]
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "AUSGABE",
            "EINNAHME"
          ]
        },
        "zinsertragJaehrlich": {
          "type": "number"
        },
        "zukuenftigeEinnahmen": {
          "type": "number"
        }
      },
      "title": "BankUndSparguthaben"
    },
    "Bankverbindung": {
      "type": "object",
      "properties": {
        "bic": {
          "type": "string"
        },
        "iban": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "kontoinhaberIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kontoinhaberName": {
          "type": "string"
        },
        "kreditinstitut": {
          "type": "string"
        }
      },
      "title": "Bankverbindung"
    },
    "BausparAngebot": {
      "type": "object",
      "properties": {
        "abschlussGebuehr": {
          "type": "number"
        },
        "angebotsHinweisFuerAntragsteller": {
          "type": "string",
          "description": "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
        },
        "bausparSumme": {
          "type": "number"
        },
        "einmalzahlung": {
          "type": "number",
          "description": "Deprecated. Einmalzahlungen sind Teil der Sonderzahlungen."
        },
        "id": {
          "type": "string"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "sonderZahlungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SonderZahlung"
          }
        },
        "sparBeginn": {
          "type": "string",
          "format": "date",
          "description": "Der berechnete Beginn des Besparens des Bausparvertrags."
        },
        "sparPhase": {
          "$ref": "#/definitions/SparPhase"
        },
        "tarif": {
          "type": "string"
        },
        "tilgungsPhase": {
          "$ref": "#/definitions/TilgungsPhase"
        },
        "typ": {
          "type": "string"
        },
        "vertragsBeginn": {
          "type": "string",
          "format": "date"
        },
        "vertragsNummer": {
          "type": "string"
        },
        "verwaltungsgebuehrenJaehrlich": {
          "type": "number"
        },
        "zuteilungsDatum": {
          "type": "string",
          "format": "date"
        }
      },
      "title": "BausparAngebot"
    },
    "BausparTarif": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "kurzName": {
          "type": "string"
        },
        "langName": {
          "type": "string"
        },
        "produktAnbieter": {
          "type": "string"
        },
        "riesterFoerderung": {
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "enum": [
            "AKTIV",
            "DEAKTIVIERT",
            "IN_ENTWICKLUNG"
          ]
        }
      },
      "title": "BausparTarif"
    },
    "BausparWunsch": {
      "type": "object",
      "properties": {
        "abschlussGebuehrenVerrechnung": {
          "type": "string",
          "enum": [
            "SOFORTZAHLUNG",
            "VERRECHNUNG"
          ]
        },
        "bausparSummeAbsolut": {
          "type": "number"
        },
        "bausparSummeRelativ": {
          "type": "number"
        },
        "bausparTarif": {
          "type": "array",
          "description": "siehe weitere Beschreibung unter Weitere Informationen -> Bezeichnung Bauspartarife",
          "items": {
            "$ref": "#/definitions/BausparTarif"
          }
        },
        "bausparTarife": {
          "type": "array",
          "description": "Deprecated, Zukünftig sind die Informationen zum gewünschen Tarif unter bausparTarif zu finden.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string"
        },
        "riesterFoerderung": {
          "type": "boolean"
        },
        "sonderZahlungEinmalig": {
          "type": "number",
          "description": "Deprecated. Einmalzahlungen sind Teil der Sonderzahlungen."
        },
        "sonderZahlungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SonderZahlung"
          }
        },
        "sparBeginn": {
          "type": "string",
          "format": "date",
          "description": "Der Beginn des Besparens des Bausparvertrags ist frei festlegbar."
        },
        "sparBeitragMonatlichAbsolut": {
          "type": "number"
        },
        "sparBeitragMonatlichRelativ": {
          "type": "number"
        },
        "tilgungsBeitragMonatlich": {
          "type": "number"
        },
        "vertragsPartnerIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "verwendung": {
          "type": "string",
          "enum": [
            "TILGUNGS_AUSGESETZT",
            "ZINS_ABSICHERUNG"
          ]
        },
        "verwendungZulagen": {
          "type": "string",
          "enum": [
            "SONDERZAHLUNG",
            "VERRECHNUNG"
          ]
        },
        "zuteilungsDatum": {
          "type": "string",
          "format": "date"
        }
      },
      "title": "BausparWunsch",
      "description": "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich, zuteilungsDatum und sparBeginn können maximal drei befüllt sein."
    },
    "Bausparvertrag": {
      "type": "object",
      "properties": {
        "abschlussGebuehr": {
          "type": "number"
        },
        "angebotsHinweisFuerAntragsteller": {
          "type": "string",
          "description": "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
        },
        "bausparSumme": {
          "type": "number"
        },
        "einmalzahlung": {
          "type": "number",
          "description": "Deprecated. Einmalzahlungen sind Teil der Sonderzahlungen."
        },
        "gesamtLaufzeitInJahren": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "sonderZahlungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SonderZahlung"
          }
        },
        "sparBeginn": {
          "type": "string",
          "format": "date",
          "description": "Der berechnete Beginn des Besparens des Bausparvertrags."
        },
        "sparPhase": {
          "$ref": "#/definitions/SparPhase"
        },
        "tarif": {
          "type": "string"
        },
        "tarifId": {
          "type": "string",
          "description": "Produktanbieter-spezifische Tarif-ID des Bauspartarifs"
        },
        "tilgungsPhase": {
          "$ref": "#/definitions/TilgungsPhase"
        },
        "typ": {
          "type": "string"
        },
        "vertragsBeginn": {
          "type": "string",
          "format": "date"
        },
        "vertragsNummer": {
          "type": "string"
        },
        "verwaltungsgebuehrenJaehrlich": {
          "type": "number"
        },
        "zuteilungsDatum": {
          "type": "string",
          "format": "date"
        }
      },
      "title": "Bausparvertrag"
    },
    "BeleihungsRechnung": {
      "type": "object",
      "properties": {
        "beleihungsAuslauf": {
          "type": "number",
          "description": "Der Beleihungsauslauf aus Sicht des Produktanbieters. Berechnet sich aus dem Verhältnis anerkannter Darlehen zur Summe der anerkannten Beleihungswerte."
        },
        "beleihungsWerte": {
          "type": "array",
          "description": "Enthält die vom Produktanbieter anerkannten Beleihungswerte",
          "items": {
            "$ref": "#/definitions/BeleihungsWert"
          }
        },
        "beleihungsWerteSumme": {
          "type": "number",
          "description": "Berechnungshilfe: Die Summe aller vom Produktanbieter anerkannten Beleihungswerte"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        }
      },
      "title": "BeleihungsRechnung"
    },
    "BeleihungsWert": {
      "type": "object",
      "properties": {
        "adresse": {
          "$ref": "#/definitions/Postadresse"
        },
        "beleihungsWert": {
          "type": "number"
        },
        "immobilie": {
          "$ref": "#/definitions/ImmobilieVerknuepfung"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        }
      },
      "title": "BeleihungsWert"
    },
    "Beratung": {
      "type": "object",
      "properties": {
        "art": {
          "type": "string",
          "enum": [
            "AUSSER_GESCHAEFTSRAUM_VERTRAG",
            "FERN_ABSATZ_GESCHAEFT",
            "PRAESENZ_GESCHAEFT"
          ]
        },
        "hinweisFuerProduktAnbieter": {
          "type": "string"
        },
        "istKundenBetreuerVerkaeuferOderMaklerDerImmobilie": {
          "type": "boolean",
          "description": "Mit diesem Wert wird ausgedrückt, ob der Kundenbetreuer auch der Immobilienmakler ist."
        }
      },
      "title": "Beratung"
    },
    "BerechnungsHilfeBetrag": {
      "type": "object",
      "properties": {
        "betragNachFinanzierung": {
          "type": "number"
        },
        "betragVorFinanzierung": {
          "type": "number"
        }
      },
      "title": "BerechnungsHilfeBetrag"
    },
    "Bereitstellung": {
      "type": "object",
      "properties": {
        "bereitstellungsZins": {
          "type": "number"
        },
        "bereitstellungsZinsFreieZeitInMonaten": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Bereitstellung"
    },
    "Beschaeftigung": {
      "type": "object",
      "properties": {
        "anzahlGehaelterProJahr": {
          "type": "number",
          "format": "double",
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
        },
        "arbeitgeber": {
          "type": "string",
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
        },
        "arbeitgeberInDeutschlandAnsaessig": {
          "type": "boolean",
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
        },
        "arbeitgeberLand": {
          "description": "nur bei arbeitgeberInDeutschlandAnsaessig==false",
          "$ref": "#/definitions/Staat"
        },
        "art": {
          "type": "string",
          "enum": [
            "ANGESTELLTER",
            "ARBEITER",
            "ARBEITSLOSER",
            "BEAMTER",
            "FREIBERUFLER",
            "HAUSFRAU",
            "RENTNER",
            "SELBSTAENDIGER"
          ]
        },
        "befristungsStatus": {
          "type": "string",
          "description": "nur bei art==ANGESTELLTER,ARBEITER",
          "enum": [
            "BEFRISTET",
            "UNBEFRISTET"
          ]
        },
        "beruf": {
          "type": "string",
          "description": "nur bei art!=RENTNER"
        },
        "beschaeftigtSeit": {
          "type": "string",
          "format": "date",
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTAENDIGER"
        },
        "branche": {
          "type": "string",
          "description": "Berufsgruppe des Antragstellers.",
          "enum": [
            "BAUGEWERBE",
            "BERGBAU_GEWINNUNG_VON_STEINEN_UND_ERDEN",
            "ENERGIEVERSORGUNG",
            "ERZIEHUNG_UNTERRICHT",
            "FINANZ_UND_VERSICHERUNGSDIENSTLEISTUNGEN",
            "FREIBERUFLICHE_WISSENSCHAFTLICHE_UND_TECHNISCHE_DIENSTLEISTUNGEN",
            "GASTGEWERBE",
            "GESUNDHEIT_UND_SOZIALWESEN",
            "GRUNDSTÜCKS_UND_WOHNUNGSWESEN",
            "HANDEL_INSTANDHALTUNG_VON_KRAFTFAHRZEUGEN",
            "INFORMATION_KOMMUNIKATION",
            "KUNST_UNTERHALTUNG_ERHOLUNG",
            "LANDWIRTSCHAFT_FORSTWIRTSCHAFT_FISCHEREI",
            "OEFFENTLICHE_VERWALTUNG_VERTEIDIGUNG_SOZIALVERSICHERUNG",
            "PRIVATE_HAUSHALTE",
            "SONSTIGE_DIENSTLEISTUNGEN",
            "SONSTIGE_WIRTSCHAFTLICHE_DIENSTLEISTUNGEN",
            "VERARBEITENDES_GEWERBE",
            "VERKEHR_LOGISTIK",
            "WASSERVERSORGUNG"
          ]
        },
        "einkommenNettoJaehrlich": {
          "type": "number",
          "description": "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
        },
        "einkommenNettoMonatlich": {
          "type": "number",
          "description": "nur bei art!=FREIBERUFLER,SELBSTAENDIGER"
        },
        "firma": {
          "type": "string",
          "description": "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
        },
        "inProbezeit": {
          "type": "boolean",
          "description": "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
        },
        "situationNachRenteneintritt": {
          "description": "nur bei art!=RENTNER",
          "$ref": "#/definitions/SituationNachRenteneintritt"
        },
        "taetigkeit": {
          "type": "string",
          "description": "nur bei art==FREIBERUFLER,SELBSTAENDIGER",
          "enum": [
            "ALTENPFLEGER",
            "AMBULANTER_KRANKENPFLEGER",
            "ANWALT",
            "APOTHEKER",
            "ARCHITEKT",
            "ARZT",
            "BESTATTER",
            "DATENSCHUTZBEAUFTRAGTER",
            "DEKORATEUR",
            "DIAETASSISTENT",
            "DOLMETSCHER",
            "EDV_BERATER",
            "ERGOTHERAPEUT",
            "ERNAEHRUNGSBERATER",
            "FOTOGRAF",
            "GEOGRAF",
            "GRAFIKDESIGNER",
            "GRAFIKER",
            "HEBAMME",
            "HEILMASSEUR",
            "HEILPRAKTIKER",
            "HISTORIKER",
            "INFORMATIKER",
            "INGENIEUR",
            "INSOLVENZVERWALTER",
            "JOURNALIST",
            "KLASSISCHER_KONZERTMUSIKER",
            "KONSTRUKTEUR",
            "KRANKENGYMNAST",
            "KRANKENPFLEGER",
            "KRANKENSCHWESTER",
            "LOGOPAEDE",
            "MEDIZINISCH_TECHN_ASSISTENT",
            "NOTAR",
            "OPERNSAENGER",
            "PERSONALBERATER",
            "PHYSIOTHERAPEUT",
            "PSYCHOLOGE",
            "RAUMAUSSTATTER",
            "RUNDFUNKSPRECHER",
            "SACHVERSTAENDIGER",
            "SONSTIGES",
            "STADTPLANER",
            "STATIKER",
            "STEUERBERATER",
            "TIERARZT",
            "UNTERNEHMENSBERATER",
            "VERMITTLER",
            "WIRTSCH_BUCHPRUEFER_REVISOR",
            "ZAHNARZT",
            "ZAHNTECHNIKER"
          ]
        }
      },
      "title": "Beschaeftigung"
    },
    "BestehendeImmobilie": {
      "type": "object",
      "properties": {
        "adresse": {
          "$ref": "#/definitions/Postadresse"
        },
        "autostellplaetze": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Autostellplatz"
          }
        },
        "bestehendeDarlehen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BestehendesDarlehen"
          }
        },
        "bewirtschaftungsKostenJaehrlich": {
          "type": "number"
        },
        "bodenRichtwert": {
          "type": "number"
        },
        "bundesland": {
          "type": "string",
          "enum": [
            "BADEN_WUERTTEMBERG",
            "BAYERN",
            "BERLIN",
            "BRANDENBURG",
            "BREMEN",
            "HAMBURG",
            "HESSEN",
            "MECKLENBURG_VORPOMMERN",
            "NIEDERSACHSEN",
            "NORDRHEIN_WESTFALEN",
            "RHEINLAND_PFALZ",
            "SAARLAND",
            "SACHSEN",
            "SACHSEN_ANHALT",
            "SCHLESWIG_HOLSTEIN",
            "THUERINGEN"
          ]
        },
        "effektivZinsErhoehendeKosten": {
          "$ref": "#/definitions/EffektivZinsErhoehendeKosten"
        },
        "erbbaurecht": {
          "$ref": "#/definitions/Erbbaurecht"
        },
        "gebaeude": {
          "$ref": "#/definitions/Gebaeude"
        },
        "grundbuchAngabe": {
          "$ref": "#/definitions/GrundbuchAngabe"
        },
        "grundstueck": {
          "$ref": "#/definitions/Grundstueck"
        },
        "id": {
          "type": "string"
        },
        "immobilienEinsatz": {
          "type": "string",
          "enum": [
            "ALS_ZUSATZSICHERHEIT",
            "KEIN_EINSATZ",
            "VERKAUFEN"
          ]
        },
        "keinBaulandFlaecheInQm": {
          "type": "number"
        },
        "keineBestehendenDarlehenVorhanden": {
          "type": "boolean"
        },
        "marktueblicherKaufpreisProQm": {
          "type": "number"
        },
        "marktwert": {
          "type": "number",
          "description": "Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung und Kapitalbeschaffung."
        },
        "maximalEinzusetzenderBetragWennVerkauf": {
          "type": "number"
        },
        "objektArt": {
          "type": "string",
          "enum": [
            "EIGENTUMSWOHNUNG",
            "GRUNDSTUECK",
            "HAUS"
          ]
        },
        "vergleichsmieteFuerGewerbeflaecheProQm": {
          "type": "number"
        },
        "vergleichsmieteFuerWohnflaecheProQm": {
          "type": "number"
        },
        "verkehrswert": {
          "type": "number",
          "description": "Hat den selben Inhalt wie das Feld marktwert. (Wird in v3 nicht mehr enthalten sein)"
        },
        "vorlaeufigerVerkehrswert": {
          "type": "number",
          "description": "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
        },
        "wohnlage": {
          "type": "string",
          "enum": [
            "EINFACH",
            "GEHOBEN",
            "MITTEL"
          ]
        }
      },
      "title": "BestehendeImmobilie"
    },
    "BestehenderBausparvertrag": {
      "type": "object",
      "properties": {
        "abschlussGebuehr": {
          "type": "number"
        },
        "aktuellerWert": {
          "type": "number"
        },
        "bausparSumme": {
          "type": "number"
        },
        "einmalzahlung": {
          "type": "number",
          "description": "Deprecated. Einmalzahlungen sind Teil der Sonderzahlungen."
        },
        "ertrag": {
          "type": "number"
        },
        "id": {
          "type": "string"
        },
        "maximalAufzuloesenderBetrag": {
          "type": "number"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "sonderZahlungen": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SonderZahlung"
          }
        },
        "sparBeitragMonatlich": {
          "type": "number"
        },
        "tarif": {
          "type": "string"
        },
        "typ": {
          "type": "string"
        },
        "vermoegensEinsatz": {
          "type": "string",
          "enum": [
            "ABTRETEN",
            "AUFLOESEN",
            "KEIN_EINSATZ"
          ]
        },
        "vermoegensTyp": {
          "type": "string",
          "description": "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium",
          "enum": [
            "VERBINDLICHKEIT",
            "VERMOEGEN"
          ]
        },
        "vertragsBeginn": {
          "type": "string",
          "format": "date"
        },
        "vertragsNummer": {
          "type": "string"
        },
        "verwaltungsgebuehrenJaehrlich": {
          "type": "number"
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "AUSGABE",
            "EINNAHME"
          ]
        },
        "zukuenftigeEinnahmen": {
          "type": "number"
        },
        "zuteilungsDatum": {
          "type": "string",
          "format": "date"
        }
      },
      "title": "BestehenderBausparvertrag"
    },
    "BestehendesDarlehen": {
      "type": "object",
      "properties": {
        "abzuloesendeRestschuld": {
          "type": "number"
        },
        "aktuelleRestschuldWennNichtAbzuloesen": {
          "type": "number"
        },
        "darlehensArt": {
          "type": "string",
          "description": "Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "BAUSPARDARLEHEN",
            "FOERDERDARLEHEN",
            "IMMOBILIENDARLEHEN",
            "PRIVATDARLEHEN",
            "SONSTIGES_DARLEHEN"
          ]
        },
        "darlehensBetrag": {
          "type": "number"
        },
        "darlehensGeber": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "darlehensKontonummer": {
          "type": "string"
        },
        "eingetrageneGrundschuld": {
          "type": "number"
        },
        "grundschuldArt": {
          "type": "string",
          "enum": [
            "BRIEF_GRUNDSCHULD",
            "BUCH_GRUNDSCHULD"
          ]
        },
        "id": {
          "type": "string"
        },
        "laufzeitEnde": {
          "type": "string",
          "format": "date"
        },
        "rateMonatlich": {
          "type": "number"
        },
        "sollZins": {
          "type": "number"
        },
        "sondertilgungZumZinsBindungsEnde": {
          "type": "number",
          "description": "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
        },
        "zinsBindungEndetAm": {
          "type": "string",
          "format": "date"
        }
      },
      "title": "BestehendesDarlehen"
    },
    "BestehendesDarlehenDesFinanzierungsObjekts": {
      "type": "object",
      "properties": {
        "abzuloesendeRestschuld": {
          "type": "number"
        },
        "aktuelleRestschuldWennNichtAbzuloesen": {
          "type": "number"
        },
        "darlehensArt": {
          "type": "string",
          "description": "Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "BAUSPARDARLEHEN",
            "FOERDERDARLEHEN",
            "IMMOBILIENDARLEHEN",
            "PRIVATDARLEHEN",
            "SONSTIGES_DARLEHEN"
          ]
        },
        "darlehensBetrag": {
          "type": "number"
        },
        "darlehensGeber": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "darlehensKontonummer": {
          "type": "string"
        },
        "eingetrageneGrundschuld": {
          "type": "number"
        },
        "grundschuldArt": {
          "type": "string",
          "enum": [
            "BRIEF_GRUNDSCHULD",
            "BUCH_GRUNDSCHULD"
          ]
        },
        "id": {
          "type": "string"
        },
        "laufzeitEnde": {
          "type": "string",
          "format": "date"
        },
        "rateMonatlich": {
          "type": "number"
        },
        "sollZins": {
          "type": "number"
        },
        "sondertilgungZumZinsBindungsEnde": {
          "type": "number",
          "description": "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
        },
        "verwendenAls": {
          "type": "string",
          "description": "Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben, behandelt werden soll.",
          "enum": [
            "ABLOESEN",
            "TRITT_IM_RANG_ZURUECK",
            "TRITT_NICHT_IM_RANG_ZURUECK"
          ]
        },
        "zinsBindungEndetAm": {
          "type": "string",
          "format": "date"
        }
      },
      "title": "BestehendesDarlehenDesFinanzierungsObjekts"
    },
    "Darlehen": {
      "type": "object",
      "properties": {
        "auszahlungsBetrag": {
          "type": "number"
        },
        "auszahlungsDatum": {
          "type": "string",
          "format": "date",
          "description": "nur bei darlehensTyp IN [FORWARD_DARLEHEN, ANNUITAETEN_DARLEHEN]"
        },
        "auszahlungsKurs": {
          "type": "number"
        },
        "bereitstellung": {
          "description": "nicht bei darlehensTyp==PRIVAT_DARLEHEN",
          "$ref": "#/definitions/Bereitstellung"
        },
        "darlehensBetrag": {
          "type": "number"
        },
        "darlehensTyp": {
          "type": "string",
          "enum": [
            "ANNUITAETEN_DARLEHEN",
            "FORWARD_DARLEHEN",
            "KFW_DARLEHEN",
            "PRIVAT_DARLEHEN",
            "REGIONAL_FOERDER_DARLEHEN",
            "VARIABLES_DARLEHEN",
            "ZWISCHEN_FINANZIERUNG"
          ]
        },
        "detailsZurVerwendung": {
          "type": "string",
          "description": "nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG"
        },
        "effektivZins": {
          "type": "number"
        },
        "effektivZinsRelevanteKosten": {
          "$ref": "#/definitions/EffektivZinsKosten"
        },
        "forwardPeriodeInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensTyp==FORWARD_DARLEHEN"
        },
        "kfwEnergieEffizienzGruppe": {
          "type": "string",
          "description": "nur bei darlehensTyp==KFW_DARLEHEN. Nur bei KfW-Programm 153, 261, 262.Es können auch weitere Werte zulässig werden.",
          "enum": [
            "NEUBAU",
            "SANIERUNG",
            "STANDARD"
          ]
        },
        "kfwEnergieEffizienzStandard": {
          "type": "string",
          "description": "nur bei darlehensTyp==KFW_DARLEHEN. Nur bei KfW-Programm 153, 261, 262 relevant. Bei neuen Energieeffizienzstandards können auch weitere Werte zulässig werden.",
          "enum": [
            "STANDARD_100",
            "STANDARD_100_EEK",
            "STANDARD_40",
            "STANDARD_40_EEK",
            "STANDARD_40_NH",
            "STANDARD_40_PLUS",
            "STANDARD_55",
            "STANDARD_55_EEK",
            "STANDARD_70",
            "STANDARD_70_EEK",
            "STANDARD_85",
            "STANDARD_85_EEK",
            "STANDARD_DENKMAL",
            "STANDARD_DENKMAL_EEK"
          ]
        },
        "kfwProgramm": {
          "type": "string",
          "description": "nur bei darlehensTyp==KFW_DARLEHEN. Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig werden.",
          "enum": [
            "PROGRAMM_124",
            "PROGRAMM_141",
            "PROGRAMM_151",
            "PROGRAMM_152",
            "PROGRAMM_153",
            "PROGRAMM_155",
            "PROGRAMM_159",
            "PROGRAMM_167",
            "PROGRAMM_261",
            "PROGRAMM_262"
          ]
        },
        "kfwSanierungsFahrplanLiegtVor": {
          "type": "boolean",
          "description": "nur bei darlehensTyp==KFW_DARLEHEN. Nur bei KfW-Programm 261, 262 relevant."
        },
        "konditionWurdeManuellAngepasst": {
          "type": "boolean"
        },
        "konditionsAnpassungsBegruendung": {
          "type": "string",
          "description": "Begründung, wenn die Kondition angepasst wurde"
        },
        "laufZeitInJahren": {
          "type": "integer",
          "format": "int32"
        },
        "laufzeitInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensTyp==PRIVAT_DARLEHEN"
        },
        "maximaleLaufzeitInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "rateMonatlich": {
          "type": "number",
          "example": 123.34,
          "description": "Die monatliche Rate in Euro"
        },
        "rateMonatlichInDerTilgungsfreienAnlaufzeit": {
          "type": "number",
          "description": "nur bei darlehensTyp IN [KFW_DARLEHEN, REGIONAL_FOERDER_DARLEHEN]"
        },
        "regionalFoerderbankProgramm": {
          "type": "string",
          "description": "nur bei darlehensTyp==REGIONAL_FOERDER_DARLEHEN. Bei neu aufgelegten Regional-Förderbank-Programmen können auch weitere Werte zulässig werden. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "L_BANK_KOMBI_DARLEHEN_WOHNEN",
            "L_BANK_WOHNEN_MIT_KIND",
            "L_BANK_WOHNEN_MIT_ZUKUNFT",
            "NRW_BANK_WOHNEIGENTUM"
          ]
        },
        "riesterGefoerdert": {
          "type": "boolean"
        },
        "sollZins": {
          "type": "number",
          "example": 2.05,
          "description": "Der Sollzinssatz in Prozent"
        },
        "tilgung": {
          "description": "nicht bei darlehensTyp==ZWISCHEN_FINANZIERUNG",
          "$ref": "#/definitions/Tilgung"
        },
        "tilgungsFreieAnlaufJahre": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensTyp IN [KFW_DARLEHEN, REGIONAL_FOERDER_DARLEHEN]"
        },
        "verwendungszweck": {
          "type": "string",
          "description": "nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG",
          "enum": [
            "SONSTIGE_VERWENDUNG",
            "VERKAUF_EINES_ANDEREN_OBJEKTS",
            "VORFINANZIERUNG_OEFFENTLICHER_MITTEL"
          ]
        },
        "zinsBindung": {
          "description": "nicht bei darlehensTyp IN [VARIABLES_DARLEHEN,ZWISCHEN_FINANZIERUNG]",
          "$ref": "#/definitions/ZinsBindung"
        },
        "zinsZahlungsBeginnAm": {
          "type": "string",
          "format": "date"
        }
      },
      "title": "Darlehen"
    },
    "Darlehen0": {
      "type": "object",
      "properties": {
        "auszahlungsBetrag": {
          "type": "number"
        },
        "auszahlungsDatum": {
          "type": "string",
          "format": "date",
          "description": "nur bei darlehensTyp IN [FORWARD_DARLEHEN, ANNUITAETEN_DARLEHEN]"
        },
        "auszahlungsKurs": {
          "type": "number"
        },
        "bereitstellung": {
          "description": "nicht bei darlehensTyp==PRIVAT_DARLEHEN",
          "$ref": "#/definitions/Bereitstellung"
        },
        "darlehensBetrag": {
          "type": "number"
        },
        "darlehensTyp": {
          "type": "string",
          "enum": [
            "ANNUITAETEN_DARLEHEN",
            "FORWARD_DARLEHEN",
            "KFW_DARLEHEN",
            "PRIVAT_DARLEHEN",
            "REGIONAL_FOERDER_DARLEHEN",
            "VARIABLES_DARLEHEN",
            "ZWISCHEN_FINANZIERUNG"
          ]
        },
        "detailsZurVerwendung": {
          "type": "string",
          "description": "nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG"
        },
        "effektivZins": {
          "type": "number"
        },
        "effektivZinsRelevanteKosten": {
          "$ref": "#/definitions/EffektivZinsKosten"
        },
        "forwardPeriodeInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensTyp==FORWARD_DARLEHEN"
        },
        "kfwEnergieEffizienzGruppe": {
          "type": "string",
          "description": "nur bei darlehensTyp==KFW_DARLEHEN. Nur bei KfW-Programm 153, 261, 262.Es können auch weitere Werte zulässig werden.",
          "enum": [
            "NEUBAU",
            "SANIERUNG",
            "STANDARD"
          ]
        },
        "kfwEnergieEffizienzStandard": {
          "type": "string",
          "description": "nur bei darlehensTyp==KFW_DARLEHEN. Nur bei KfW-Programm 153, 261, 262 relevant. Bei neuen Energieeffizienzstandards können auch weitere Werte zulässig werden.",
          "enum": [
            "STANDARD_100",
            "STANDARD_100_EEK",
            "STANDARD_40",
            "STANDARD_40_EEK",
            "STANDARD_40_NH",
            "STANDARD_40_PLUS",
            "STANDARD_55",
            "STANDARD_55_EEK",
            "STANDARD_70",
            "STANDARD_70_EEK",
            "STANDARD_85",
            "STANDARD_85_EEK",
            "STANDARD_DENKMAL",
            "STANDARD_DENKMAL_EEK"
          ]
        },
        "kfwProgramm": {
          "type": "string",
          "description": "nur bei darlehensTyp==KFW_DARLEHEN. Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig werden.",
          "enum": [
            "PROGRAMM_124",
            "PROGRAMM_141",
            "PROGRAMM_151",
            "PROGRAMM_152",
            "PROGRAMM_153",
            "PROGRAMM_155",
            "PROGRAMM_159",
            "PROGRAMM_167",
            "PROGRAMM_261",
            "PROGRAMM_262"
          ]
        },
        "kfwSanierungsFahrplanLiegtVor": {
          "type": "boolean",
          "description": "nur bei darlehensTyp==KFW_DARLEHEN. Nur bei KfW-Programm 261, 262 relevant."
        },
        "konditionWurdeManuellAngepasst": {
          "type": "boolean"
        },
        "konditionsAnpassungsBegruendung": {
          "type": "string",
          "description": "Begründung, wenn die Kondition angepasst wurde"
        },
        "laufZeitInJahren": {
          "type": "integer",
          "format": "int32"
        },
        "laufzeitInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensTyp==PRIVAT_DARLEHEN"
        },
        "maximaleLaufzeitInMonaten": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG"
        },
        "produktAnbieter": {
          "$ref": "#/definitions/ProduktAnbieter"
        },
        "rateMonatlich": {
          "type": "number",
          "example": 123.34,
          "description": "Die monatliche Rate in Euro"
        },
        "rateMonatlichInDerTilgungsfreienAnlaufzeit": {
          "type": "number",
          "description": "nur bei darlehensTyp IN [KFW_DARLEHEN, REGIONAL_FOERDER_DARLEHEN]"
        },
        "regionalFoerderbankProgramm": {
          "type": "string",
          "description": "nur bei darlehensTyp==REGIONAL_FOERDER_DARLEHEN. Bei neu aufgelegten Regional-Förderbank-Programmen können auch weitere Werte zulässig werden. Der Client muss daher mit unbekannten Werten umgehen können.",
          "enum": [
            "L_BANK_KOMBI_DARLEHEN_WOHNEN",
            "L_BANK_WOHNEN_MIT_KIND",
            "L_BANK_WOHNEN_MIT_ZUKUNFT",
            "NRW_BANK_WOHNEIGENTUM"
          ]
        },
        "riesterGefoerdert": {
          "type": "boolean"
        },
        "sollZins": {
          "type": "number",
          "example": 2.05,
          "description": "Der Sollzinssatz in Prozent"
        },
        "tilgung": {
          "description": "nicht bei darlehensTyp==ZWISCHEN_FINANZIERUNG",
          "$ref": "#/definitions/Tilgung"
        },
        "tilgungsFreieAnlaufJahre": {
          "type": "integer",
          "format": "int32",
          "description": "nur bei darlehensTyp IN [KFW_DARLEHEN, REGIONAL_FOERDER_DARLEHEN]"
        },
        "verwendungszweck": {
          "type": "string",
          "description": "nur bei darlehensTyp==ZWISCHEN_FINANZIERUNG",
          "enum": [
            "SONSTIGE_VERWENDUNG",
            "VERKAUF_EINES_ANDEREN_OBJEKTS",
            "VORFINANZIERUNG_OEFFENTLICHER_MITTEL"
          ]
        },
        "zinsBindung": {
          "description": "nicht bei darlehensTyp IN [VARIABLES_DARLEHEN,ZWISCHEN_FINANZIERUNG]",
          "$ref": "#/definitions/ZinsBindung"
        },
        "zinsZahlungsBeginnAm": {
          "type": "string",
          "format": "date"
        }
      },
      "title": "Darlehen0"
    },
    "DarlehensWunsch": {
      "type": "object",
      "properties": {
        "annuitaetenDarlehen": {
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist",
          "$ref": "#/definitions/AnnuitaetenDarlehensWunsch"
        },
        "forwardDarlehen": {
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist",
          "$ref": "#/definitions/ForwardDarlehensWunsch"
        },
        "id": {
          "type": "string"
        },
        "kfwDarlehen": {
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist",
          "$ref": "#/definitions/KfwDarlehensWunsch"
        },
        "privatDarlehen": {
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist",
          "$ref": "#/definitions/PrivatDarlehensWunsch"
        },
        "regionalFoerderDarlehen": {
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist",
          "$ref": "#/definitions/RegionalFoerderDarlehensWunsch"
        },
        "variablesDarlehen": {
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist",
          "$ref": "#/definitions/VariablesDarlehensWunsch"
        },
        "zwischenFinanzierung": {
          "description": "muss leer sein, wenn eines der anderen Attribute gefüllt ist",
          "$ref": "#/definitions/ZwischenFinanzierungsWunsch"
        }
      },
      "title": "DarlehensWunsch"
    },
    "Dokument": {
      "type": "object",
      "properties": {
        "art": {
          "type": "string",
          "description": "ist nicht immer vorhanden"
        },
        "href": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "titel": {
          "type": "string",
          "description": "Name des Dokuments"
        },
        "type": {
          "type": "string"
        }
      },
      "title": "Dokument"
    },
    "EffektivZinsErhoehendeKosten": {
      "type": "object",
      "properties": {
        "anpassen": {
          "type": "boolean"
        },
        "grundbuchEintragungsKostenEinmalig": {
          "type": "number"
        },
        "sonstigeKostenBezeichnung": {
          "type": "string"
        },
        "sonstigeKostenEinmalig": {
          "type": "number"
        },
        "wohnGebaeudeVersicherungsKostenJaehrlich": {
          "type": "number"
        }
      },
      "title": "EffektivZinsErhoehendeKosten"
    },
    "EffektivZinsKosten": {
      "type": "object",
      "properties": {
        "beratungsHonorar": {
          "type": "number"
        },
        "grundbuchKosten": {
          "type": "number"
        },
        "sonstigeKosten": {
          "type": "number"
        },
        "tilgungsErsatzProduktKosten": {
          "type": "number"
        },
        "wohnGebaeudeVersicherungsKosten": {
          "type": "number"
        },
        "zinsabsicherungsKosten": {
          "type": "number"
        },
        "zusatzSicherheitsKosten": {
          "type": "number"
        }
      },
      "title": "EffektivZinsKosten"
    },
    "EinkuenfteAusNebentaetigkeit": {
      "type": "object",
      "properties": {
        "beginnDerNebentaetigkeit": {
          "type": "string",
          "format": "date"
        },
        "einnahmenMonatlich": {
          "type": "number"
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "AUSGABE",
            "EINNAHME"
          ]
        }
      },
      "title": "EinkuenfteAusNebentaetigkeit"
    },
    "EinnahmenMonatlich": {
      "type": "object",
      "properties": {
        "einnahmenMonatlich": {
          "type": "number"
        },
        "zahlungsTyp": {
          "type": "string",
          "description": "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium",
          "enum": [
            "AUSGABE",
            "EINNAHME"
          ]
        }
      },
      "title": "EinnahmenMonatlich"
    },
    "Eintrag": {
      "type": "object",
      "properties": {
        "datum": {
          "type": "string",
          "format": "date"
        },
        "kontofuehrungsGebuehr": {
          "type": "number"
        },
        "laufendeGebuehr": {
          "type": "number"
        },
        "saldo": {
          "type": "number"
[...]
