name: Pull Request on Branch Push
on:
  push:
    branches:
      - "publish/*"
jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Expose git commit data
        uses: rlespinasse/git-commit-data-action@v1.x
      - name: pull-request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: ""                                 # If blank, default: triggered branch
          destination_branch: "master"                      # If blank, default: master
          pr_template: ".github/pull_request_template.md"
          github_token: ${{ secrets.GITHUB_TOKEN }}
